@using ValidationSummaryTagHelper = NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ServiceRecipientModels.UploadOrSelectServiceRecipientModel;
@{
    ViewBag.Title = Model.Title;
}
<partial name="Partials/_BackLink" model="@Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="ShouldUploadRecipients" />
        <nhs-page-title model="@Model" />
        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="Caption" />

            <nhs-fieldset-form-label asp-for="@Model"
                                     size="Medium">
                <nhs-radio-buttons asp-for="ShouldUploadRecipients"
                                   display-name="Text"
                                   values="Model.ServiceRecipientOptions.Cast<object>()"
                                   value-name="Value" />
            </nhs-fieldset-form-label>

            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button />
            </div>
        </form>
    </div>
</div>
