@{
    ViewData["Title"] = $"Supplier information for C010000-01";
}


<div class="nhsuk-width-container" data-test-id="supplier-page">
    <div data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/order/organisation/03F/order/C010004-01">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">


            <h1 data-test-id="supplier-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Supplier information for C010004-01</h1>
            <p data-test-id="supplier-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">Check the supplier information and edit details for the primary contact for this order.</p>

            <div data-test-id="supplier-page-insetAdvice">
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    Once saved, you'll not be able to change the supplier for this order. To change the supplier, you'd need to start a new order.
                </div>

            </div>
        </div>
    </div>

    <form method="post">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <input type="hidden" name="_csrf" value="JWKiWrsg-kklvdi_RgWtEOG2Wi-tEfLmvocs" />
                <h3 data-test-id="supplier-name-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Supplier name</h3>
                <input type="hidden" name="supplierId" value="10000" />
                <div data-test-id="supplier-name" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">EMIS Health</div>
                <input type="hidden" name="name" value="EMIS Health" />

                <h3 data-test-id="supplier-address-heading" class="nhsuk-heading-s nhsuk-u-margin-bottom-3">Registered address</h3>
                <div data-test-id="supplier-address-1" class="nhsuk-u-font-size-19">Rawdon House</div>
                <input type="hidden" name="line1" value="Rawdon House" />
                <div data-test-id="supplier-address-2" class="nhsuk-u-font-size-19">Green Lane</div>
                <input type="hidden" name="line2" value="Green Lane" />
                <div data-test-id="supplier-address-3" class="nhsuk-u-font-size-19"></div>
                <input type="hidden" name="line3" value="" />
                <div data-test-id="supplier-address-4" class="nhsuk-u-font-size-19"></div>
                <input type="hidden" name="line4" value="" />
                <div data-test-id="supplier-address-5" class="nhsuk-u-font-size-19"></div>
                <input type="hidden" name="line5" value="" />
                <div data-test-id="supplier-address-town" class="nhsuk-u-font-size-19"></div>
                <input type="hidden" name="town" value="" />
                <div data-test-id="supplier-address-county" class="nhsuk-u-font-size-19">West Yorkshire</div>
                <input type="hidden" name="county" value="West Yorkshire" />
                <div data-test-id="supplier-address-postcode" class="nhsuk-u-font-size-19">LS19 7BY</div>
                <input type="hidden" name="postcode" value="LS19 7BY" />
                <div data-test-id="supplier-address-country" class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-5">England</div>
                <input type="hidden" name="country" value="England" />


            </div>
        </div>

        <hr class="bc-c-order-table__hr" />

        <div class="nhsuk-grid-row">
            <div data-test-id="primary-contact-fields" class="nhsuk-grid-column-two-thirds">
                <h2 data-test-id="primary-contact-heading" class="nhsuk-u-font-size-32 nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-3">Primary contact’s details</h2>


                <div class="nhsuk-u-margin-bottom-5">







                    <div data-test-id="question-firstName">

                        <div data-test-id="text-field-input">


                            <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="firstName">
                                    First name
                                </label>
                                <input class="nhsuk-input" id="firstName" name="firstName" type="text" value="sdfdf">
                            </div>

                        </div>

                        <div data-test-id="text-field-footer">
                            <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                                (Maximum character length 100)
                            </span>
                        </div>
                    </div>

                </div>

                <div class="nhsuk-u-margin-bottom-5">







                    <div data-test-id="question-lastName">

                        <div data-test-id="text-field-input">


                            <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="lastName">
                                    Last name
                                </label>
                                <input class="nhsuk-input" id="lastName" name="lastName" type="text" value="sdfsdf">
                            </div>

                        </div>

                        <div data-test-id="text-field-footer">
                            <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                                (Maximum character length 100)
                            </span>
                        </div>
                    </div>

                </div>

                <div class="nhsuk-u-margin-bottom-5">







                    <div data-test-id="question-emailAddress">

                        <div data-test-id="text-field-input">


                            <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="emailAddress">
                                    Email address
                                </label>
                                <input class="nhsuk-input" id="emailAddress" name="emailAddress" type="text" value="test@test.com">
                            </div>

                        </div>

                        <div data-test-id="text-field-footer">
                            <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                                (Maximum character length 256)
                            </span>
                        </div>
                    </div>

                </div>

                <div class="nhsuk-u-margin-bottom-5">







                    <div data-test-id="question-telephoneNumber">

                        <div data-test-id="text-field-input">


                            <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="telephoneNumber">
                                    Telephone number
                                </label>
                                <input class="nhsuk-input" id="telephoneNumber" name="telephoneNumber" type="text" value="1234">
                            </div>

                        </div>

                        <div data-test-id="text-field-footer">
                            <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                                (Maximum character length 35)
                            </span>
                        </div>
                    </div>

                </div>










                <div data-test-id="save-button">










                    <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                        Save and return
                    </button>



                </div>

            </div>
        </div>
    </form>
</div>
