@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.AboutOrganisation.AboutSupplierModel;
@{
    ViewData["Title"] = "About supplier";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Help buyers learn more about your organisation." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.SupplierId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <nhs-textarea asp-for="Description"
                          label-text="Description (optional)"
                          label-hint="Provide information about your organisation, for example its ethos, experience and plans for the future."
                          number-of-rows="10" />
            <nhs-input asp-for="Link"
                       label-text="Link to more information (optional)"
                       label-hint="Provide a URL to a page that gives buyers further information about your organisation." />
            <nhs-inset-text>
                <p class="nhsuk-u-font-size-14">If provided, this will be the default ‘supplier description’ on any listing pages for Catalogue Solutions supplied by your organisation. Any changes made will be visible across all your listing pages.</p>
            </nhs-inset-text>
            <nhs-submit-button />
        </form>
    </div>
</div>
