@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.AboutOrganisation.ContactDetailsModel;
@{
    ViewData["Title"] = "Contact details";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="Contact details"
                        title-advice="Help buyers get in touch about your Catalogue Solution." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <div data-test-id="question-contact-1" class="nhsuk-u-margin-bottom-6">
                <div data-test-id="multi-question-main-advice">
                    <span class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold bc-u-inline-block nhsuk-u-margin-bottom-2">
                        Contact 1 (optional)
                    </span>
                </div>
                <span data-test-id="multi-question-additional-advice" class="nhsuk-hint nhsuk-u-margin-bottom-3">
                    Provide some or all of the following information about an individual or department at your organisation.
                </span>
                <div data-test-id="multi-question-questions">
                    <input type="hidden" asp-for="Contact1.Id" />
                    <nhs-validation-input asp-for="Contact1.FirstName"
                                          label-text="First name" />
                    <nhs-validation-input asp-for="Contact1.LastName"
                                          label-text="Last name" />
                    <nhs-validation-input asp-for="Contact1.Department"
                                          label-text="Department name" />
                    <nhs-validation-input asp-for="Contact1.PhoneNumber"
                                          label-text="Phone number" />
                    <nhs-validation-input asp-for="Contact1.Email"
                                          label-text="Email address" />
                </div>
            </div>
            <div data-test-id="question-contact-2" class="nhsuk-u-margin-bottom-6">
                <div data-test-id="multi-question-main-advice">
                    <span class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold bc-u-inline-block nhsuk-u-margin-bottom-2">
                        Contact 2 (optional)
                    </span>
                </div>
                <span data-test-id="multi-question-additional-advice" class="nhsuk-hint nhsuk-u-margin-bottom-3">
                    Provide some or all of the following information about an individual or department at your organisation.
                </span>
                <div data-test-id="multi-question-questions">
                    <input type="hidden" asp-for="Contact2.Id" />
                    <nhs-validation-input asp-for="Contact2.FirstName"
                                          label-text="First name" />
                    <nhs-validation-input asp-for="Contact2.LastName"
                                          label-text="Last name" />
                    <nhs-validation-input asp-for="Contact2.Department"
                                          label-text="Department name" />
                    <nhs-validation-input asp-for="Contact2.PhoneNumber"
                                          label-text="Phone number" />
                    <nhs-validation-input asp-for="Contact2.Email"
                                          label-text="Email address" />
                </div>
            </div>
            <nhs-submit-button />
        </form>

    </div>
</div>