@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsWarningCallout.NhsWarningCalloutModel

    <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
            <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                @Model.Title
            </span>
        </h3>
        <p>@Model.Text</p>
    </div>
