@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.CatalogueSolutions.DeleteContinueModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="delete-catalogue-confirmation-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" 
                            advice="This Catalogue Solution has been deleted from all the Service Recipients in your order along with any of its Additional Services." />
            <vc:nhs-secondary-button url="@Model.ContinueLink"
                                     text="Continue"/>
        </div>
    </div>
</div>
