@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.SelectSolutionPriceModel;
@{
    ViewData["Title"] = $"List price for Write on Time";
}

<div class="nhsuk-width-container" data-test-id="solution-price-page">
    <div data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/order/organisation/03F/order/C010002-01/catalogue-solutions/select/solution">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 data-test-id="solution-price-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">List price for Write on Time</h1>
            <p data-test-id="solution-price-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">Select the list price for this Catalogue Solution. If you’ve agreed a different price with the supplier, the values can be altered later.</p>

            <form method="post">

                <div id="selectSolutionPrice" data-test-id="question-selectSolutionPrice">

                    <div data-test-id="radiobutton-options">

                        <div class="nhsuk-form-group">

                            <fieldset class="nhsuk-fieldset">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                    Select list price
                                </legend>

                                <div class="nhsuk-radios">

                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectSolutionPrice-1" name="selectSolutionPrice" type="radio" value="1">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectSolutionPrice-1">
                                            £99.99 per patient per year
                                        </label>
                                    </div>

                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectSolutionPrice-2" name="selectSolutionPrice" type="radio" value="2">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectSolutionPrice-2">
                                            <div>1 - 999 patients £123.45 per patient per year</div><div>1000 - 1999 patients £49.99 per patient per year</div><div>2000+ patients £19.99 per patient per year</div>
                                        </label>
                                    </div>

                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectSolutionPrice-3" name="selectSolutionPrice" type="radio" value="3">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectSolutionPrice-3">
                                            £1,001.01 per consultation
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div data-test-id="continue-button">

                    <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
