.bc-list-none {
  list-style: none;
}

.bc-margin-left {
  margin-left: 10px;
}

.bc-u-text-align-right {
  text-align: right;
}

.bc-u-text-align-left {
  text-align: left;
}

.bc-u-display-inline {
  display: inline;
}

.bc-u-inline-block {
  display: inline-block;
}

.bc-u-block-float-left {
  display: block;
  @media (min-width: 641px) {
    float: left;
  }
}

.bc-u-float-right {
  @media (min-width: 641px) {
    float: right;
  }
}

.bc-u-max-width-full {
  max-width: 100%;
}

.bc-u-flex {
  @include flex();
}
