// background
.bc-bg--grey-4 {
  background-color: $color_nhsuk-grey-4;
}

.bc-t-border-top--blue {
  border-top: 2px solid $color_nhsuk-blue;
}

// font
.bc-t-font-color--grey-1 {
  color: $color_nhsuk-grey-1;
  // same as $nhsuk-secondary-text-color
  //         $nhsuk-form-border-color
  //         $nhsuk-secondary-button-color
}

.bc-t-font-color--white {
  color: $color_nhsuk-white;
}
