@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.OrderTriage.GenericOrderTriageModel
@{
    ViewBag.Title = "What is the approximate value of the order you want to place?";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="You’re not ready to start an order"
                            advice="You need to know the approximate value of your contract so you can follow the correct procurement procedure." />

            <h2>For orders worth under £40k (excluding VAT)</h2>

            <p>You can browse the Buying Catalogue and select any solution you want to order.</p>

            <h2>For orders between £40k and £250k (excluding VAT)</h2>

            <p>You must carry out a competition of similar solutions using information available on the Buying Catalogue. Score solutions based on how they perform against certain criteria, for example, price, implementation timescales or service levels.</p>

            <h2>For orders over £250k</h2>

            <p>You must invite shortlisted suppliers to provide written tenders. You can select the solution you want to order based on this information.</p>

            <p>Once you have carried out one of these procurement processes and identified the most appropriate solution, you’ll be ready to place your order.</p>

            <h2>Need help?</h2>

            <p>
                For help using the Buying Catalogue, contact the
                <a id="procurement-hub-link"
                   href="@Url.Action(
                             nameof(ProcurementHubController.Index),
                             typeof(ProcurementHubController).ControllerName(),
                             new { returnUrl = Url.Action(
                                 nameof(OrderTriageController.NotSure),
                                 typeof(OrderTriageController).ControllerName(),
                                 new { Model!.InternalOrgId }),
                             })">National Commercial and Procurement Hub</a>.
            </p>

            <vc:nhs-secondary-button text="Return to orders dashboard"
                                     use-primary-colour="true"
                                     url="@Model.OrdersDashboardLink" />
        </div>
    </div>
</div>
