@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.FundingSource.FundingSourceModel
@{
    ViewBag.Title = "What funding source are you using to pay for this order?";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary RadioId="@nameof(Model.SelectedFundingSource)" />
            <nhs-page-title title="@ViewBag.Title" />

            <form method="post">
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="BackLinkText" />

                <nhs-fieldset-form-label asp-for="SelectedFundingSource" label-hint="Select the funding source you’ll be using to pay for this order. If you want to pay using two different sources, you’ll need to create two separate order summaries.">
                    <nhs-radio-buttons asp-for="SelectedFundingSource"
                                       values="Model.AvailableFundingSources.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text" />
                </nhs-fieldset-form-label>

                <nhs-details label-text="What is central and local funding?" data-test-id="funding-inset">
                    <b>Central funding</b>
                    <p><br />Central funding means you’re using your centrally held allocation to pay for the order. Any solutions or services you order will be paid for by either NHS England or NHS Digital. The supplier will invoice the relevant organisation directly.</p>
                    <p>You should make sure you have enough of your central allocation available to pay for your order before placing it.</p>

                    <b>Local funding</b>
                    <p><br />Local funding means your organisation will be paying for the order. The supplier will invoice you directly.</p>
                </nhs-details>

                <nhs-submit-button text="Continue" />
            </form>

            <h2>Need help?</h2>
            <p>For help using the Buying Catalogue, contact the National and Commercial Procurement Hub:</p>

            <vc:nhs-action-link id="procurement-hub-link" text="Contact Procurement Hub"
                            url="@Url.Action(
                                nameof(ProcurementHubController.Index),
                                typeof(ProcurementHubController).ControllerName())" />
        </div>
    </div>
</div>
