@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
<footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link"
                       asp-action="@nameof(HomeController.AccessibilityStatement)"
                       asp-controller="@typeof(HomeController).ControllerName()">Accessibility statement</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="https://digital.nhs.uk/services/digital-care-services-catalogue/nhs-digital-buying-catalogue">About us</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="~/contact-us">Contact us</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="~/privacy-policy">Privacy policy and cookies</a>
                </li>
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link" href="~/document/terms-of-use.pdf">Terms of Use</a>
                </li>
            </ul>
            <p class="nhsuk-footer__copyright">© Crown copyright</p>
        </div>
    </div>
</footer>
