@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierDefinedEpics.DeleteSupplierDefinedEpicConfirmationModel
@{
    ViewBag.Title = $"Delete {Model.Name}?";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        advice="Confirm you want to delete this supplier defined Epic." />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <form method="post">
                    <input type="hidden" asp-for="Id" />
                    <div>
                        <nhs-submit-button text="Delete" />
                    </div>
                    <div>
                        <a href="@Model.BackLink">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
