@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.DeleteApplicationTypeModels.DeleteApplicationTypeConfirmationModel;
@{
    ViewData["Title"] = $"Delete {Model.ApplicationType} application?";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewData["Title"]"
                            caption="@Model.SolutionName"
                            advice="Confirm you want to delete this client application type" />
            <form method="post">
                <nhs-submit-button text="Delete application type" />
                <vc:nhs-backlink url="@Model.BackLink" text="Cancel" />
            </form>
        </div>
    </div>
</div>
