@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.DeleteApplicationTypeModels.DeleteApplicationTypeConfirmationModel;
@{
    ViewBag.Title = $"Delete {Model.ApplicationType} application?";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
            <partial name="Partials/_BackLink" model="Model" />
        </div>

        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.SolutionName"
                            advice="Confirm you want to delete this application type." />
            <form method="post">
                <div>
                    <nhs-submit-button text="Delete" />
                </div>
                <div>
                    <a href="@Model.BackLink">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
