@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.Card
@model JustifySolutionsModel

@{
    ViewBag.Title = "Excluded solutions";
}

<partial name="Partials/_BackLink" model="Model"/>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary/>
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"/>
        <form method="post">
            <nhs-card-v2>
                <nhs-card-content>
                    
                        <input type="hidden" asp-for="BackLink"/>
                        <input type="hidden" asp-for="CompetitionName"/>
                        
                        <nhs-fieldset-form-label asp-for="Solutions"
                                                 label-text="Justify exclusions"
                                                 label-hint="Provide a justification for why you've not included these solutions in your competition shortlist.">
                            <p><b>All links open in a new tab.</b></p>

                            <partial name="_JustifySolutionsInput" model="Model" />

                        </nhs-fieldset-form-label>
                    
                </nhs-card-content>
            </nhs-card-v2>
            <nhs-submit-button />
        </form>
    </div>
</div>
