@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Supplier.SupplierSearchModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="supplier-search-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <nhs-page-title title="@Model.Title" advice="Search for the supplier you want to purchase from." />

            <form method="post">

                <nhs-input asp-for="SearchString"
                                      label-text="Enter Supplier name" />

                <nhs-submit-button text="Search" />
            </form>
        </div>
    </div>
</div>
