@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Supplier.SupplierModel;
@{
    ViewBag.Title = Model.Title;
}

<div data-test-id="supplier-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title" 
                            advice="Check the supplier information and edit details for the primary contact for this order." />

            <nhs-summary-list>
                <nhs-summary-list-row label-text="Supplier name">
                    <p data-test-id="supplier-name">
                        @Model.Name
                    </p>
                </nhs-summary-list-row>
                <nhs-summary-list-row label-text="Registered address">
                    <div data-test-id="supplier-address">
                        <vc:nhs-address address="@Model.Address" />
                    </div>
                </nhs-summary-list-row>
            </nhs-summary-list>

            <form method="post">
                <div data-test-id="primary-contact-fields">
                    <h2 data-test-id="primary-contact-heading">Primary contact’s details</h2>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="BackLink" />
                    <input type="hidden" asp-for="Name" />
                    <input type="hidden" asp-for="Title" />
                    <nhs-input asp-for="PrimaryContact.FirstName"
                                          label-text="First name" />
                    <nhs-input asp-for="PrimaryContact.LastName"
                                          label-text="Last name" />
                    <nhs-input asp-for="PrimaryContact.Email"
                                          label-text="Email address" />
                    <nhs-input asp-for="PrimaryContact.Phone"
                                          label-text="Telephone number" />
                    <div data-test-id="save-button">
                        <nhs-submit-button />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
