@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.SummaryList
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Pricing.ViewPriceModel
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
		<nhs-page-title model="Model" />

        <nhs-summary-list id="view-price-tiers">
            @foreach (var (tier, i) in Model.Tiers.Select((x, i) => (x, i)))
            {
                var price = string.Format(tier.AgreedPrice, "#,##0.00");
                var labelText = Model.NumberOfTiers > 1
                    ? $"For Tier {i + 1}"
                    : "Price";

                <nhs-summary-list-row label-text="@labelText">
                    @($"£{price} {Model.Basis}")
                </nhs-summary-list-row>
            }
        </nhs-summary-list>

        <div class="nhsuk-u-margin-bottom-9" id="view-price-details">
            <partial name="PriceDetails/_PriceDetailsComponent"
                     model="new PriceCalculationDetailsModel(Model.ItemType, Model.PriceType, Model.CalculationType)" />
        </div>

        <vc:nhs-secondary-button type="Primary"
                                 text="Save and continue"
                                 url="@Model.OnwardLink"/>
	</div>
</div>
