@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.ImplementationPlans.CustomImplementationPlanModel

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="Bespoke implementation plan milestones"
                        caption="Order @Model.CallOffId"
                        advice="Document the implementation plan milestones you've agreed with the supplier."/>

        <div class="nhsuk-u-margin-bottom-9">
            <p>
                As you've agreed bespoke implementation plan milestones with the supplier, you need to document your requirements. You can do this by downloading and completing
                <a href="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/12209422525/Order+form+template+Implementation+plan+milestones"
                   target="_blank">Implementation plan milestones template (opens in a new tab)</a>.
            </p>

            <p>
                This document must be included when you send your order to the supplier. You can download it now or after you’ve completed your order.
            </p>
        </div>

        <vc:nhs-secondary-button text="Continue"
                                 type="Primary"
                                 url="@Url.Action(
                                          nameof(OrderController.Order),
                                          typeof(OrderController).ControllerName(),
                                          new { Model.InternalOrgId, Model.CallOffId })"/>
    </div>
</div>
