@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.ImplementationPlans.DefaultImplementationPlanModel

@{
    ViewBag.Title = "Implementation milestones and payment triggers";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-validation-summary RadioId="UseDefaultMilestones"/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Review the implementation milestones that will act as payment triggers for this order. These milestones will apply to all Service Recipients." />

        <div class="nhsuk-u-margin-bottom-9">
            <nhs-details label-text="What is the supplier’s implementation guidance?">
                <p style="white-space: pre-line">
                    @Model.SupplierImplementationPlan
                </p>
            </nhs-details>
        </div>
        
        <partial name="ImplementationPlan" model="Model.Plan"/>

        <div class="nhsuk-u-margin-top-9">
            <form method="post">
                <nhs-fieldset-form-label asp-for="@Model"
                                         label-text="Do you want to proceed using these milestones?"
                                         size="Medium">
                    <nhs-radio-buttons asp-for="UseDefaultMilestones" 
                                       values="Model.Options.Cast<object>()"
                                       display-name="Text"
                                       value-name="Value"/>
                </nhs-fieldset-form-label>
        
                <div class="nhsuk-u-margin-top-9">
                    <nhs-submit-button/>
                </div>
            </form>
        </div>
    </div>
</div>
