@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.Contracts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.TagHelpers.DetailsAndExpander
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Shared
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.ImplementationPlans.ImplementationPlanModel

@{
    ViewBag.Title = "Implementation milestones and payment triggers";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Review the default milestones that will act as payment triggers and create bespoke ones if required. These milestones will apply to all Service Recipients." />

        <div class="nhsuk-u-margin-bottom-9">
            <nhs-details label-text="What is the supplier’s implementation guidance?">
                <p style="white-space: pre-line">
                    @Model.SupplierImplementationPlan
                </p>
            </nhs-details>
        </div>

        <nhs-card-v2>
            <nhs-card-content title="Default milestones and payment triggers">
                <partial name="MilestoneTable" model="new MilestoneTableModel(null, Model.DefaultPlan.Milestones, false, Model.CallOffId, Model.InternalOrgId)" class="nhsuk-form-group:last-of-type" />
            </nhs-card-content>
        </nhs-card-v2>

        <nhs-card-v2>
            <nhs-card-content title="Bespoke milestones and payment triggers">
                @if (Model.HasBespokeMilestones)
                {
                    <partial name="MilestoneTable" model="new MilestoneTableModel(null, Model.BespokePlan.Milestones, true, Model.CallOffId, Model.InternalOrgId)" />
                }
                else
                {
                    <p>No bespoke milestones have been added to this order.</p>
                }
            </nhs-card-content>
            <nhs-card-footer>
                <p class="nhsuk-body-m">
                    <a class="nhsuk-link--no-visited-state" href="@Url.Action(
                                    nameof(ImplementationPlanController.AddMilestone),
                                    typeof(ImplementationPlanController).ControllerName(),
                                    new { Model.InternalOrgId, Model.CallOffId })">
                        <img src="~/images/plus-icon.svg" width="23px" aria-hidden="true" />Add a bespoke milestone
                    </a>
                </p>
            </nhs-card-footer>
        </nhs-card-v2>

        <form method="post">
            <div class="nhsuk-u-margin-top-9">

                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="CallOffId" />
                <input type="hidden" asp-for="InternalOrgId" />

                <nhs-submit-button text="Continue"/>
            </div>
        </form>
    </div>
</div>
