@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.ClientApplicationType.ClientApplicationTypesModel;
@{
    ViewData["Title"] = "Client application type";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="Client application type" title-advice="Let buyers know which types of application will work with your Catalogue Solution." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <nhs-fieldset-form 
                asp-for="@Model"
                label-text="Client application types supported"
                label-hint="Select at least one client application type. You’ll need to provide further information for each type you select." >
                <nhs-checkbox-container>
                    <nhs-validation-checkbox asp-for="BrowserBased" label-text="Browser-based" />
                    <nhs-validation-checkbox asp-for="NativeMobile" label-text="Native mobile or tablet" />
                    <nhs-validation-checkbox asp-for="NativeDesktop" label-text="Native Desktop" />
                </nhs-checkbox-container>
            </nhs-fieldset-form>
            <nhs-submit-button />
        </form>

    </div>
</div>