@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels.DeleteContactModel
@{
    ViewBag.Title = $"Delete {Model.FirstName} {Model.LastName} contact details?";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SupplierName"
                        advice="Confirm you want to delete these contact details." />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <form method="post">
                    <div>
                        <nhs-submit-button text="Delete" />
                    </div>
                    <div>
                        <a asp-controller="Suppliers"
                           asp-action="EditSupplierContact"
                           asp-route-supplierId="@Model.SupplierId"
                           asp-route-contactId="@Model.ContactId">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
