@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.SupplierModels.EditSupplierDetailsModel
@{
    ViewBag.Title = "Supplier details";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SupplierDisplayName"
                        advice="Provide the following details about this supplier." />

        <form method="post">
            <nhs-input asp-for="SupplierName"
                       label-text="Supplier name"
                       label-hint="This is the supplier name as you would like it to appear on the Buying Catalogue."/>
            <nhs-input asp-for="SupplierLegalName"
                       label-text="Supplier legal name"
                       label-hint="This is the full supplier name submitted in the tender response to the GP IT Futures competition." />
            <nhs-textarea asp-for="AboutSupplier"
                       label-text="About supplier (optional)"
                       label-hint="Provide information about your organisation, for example its ethos, experience and plans for the future." />
            <nhs-input asp-for="SupplierWebsite"
                       label-text="Supplier website (optional)"
                       label-hint="Provide a link to your organisation's website."/>

            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="BackLinkText" />
            <input type="hidden" asp-for="SupplierDisplayName" />

            <nhs-submit-button />
        </form>
    </div>
</div>
