@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListPriceModels.DeleteListPriceModel
@{ ViewBag.Title = $"Delete list price for {Model.ItemName}?"; }

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.ItemName"
                        advice="Confirm you want to delete the price for this Associated Service." />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <form method="post">
                    <input type="hidden" asp-for="ItemName" />
                    <input type="hidden" asp-for="BackLinkText" />
                    <input type="hidden" asp-for="BackLink" />
                    <div>
                        <nhs-submit-button text="Delete" />
                    </div>
                    <div>
                        <a href="@Model.BackLink">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
