.scroll-to-top-container {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #005eb8 !important;
    cursor: pointer;
    z-index: 1;
    bottom: 158px;
    right: 60px;
    border-radius: 23px;
}

.scroll-to-top-container.show {
    display: block;
}

.goup-arrow {
    width: 0px;
    height: 0px;
    margin: 0px auto;
    padding-top: 13px;
    border-style: solid;
    border-width: 0px 10px 10px;
    border-color: transparent transparent rgb(255, 255, 255);
}

.scroll-to-top-text {
    position: fixed;
    width: 80px;
    height: auto;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    bottom: 100px;
    right: 40px;
    border-radius: 23px;
    text-align: center;
}
