.nhs-card-v2__content-with-footer {
    padding-bottom: 0;
}

.header-with-detail {
    text-align: left;
    display: inline-block;
    vertical-align: middle
}

.detail {
    float: right;
    vertical-align: middle
}

.card-content-icon {
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px
}

.card-content-text-with-icon {
    display: inline-block;
    vertical-align: middle;
    width: 90%
}

.nhs-card-v2__content {
    .nhsuk-pagination {
        margin-bottom: 0;
    }
}

.nhs-card-v2__footer p {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

.nhs-card-v2__footer img {
    margin-right: 8px;
    vertical-align: middle;
}

.nhs-card-v2__footer {
    margin-top: 16px;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
    background-color: #fafafa;
    padding-top: 0px;
}

.nhsuk-card__center {
  text-align: center;
}

.nhsuk-card__description--with-chevron {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nhsuk-card__description--with-chevron::after {
    content: "";
    display: block;
    flex: 0 0 26px;
    width: 26px;
    height: 26px;
    margin-left: auto;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='26' height='26' focusable='false' aria-hidden='true' fill='%23005eb8'%3E%3Cpath d='M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z'%3E%3C/path%3E%3C/svg%3E") center / 26px 26px no-repeat;
}
