#sr-table {
    counter-reset: recipients 0;
}

tr.recipient .nhsuk-checkboxes input:checked {
    counter-increment: recipients;
}

.total:before {
    content: counter(recipients) " recipients selected";
    float: right;
    color: #005eb8;
    margin-right: 50px;
}

#recipients-expander {
    position: relative;
}

.total {
    position: absolute;
    top: 26px;
    width: 100%;
}
