.nhsuk-expander-index .nhsuk-details__summary .nhsuk-details__summary-text {
  white-space: nowrap;
}

.nhsuk-checkboxes__subhint {
  font-size: 1rem;
}

.nhsuk-section:nth-of-type(2n) {
  background: #fff;
}

.app-width-container--full {
  margin: 0;
  max-width: none;
}

.section-content {
  margin-top: 32px;
  margin-bottom: 32px;
}
