.nhsuk-expander-index .nhsuk-details__summary .nhsuk-details__summary-text {
  white-space: pre-line;
}

.nhsuk-checkboxes__subhint {
  font-size: 1rem;
}

.nhsuk-section:nth-of-type(2n) {
  background: #fff;
}

.app-width-container--full {
  margin: 0;
  max-width: none;
}

.section-content {
  margin-top: 32px;
  margin-bottom: 32px;
}

.order-this-now {
  margin-top: 16px;
  min-height: 50px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #fafafa;
  padding-top: 8px;
}

.nhsuk-button .nhsuk-icon {
    fill: #ffffff;
    height: 28px;
    width: 28px;
    float: left;
}
