.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 0px;
    width: 700px;
    max-height: 400vh;
    overflow-y: hidden;
    box-sizing: border-box;
}

.modal__container ::-webkit-scrollbar {
    -webkit-appearance: button;
    width: 7px;
}

.modal__container ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: black;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.search-results-container {
    height: 350px;
    overflow: scroll;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d8dde0;
    padding: 24px;
}

.modal__footer {
    border-top: solid 1px #d8dde0;
    padding: 24px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before {
    content: "✕";
}

.modal__content {
    padding: 24px;
}

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.modal-slide {
    display: none;
}
.modal-slide[open] {
    display: block;
}
.modal-slide[open] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal-slide[open] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal-slide.close .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal-slide.close .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal-slide .modal__container,
.modal-slide .modal__overlay {
    will-change: transform;
}


#cancel-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #005eb8;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 8px !important;
    font-size: 16px;
}

#cancel-link:visited {
  color: #330072;
}

#cancel-link:hover {
    color: #7c2855;
    text-decoration: none;
}

.app-search__contents {
    border-radius: 5px;
    position: relative;
    z-index: 0;
    display: flex;
    margin-bottom: 1em;
}

.app-search__contents .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.app-search__contents .app-search__input {
    -webkit-appearance: listbox;
    background-color: #fff !important;
    border-bottom: 1px solid #aeb7bd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-left: 1px solid #aeb7bd;
    border-right: 0;
    border-top: 1px solid #aeb7bd;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px;
    margin: 0;
    outline: 0;
    padding: 0 10px;
    width: 100%;
}

.app-search__contents .app-search__submit {
    background-color: #005eb8;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    float: right;
    font-size: inherit;
    height: 52px;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: 7px 7px 0;
}

.app-search__contents .app-search__submit .icon__search {
    fill: #ffffff;
    height: 38px;
    width: 38px;
}

@media (max-width: 768px) {
    .modal__container {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .modal__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
