@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Dashboard.SelectOrganisationModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="organisation-select-page">
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" title-advice="Select the organisation you want to act on behalf of." />
        </div>
        <div class="nhsuk-grid-column-full">
            <form method="post">
                <nhs-fieldset-form asp-for="@Model">
                    <nhs-radio-buttons asp-for="@Model.SelectedOrganisation" values="@Model.AvailableOrganisations" value-name="OdsCode" display-name="Name" />
                </nhs-fieldset-form>
                <nhs-submit-button text="Continue" />               
            </form>
        </div>
    </div>
</div>
