.vs-light-theme-purple {
    color: #800080;
}

.vs-light-theme-blue {
    color: #0000ff;

}

.first-layer {
    margin-left: 20px;
}

.second-layer {
    margin-left: 40px;
}

.third-layer{
    margin-left: 60px;
}

.fourth-layer{
    margin-left: 80px;
}

.fifth-layer{
    margin-left: 100px;
}

.sixth-layer{
    margin-left: 120px;
}

.bc-code-snippet {
    border-bottom: 1px solid #aeb7bd;
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    min-height:150px;
}




