.nhsuk-time-input__item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 24px;
}

.nhsuk-time-input__input {
    margin-bottom: 0;
}

.nhsuk-time-input__label {
    display: block;
}

.nhsuk-time-input {
    font-size: 0;
}
