@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.Contracts
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.AssociatedServicesBilling.BasicBillingModel
@{
    ViewBag.Title = "Bespoke Associated Services billing";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Document the Associated Services you want to be billed against milestone achievement."/>

        <p>As you’ve agreed bespoke billing for your Associated Services with the supplier, you need to document your requirements.
            You can do this by downloading and completing <a href="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/12209389727/Order+form+template+Associated+Service+billing+and+requirements" target="_blank">section 1 of Associated Service billing and requirements template (opens in a new tab).</a>
        </p>
        <p>This document must be included when you send your order to the supplier. You can download it now or after you’ve completed your order. </p>

        <vc:nhs-secondary-button url="@Url.Action(nameof(AssociatedServicesBillingController.SpecificRequirements),
                                                  typeof(AssociatedServicesBillingController).ControllerName(),
                                                  new { Model.InternalOrgId, Model.CallOffId, fromBespoke = true })"
                                 type="Primary"
                                 text = "Continue" />

    </div>
</div>
