@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.AssociatedServicesBilling.SpecificRequirementsModel
@{
    ViewBag.Title = "Associated Services requirements";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
                <nhs-validation-summary RadioId="@nameof(Model.ProceedWithoutSpecificRequirements)"/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Select if you’ve any specific requirements for your Associated Services."/>

        <nhs-details label-text="What are specific requirements?">
            <p>For example, you may require all your practice managers to attend training sessions on a given day or for engineering to take place only at weekends.</p>
        </nhs-details>

        <form method="post">
            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Do you want to proceed without any specific requirements?"
                                     size="Medium">
                <nhs-radio-buttons asp-for="ProceedWithoutSpecificRequirements" 
                                   values="Model.Options.Cast<object>()"
                                   value-name="Value"
                                   display-name="Text"/>
            </nhs-fieldset-form-label>
        
            <div class="nhsuk-u-margin-top-9">
                <nhs-submit-button/>
            </div>
        </form>

    </div>
</div>
