<div data-test-id="beta-banner">
    <section class="bc-flex-container bc-align-items-center nhsuk-width-container nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-3" aria-labelledby="beta-tag" role="banner">
        <h2 class="bc-c-tag-beta bc-body-r" data-test-id="beta-tag" id="beta-tag">BETA</h2>
        <div data-test-id="beta-banner-text">
            This is a new service - your <a data-test-id="feedback-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Hwf2UP67GkCIA2c3SOYp4nDHKEWnXcFHiqdJhf0fCJtUNDNFRUFZVFU5RkRQTEpWU0RQVlVXMUpRQi4u">feedback</a> will help us improve it.
        </div>
    </section>
</div>
