<div data-test-id="beta-banner">
    <section class="bc-flex-container bc-align-items-center nhsuk-width-container nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-3" aria-labelledby="beta-tag">
        <h2 class="bc-c-tag-beta bc-body-r" data-test-id="beta-tag" id="beta-tag">BETA</h2>
        <div data-test-id="beta-banner-text">
            The Buying Catalogue is a new service. Sign up to take part in testing and <a data-test-id="feedback-link" target="_blank" href="https://feedback.digital.nhs.uk/jfe/form/SV_3C4ClYbvjUg7veK">share your feedback</a>.
        </div>
    </section>
</div>
