@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
<section id="cookie-banner" data-test-id="cookie-banner" class="bc-c-cookies nhsuk-header--white nhsuk-u-padding-top-3" aria-labelledby="cookies" role="banner">
    <div class="nhsuk-width-container">
        <h2 class="nhsuk-heading-m">Cookies on the Buying Catalogue</h2>
        <p class="nhsuk-body-m">We've put some small files called cookies on your device to make the Buying Catalogue website work.</p>
        <p class="nhsuk-body-m">We'd also like to use analytics cookies. These send information about how our site is used to services called Adobe Analytics and Hotjar. We use this information to improve our website.</p>
        <p class="nhsuk-body-m">Let us know if this is OK. We'll use a cookie to save your choice. You can read more about our <a href="/privacy-policy">cookies and privacy policy</a> before you choose.</p>
        <div data-test-id="cookie-dismiss">
            <a id="accept-analytics" class="nhsuk-button nhsuk-u-margin-right-3" draggable="false"
               asp-controller="@typeof(ConsentController).ControllerName()" 
               asp-action="@nameof(ConsentController.AcceptCookies)" 
               asp-route-agreeToAnalytics="true">
                I'm OK with analytics cookies
            </a>
            <a id="reject-analytics" class="nhsuk-button" draggable="false"
               asp-controller="@typeof(ConsentController).ControllerName()" 
               asp-action="@nameof(ConsentController.AcceptCookies)" 
               asp-route-agreeToAnalytics="false">
                Do not use analytics cookies
            </a>
        </div>
    </div>
</section>
