<nhs-warning-callout label-text="GP IT Futures framework expired" id="framework-expired-warning">
	<p>Lot 1 of the GP IT Futures framework expired on 31 March 2023. This means you can no longer carry out new procurements of solutions and services offered under that framework.</p>
	<p>Continuity contracts have been put in place to ensure that you continue to have access to purchased solutions and services between 1 April 2023 and the go live date of the replacement, which is scheduled for summer 2023.</p>
	<p>You’ll still be able to use the Buying Catalogue to browse and procure solutions and services from the Digital First Online Consultation and Video Consultation (DFOCVC) framework.</p>
	<p>However, orders placed under the GP IT Futures framework will not be completed until the replacement framework is live.</p>
</nhs-warning-callout>
