<nhs-warning-callout label-text="GP IT Futures and DFOCVC frameworks expired" id="framework-expired-warning">
    <p>The GP IT Futures and Digital First Online Consultation and Video Consultation (DFOCVC) frameworks have both now expired. Find out what this means for you.</p>

    <div class="container">
        <h3>GP IT Futures framework</h3>
        <p>Lot 1 of the GP IT Futures framework expired on 31 March 2023. This means you can no longer carry out new procurements of solutions and services offered under that framework. However, if your Integrated Care Board uses multiple suppliers across its estate, practices may still choose to migrate to one of those existing suppliers.</p>
        <p>Continuity contracts have been put in place to ensure that you continue to have access to your purchased solutions and services between 1 April 2023 and the go live date of the replacement framework, which is scheduled for 2024.</p>

        <h3>Digital First Online Consultation and Video Consultation framework</h3>
        <p>The DFOCVC framework expired on 31 March 2024. This means you can no longer carry out new procurements of solutions and services offered under that framework.</p>
        <p>The National Commercial & Procurement Hub can support service continuity enquiries via <a href="mailto:commercial.procurementhub@nhs.net">commercial.procurementhub@nhs.net</a>.</p>
    </div>
</nhs-warning-callout>
