@using NHSD.GPIT.BuyingCatalogue.Framework.Settings
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants
@using Humanizer
@inject AnalyticsSettings settings;

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="NHS.UK Buying Catalogue">
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true">
<link href="https://www.nhs.uk/" rel="preconnect">
<link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
<link rel="shortcut icon" href="~/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
<link rel="mask-icon" href="~/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
<link rel="icon" sizes="192x192" href="~/nhsuk-frontend/assets/favicons/favicon-192x192.png">
<meta name="msapplication-TileImage" content="~/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
<meta name="msapplication-TileColor" content="#005eb8">
<meta name="msapplication-square70x70logo" content="~/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
<meta name="msapplication-square150x150logo" content="~/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
<meta name="msapplication-wide310x150logo" content="~/nhsuk-frontend/assets/favicons/widetile-310x150.png">
<meta name="msapplication-square310x310logo" content="~/nhsuk-frontend/assets/favicons/largetile-310x310.png">
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@if (Context.Items.TryGetValue(CatalogueCookies.UseAnalytics, out var useAnalytics) && useAnalytics is true)
{
    <!-- Hotjar tracking code -->
    <script id="hotjar">
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:@settings.Hotjar.Id,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    static string ToAdobeAnalyticsPageName(string pageName) => !string.IsNullOrEmpty(pageName) ? pageName.Kebaberize().ToLowerInvariant() : "Unknown";

    // The only view where PageName is currently set explicitly is Home, which has to be set to 'home', hence the use of
    // ViewBag. If additional views need an explicit page name (rather than relying on the title) then it will make
    // sense to introduce a new model or updated base view model (see also comment below regarding categories).
    var pageName = $"{settings.Adobe.ProgrammeArea}:{ToAdobeAnalyticsPageName(ViewBag.PageName ?? ViewBag.Title)}";

    // Additional work may be required to either generate category data programatically or to update each view with
    // the desired categories, if it is determined that categorization is necessary to make the best use of analytics
    // (in which case an updated base view model may be required).
    <script id="adobe-analytics-data">window.digitalData=
        { "page": {
            "pageInfo": {
                "pageName": "@pageName"
                },
            "category": {
                "primaryCategory": "",
                "subCategory1": "",
                "subCategory2": "",
                "subCategory3": ""
                }
            },
       };
    </script>

    <script id="adobe-analytics" src="@settings.Adobe.ScriptSource" async></script>
}
