@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.Extensions.Logging
@using NHSD.GPIT.BuyingCatalogue.Framework.Settings
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants
@inject AnalyticsSettings settings;
@inject ILogger<RazorPage> logger;
@{
    if (ViewBag.Title == null)
    {
        logger.LogWarning($"Page is missing title {Context.Request.Path}");
    }
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="NHS.UK Buying Catalogue">
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true">
<link href="https://www.nhs.uk/" rel="preconnect">
<link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
<link rel="shortcut icon" href="~/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
<link rel="mask-icon" href="~/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
<link rel="icon" sizes="192x192" href="~/nhsuk-frontend/assets/favicons/favicon-192x192.png">
<meta name="msapplication-TileImage" content="~/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
<meta name="msapplication-TileColor" content="#005eb8">
<meta name="msapplication-square70x70logo" content="~/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
<meta name="msapplication-square150x150logo" content="~/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
<meta name="msapplication-wide310x150logo" content="~/nhsuk-frontend/assets/favicons/widetile-310x150.png">
<meta name="msapplication-square310x310logo" content="~/nhsuk-frontend/assets/favicons/largetile-310x310.png">
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@if (Context.Items.TryGetValue(CatalogueCookies.UseAnalytics, out var useAnalytics) && useAnalytics is true && !string.IsNullOrWhiteSpace(settings?.GoogleAnalytics?.Id))
{
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@settings.GoogleAnalytics.Id"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '@settings.GoogleAnalytics.Id');
    </script>
}
