@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.CapabilitiesViewModel

<nhs-table>
    <nhs-table-column>Capability</nhs-table-column>
    @if (!string.IsNullOrWhiteSpace(Model.CapabilitiesHeading))
    {
        <nhs-table-column>Details</nhs-table-column>
    }
    else
    {
        <nhs-table-column></nhs-table-column>
    }

    @foreach (var capability in Model.RowViewModels)
    {
        <nhs-table-row-container>
            <nhs-table-cell>
                <span class="nhsuk-table-responsive__heading">Capability</span><b data-test-id="capability-name">@capability.Heading</b><br>@capability.Description
            </nhs-table-cell>
            <nhs-table-cell>
                <span class="nhsuk-table-responsive__heading">Action </span><a href="@capability.CheckEpicsUrl" style="white-space: nowrap;" data-test-id="check-epics-link">Check Epics</a>
            </nhs-table-cell>
        </nhs-table-row-container>
    }
</nhs-table>
