@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ApplicationTypesModel;
@{
}
<article>
    <partial name="_solutionSummary" model="Model" />
    <p>Catalogue Solution is supported by the following application types:</p>

    @Html.DisplayFor(m => m.ApplicationTypes)

    <nhs-expander label-text="Browser-based application" open="false">
        @Html.DisplayFor(m => m.BrowserBasedApplication)
    </nhs-expander>

    <nhs-expander label-text="Desktop application" open="false">
        @Html.DisplayFor(m => m.NativeDesktopApplication)
    </nhs-expander>

    <nhs-expander label-text="Mobile or tablet application" open="false">
        @Html.DisplayFor(m => m.NativeMobileApplication)
    </nhs-expander>
</article>
