@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionCheckEpicsModel;
@{
    Layout = "~/Views/Shared/Layouts/_SolutionsLayoutNoNav.cshtml";
    ViewBag.Title = $"{Model.Name} capabilites";
}

@section BackLink
{
    <partial name="Partials/_BackLink" model="@Model" />
}

<p>@Model.Description</p>

<hr />

@if (Model.HasNoEpics())
{
    <p>
        <strong>No Epics</strong>
    </p>
}
else
{
    @if (Model.HasNhsDefined())
    {
        <h2>NHS defined Epics</h2>

        <p>
            <a target="_blank" href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/pages/1391134029/Appointments+Management+-+GP">
                View more details including acceptance criteria for Epics defined by the NHS</a>
            (opens in a new tab)
        </p>

        <ul data-test-id="nhs-defined-epics">
            @foreach (string epic in Model.NhsDefined)
            {
                <li>@epic</li>
            }
        </ul>
    }

    @if (Model.HasSupplierDefined())
    {
        <h2>Supplier defined Epics</h2>

        <ul data-test-id="supplier-defined-epics">
            @foreach (string epic in Model.SupplierDefined)
            {
                <li>@epic</li>
            }
        </ul>
    }
}
