@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionFeaturesModel;
<div class="nhsuk-width-container">
    <main id="maincontent" role="main">
        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <partial name="_solutionSummary" model="Model"/>

                    <nhs-card title="@Model.SolutionName features" >
                        <ul>
                            @foreach (string feature in Model.Features.Where(s => !string.IsNullOrWhiteSpace(s)))
                            {
                                <li>@feature</li>
                            }
                        </ul>
                    </nhs-card>

                </div>
            </div>
        </article>
    </main>
</div>
