@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.SolutionFeaturesModel;

<div class="nhsuk-width-container">
    <main id="maincontent" role="main">
        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <p>
                        <b>This Catalogue Solution has the following features:</b>
                    </p>

                    <ul>
                        @foreach (string feature in Model.Features)
                        {
                            <li>@feature</li>
                        }
                    </ul>
                </div>
            </div>
        </article>
    </main>
</div>
