@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ListPriceModel;
@{
    const string ContextualContent = "This Catalogue Solution is available at the following";

    string Contextual() => Model.FlatListPrices.Count > 1 ? $"{ContextualContent} prices excluding VAT:" : $"{ContextualContent} price excluding VAT:";
}

<article class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p><strong>@Contextual()</strong></p>

        @if (Model.HasFlatListPrices())
        {
            <nhs-table data-test-id="flat-list-price-table">
                <nhs-table-column>Price</nhs-table-column>
                <nhs-table-column>Unit</nhs-table-column>

                @foreach (var item in Model.FlatListPrices)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell data-test-id="price">
                            @item.CurrencyCode@item.Price.Value.ToString("N4")
                        </nhs-table-cell>
                        <nhs-table-cell>
                            @item.Unit
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        }
    </div>
</article>
