@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers;
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ListPriceModel;

<article class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <partial name="_solutionSummary" model="Model"/>

        <nhs-card title="Price of Catalogue Solution">
            <p>This is how much this Catalogue Solution costs:</p>

        @if (Model.HasFlatListPrices())
        {
            <nhs-table data-test-id="flat-list-price-table">
                <nhs-table-column>Price</nhs-table-column>
                <nhs-table-column>Unit</nhs-table-column>

                @foreach (var item in Model.FlatListPrices)
                {
                    <nhs-table-row-container>
                        <nhs-table-cell data-test-id="price">
                            @item.CurrencyCode@item.Price.Value.ToString("N4")
                        </nhs-table-cell>
                        <nhs-table-cell>
                            @item.Unit
                        </nhs-table-cell>
                    </nhs-table-row-container>
                }
            </nhs-table>
        }
        </nhs-card>
    </div>
</article>
