@using NHSD.GPIT.BuyingCatalogue.WebApp.Models;
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["Title"] = "Catalogue Solutions to help deal with coronavirus vaccinations";
    var backLinkModel = new NavBaseModel{ BackLink = "/", BackLinkText = "Go back to previous page" };
}

<partial name="Partials/_BackLink" model="@backLinkModel" />
<div data-test-id="solutions-list-body">
    <div class="nhsuk-grid-row" data-test-id="general-description">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="Catalogue Solutions to help with coronavirus vaccinations"
                            advice="The Catalogue Solutions listed below have been assured by NHS Digital and can help manage coronavirus vaccinations." />
            <nhs-inset-text>
                <p class="nhsuk-u-font-size-14">
                    For more information, visit the <a href="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/10584916017/Solutions+to+support+coronavirus+vaccination+rollout+in+Primary+Care+Networks+COVID+Vaccine">
                        dedicated coronavirus vaccination page
                    </a> on our Buyer’s Guide.
                </p>
            </nhs-inset-text>
        </div>
    </div>
    <div data-test-id="solution-cards-vaccinations">
        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-vaccinations">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">

                    <div data-test-id="solution-card-vaccinations-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus vaccinations</div>

                    <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10064-004">
                            Medloop Integrated COVID-19 Vaccine Manager (ICVM)
                        </a>
                    </h2>

                    <h3 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-supplier">
                        Medloop Limited
                    </h3>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        The ICVM is a COVID-19 vaccine appointment management solution that enables healthcare professionals to upload patient lists and invite patients (via SMS) to book their first and second vaccination appointment based on the default setting of the vaccine type. The solution also offers an intuitive calendar that has the ability to mark open time slots, book patients in and record any adverse reactions from the vaccination directly into the patient record.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10064-004">
                            View this solution<span class="nhsuk-u-visually-hidden"> for Medloop Integrated COVID-19 Vaccine Manager (ICVM)</span>
                        </a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h4 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-vaccinations-title">
                        How this Catalogue Solution can help with coronavirus vaccinations
                    </h4>
                    <ul data-test-id="solution-card-vaccinations-list">

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for appointments management
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Tracks availability of COVID-19 vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Allows bulk sending of vaccination appointment invites and reminders via SMS
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Automatically sends appointment cancellation notifications via SMS
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Enables patients to book and cancel their own vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met the Appointments Management - COVID-19 Vaccinations Capability
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-vaccinations">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">

                    <div data-test-id="solution-card-vaccinations-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus vaccinations</div>

                    <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10061-017">
                            eVacc
                        </a>
                    </h2>

                    <h3 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-supplier">
                        Eva Health Technologies
                    </h3>

                    <div data-test-id="solution-card-summary">
                        <p class="nhsuk-u-font-size-16">
                            Point-of-care vaccination solution built for COVID-19 and flu, recording pre-screening, consent, vaccination administration and adverse reactions.
                        </p>
                        <p class="nhsuk-u-font-size-16">
                            Cloud-based, interoperable and reliability-tested against over 500,000 vaccination load with 0% downtime.
                        </p>
                    </div>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10061-017">
                            View this solution<span class="nhsuk-u-visually-hidden"> for eVacc
                        </a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h4 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-vaccinations-title">
                        How this Catalogue Solution can help with coronavirus vaccinations
                    </h4>
                    <ul data-test-id="solution-card-vaccinations-list">

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for vaccination and adverse reaction recording
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Records COVID-19 vaccination and adverse reaction data for patients registered at different GP practices
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Updates previously recorded COVID-19 vaccination and adverse reaction data
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Allows viewing of reports on COVID-19 vaccination data
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met Vaccination and Adverse Reaction Recording Capability
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-vaccinations">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">

                    <div data-test-id="solution-card-vaccinations-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus vaccinations</div>

                    <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10034-029">
                            CHS Vaccination Appointment Management
                        </a>
                    </h2>

                    <h3 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-supplier">
                        Cegedim Healthcare Solutions
                    </h3>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        The CHS Vaccination Appointments Management app supports vaccination delivery within GP practices, primary care networks and shared care settings, ensuring the smooth running of all aspects of your vaccination sessions. Using our intelligent appointment tools, you can quickly arrange and manage your appointments sessions and efficiently manage patient arrivals and appointments processing.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10034-029">
                            View this solution<span class="nhsuk-u-visually-hidden"> for CHS Vaccination Appointment Management</span>
                        </a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h4 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-vaccinations-title">
                        How this Catalogue Solution can help with coronavirus vaccinations
                    </h4>
                    <ul data-test-id="solution-card-vaccinations-list">

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for appointments management
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Tracks availability of COVID-19 vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Records when a COVID-19 vaccination appointment is completed
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has partially met the Appointments Management - COVID-19 Vaccinations Capability
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-vaccinations">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">

                    <div data-test-id="solution-card-vaccinations-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus vaccinations</div>

                    <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10030-001">
                            accuRx
                        </a>
                    </h2>

                    <h3 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-supplier">
                        accuRx Limited
                    </h3>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        accuRx offers vaccine appointment management functionality via its accuBook Additional Service. accuBook allows the sending of vaccination invite communications, appointment notification, reminders, and the ability for patients to manage their own vaccination appointments.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10030-001">
                            View this solution<span class="nhsuk-u-visually-hidden"> for accuRx
                        </a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h4 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-vaccinations-title">
                        How this Catalogue Solution can help with coronavirus vaccinations
                    </h4>
                    <ul data-test-id="solution-card-vaccinations-list">

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution provides an Additional Service that has been assessed for appointments management
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Tracks availability of COVID-19 vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Allows bulk sending of vaccination appointment invites and reminders via SMS
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Enables patients to book their own vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Automatically tracks which patients have received COVID-19 vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Automatically sends appointment cancellation notifications via SMS
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has an Additional Service that has met the Appointments Management - COVID-19 Vaccinations Capability
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-vaccinations">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">

                    <div data-test-id="solution-card-vaccinations-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus vaccinations</div>

                    <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10020-001">
                            Q Doctor
                        </a>
                    </h2>

                    <h3 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-supplier">
                        MyMed Ltd
                    </h3>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Q Doctor is a secure video consultation and appointment booking platform used around the NHS, enabling digital appointment booking (including COVID-19 vaccination appointment management) and remote consultations between clinicians and patients.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a asp-area="Solutions" asp-controller="SolutionDetails" asp-action="VaccinationsSolutionDetail" asp-route-id="10020-001">
                            View this solution<span class="nhsuk-u-visually-hidden"> for Q Doctor</span>
                        </a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h4 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-vaccinations-title">
                        How this Catalogue Solution can help with coronavirus vaccinations
                    </h4>
                    <ul data-test-id="solution-card-vaccinations-list">

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for appointments management
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Tracks availability of COVID-19 vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Allows bulk sending of vaccination appointment invites via SMS
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            Enables patients to book their own vaccination appointments
                        </li>

                        <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met the Appointments Management - COVID-19 Vaccinations Capability
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bc-t-border-top--blue" />
    </div>
</div>
