{% extends "base.html" %}
{% load wagtailimages_tags navigation_tags %}

{% block content %}
    {% include "base/include/header-hero.html" %}

    <div class="container newfeature-detail">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="row">
                        {% if page.introduction %}
                            <p class="newfeature-detail__introduction">
                                {{ page.introduction }}
                            </p>
                        {% endif %}

                        <div class="hidden-md-down">
                            {{ page.body }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <div class="row">
                        <div class="newfeature-detail__meta">
                            <p class="framework__meta-title">Operating Status</p>
                            {% if page.is_open %}
                                This framework is currently open.
                            {% else %}
                                Sorry, this framework is currently closed.
                            {% endif %}

                            <p class="framework__meta-title">Address</p>
                            <address>{{ page.address|linebreaks }}</address>

                            {% if page.operating_hours %}
                                <p class="framework__meta-title">Opening hours</p>
                                {% for hours in page.operating_hours %}
                                    <time itemprop="openingHours" datetime="{{ hours }}" class="framework__time">
                                        <span class="framework__day">{{ hours.day }}</span>:
                                        <span class="framework__hours">
                                            {% if hours.closed == True %}
                                                Closed
                                            {% else %}
                                                {% if hours.opening_time %}
                                                    {{ hours.opening_time }}
                                                {% endif %} -
                                                {% if hours.closing_time %}
                                                    {{ hours.closing_time }}
                                                {% endif %}
                                            {% endif %}
                                        </span></time>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="row hidden-md-up">
                        {{ page.body }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
