@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.NativeDesktop.AdditionalInformationModel;
@{
    ViewData["Title"] = "Native desktop application – additional information";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Let buyers know any additional information about your Catalogue Solution." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <nhs-textarea asp-for="AdditionalInformation"
                          label-text="Additional information (optional)"
                          label-hint="Provide additional information about your native desktop Catalogue Solution." />
            <nhs-submit-button />
        </form>
    </div>
</div>
