@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.NativeDesktop.OperatingSystemsModel;
@{
    ViewData["Title"] = "Native desktop application - supported operating systems";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="_BackLink" model="Model"/>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>
        <partial name="_NhsPageTitle" model="@Model.PageTitle()"/>
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId"/>
            <input type="hidden" asp-for="@Model.BackLink"/>
            <nhs-validation-textarea asp-for="OperatingSystemsDescription"
                                     label-text="Supported operating systems"
                                     label-hint="Provide information on the operating systems supported by your Catalogue Solution."/>
            <nhs-submit-button/>
        </form>
    </div>
</div>