@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.NativeDesktop.OperatingSystemsModel;
@{
    ViewData["Title"] = "Native desktop application - supported operating systems";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="Native desktop application – supported operating systems"
                        advice="Let buyers know which operating systems will work with your Catalogue Solution." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <nhs-textarea asp-for="OperatingSystemsDescription"
                          label-text="Supported operating systems"
                          label-hint="Provide information on the operating systems supported by your Catalogue Solution." />
            <nhs-submit-button />
        </form>
    </div>
</div>
