@using NHSD.GPIT.BuyingCatalogue.Framework.Settings
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants
@inject CookieExpirationSettings CookieExpirationSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_HeadIncludes" />
    @(await RenderSectionAsync("Scripts", false))
</head>
<body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    @if ((bool?)Context.Items[CatalogueCookies.ShowCookieBanner] == true)
    {
        <partial name="Partials/_CookieConsentPartial" />
    }
    <partial name="Partials/_BetaBanner" />
    <partial name="Headers/_Header" model="@("_Navigation")" />

    @await RenderSectionAsync("Breadcrumbs", false)

    @{
        var additionalClass = ViewData["nhsuk-width-container"] as string;
    }
    <div class="nhsuk-width-container nhsuk-main-wrapper @additionalClass">
        <main role="main" id="maincontent">
            @RenderBody()
        </main>
    </div>

    <partial name="Footers/_Footer" />

    <partial name="Partials/_JsAssetIncludes" />
</body>
</html>
