@using NHSD.GPIT.BuyingCatalogue.Framework.Settings
@using NHSD.GPIT.BuyingCatalogue.Framework.Constants
@inject CookieExpirationSettings CookieExpirationSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_HeadIncludes" />

    <style>
        @@media (max-width: 40.0525em) {
            .nhsuk-header__container {
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                display: flex;
                justify-content: space-between;
            }
        }
    </style>
</head>
<body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    @if ((bool?)Context.Items[CatalogueCookies.ShowCookieBanner] == true)
    {
        <partial name="Partials/_CookieConsentPartial" />
    }
    <partial name="Headers/_HeaderPlain" />

    @await RenderSectionAsync("Banner", false)

    <div class="nhsuk-width-container nhsuk-main-wrapper">
        <main role="main" id="maincontent">
            @RenderBody()
        </main>
    </div>

    <partial name="Footers/_Footer" />
    <partial name="Partials/_JsAssetIncludes" />
</body>
</html>
