@{
    ViewData["Title"] = "Buyer's Guide";
}

<div data-test-id="guide-page-body" class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <div data-test-id="go-back-link">
            <div class="nhsuk-back-link">
                <a class="nhsuk-back-link__link" href="~/">
                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                    </svg>
                    Go back to homepage
                </a>
            </div>

        </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">
            <h1 data-test-id="guide-page-title" class="nhsuk-u-margin-bottom-3">Buyer’s Guide</h1>            
            <p data-test-id="guide-page-description" class="nhsuk-heading-l nhsuk-u-font-size-22">Read the following information before using the Buying Catalogue. It’ll help you find the information you need to make an informed decision when procuring.</p>
            <div data-test-id="guide-page-advice" class="nhsuk-inset-text nhsuk-u-padding-2 nhsuk-u-padding-right-4 nhsuk-u-padding-left-4 nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-6">
                <span class="nhsuk-u-visually-hidden">Information: </span>

                <p class="nhsuk-u-font-size-14">All products and services listed on the Buying Catalogue are known as Catalogue Solutions. Each Solution has a certain number of Capabilities which can address business needs in primary care.</p>

                <p class="nhsuk-u-font-size-14">To prove these Capabilities, Suppliers must demonstrate that their Catalogue Solution can satisfy Epics which detail the functions required to successfully achieve a Capability.</p>

                <p class="nhsuk-u-font-size-14">There is a link to further Buyer Guidance in the &#39;Learn more&#39; section of this page.</p>

            </div>
            <p data-test-id="guide-page-subtext" class="nhsuk-u-margin-bottom-0">These are the key terms you need to understand to use the Buying Catalogue effectively:</p>
        </div>
    </div>
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-grid-row">
            <div id="catalogue-solution" data-test-id="guide-section-catalogue-solution" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Catalogue Solution</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">





                        <div data-test-id="subsection-description">


                            <p class="nhsuk-u-margin-bottom-5">A Catalogue Solution is a product or service that has successfully demonstrated compliance with Capabilities and Standards that apply to it. The Catalogue Solution will only be made available on the Buying Catalogue once it has demonstrated its compliance.</p>


                        </div>







                        <h4 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" data-test-id="subsection-title-associated-services">Associated Services</h4>



                        <div data-test-id="subsection-associated-services">


                            <p class="nhsuk-u-margin-bottom-5">Associated Services help you to implement or optimise the live operation of a Catalogue Solution and/or Additional Services, for example, training.</p>


                        </div>







                        <h4 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" data-test-id="subsection-title-additional-services">Additional Services</h4>



                        <div data-test-id="subsection-additional-services">


                            <p class="nhsuk-u-margin-bottom-5">Additional Services are add-ons that provide additional Capabilities to a Catalogue Solution for an extra cost.</p>



                            <p class="nhsuk-u-margin-bottom-5">When you view Catalogue Solutions on the Buying Catalogue, if there are Additional Services available, information about their Capabilities and price will be presented to you.</p>



                            <p class="nhsuk-u-margin-bottom-5">Additional Services may also have Associated Services.</p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div id="capabilities" data-test-id="guide-section-capabilities" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Capabilities</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">





                        <div data-test-id="subsection-capabilities-description">


                            <p class="nhsuk-u-margin-bottom-5">Capabilities are how you can match a Catalogue Solution to a business need.</p>



                            <p class="nhsuk-u-margin-bottom-5">For example, you may want to enable GP staff to make a digital record of any consultation with a patient. You can therefore identify Catalogue Solutions on the Buying Catalogue which offer the &#39;Recording Consultations&#39; Capability.</p>



                            <p class="nhsuk-u-margin-bottom-5">There are a number of pre-defined Capabilities, but there is also the Productivity Capability. This is defined by the Supplier when their Catalogue Solution does not map to a pre-defined Capability.</p>


                        </div>









                        <div data-test-id="subsection-learn-more">


                            <p data-test-id="guide-section-description-with-link" class="nhsuk-u-margin-bottom-5">
                                <span></span>
                                <a data-test-id="guide-link" href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/overview">Learn more about the Capability Model</a>
                                <span></span>
                            </p>


                        </div>







                        <h4 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" data-test-id="subsection-title-epics">Epics</h4>



                        <div data-test-id="subsection-epics">


                            <p class="nhsuk-u-margin-bottom-5">Epics precisely describe the functions of a Capability.</p>



                            <p class="nhsuk-u-margin-bottom-5">For example, under ‘Recording Consultations’ some of the Epics that need to be met are ‘record Consultation information’ and ‘manage Consultation form templates’.</p>



                            <p class="nhsuk-u-margin-bottom-5">There are two types of Epic: Must Epics which are required and May Epics which are optional.</p>


                        </div>







                        <h4 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" data-test-id="subsection-title-foundation-solution-set">Foundation Solution Set</h4>



                        <div data-test-id="subsection-foundation-solution-set">


                            <p class="nhsuk-u-margin-bottom-5">6 Foundation Capabilities are the minimum requirement to enable a GP practice to operate. All 6 Capabilities must be fulfilled to achieve Foundation Solution Set status.</p>


                        </div>









                        <div data-test-id="subsection-they-are">


                            <p class="nhsuk-u-margin-bottom-5">They are:</p>


                        </div>











                        <ul data-test-id="subsection-bulletlist">

                            <li class="nhsuk-u-font-size-19">Appointments Management – GP</li>

                            <li class="nhsuk-u-font-size-19">Referral Management</li>

                            <li class="nhsuk-u-font-size-19">Resource Management</li>

                            <li class="nhsuk-u-font-size-19">Patient Information Maintenance</li>

                            <li class="nhsuk-u-font-size-19">Prescribing</li>

                            <li class="nhsuk-u-font-size-19">Recording Consultations</li>

                        </ul>







                        <div data-test-id="subsection-view-only-catalogue-solutions">


                            <p class="nhsuk-u-margin-bottom-5">You can use the Buying Catalogue to only view Catalogue Solutions that offer the Foundation Solution Set (which meet the 6 Foundation Capabilities), or to view all the Catalogue Solutions available.</p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div id="standards" data-test-id="guide-section-standards" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Standards</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">





                        <div data-test-id="subsection-standards-describe">


                            <p class="nhsuk-u-margin-bottom-5">Standards describe the technical or operating levels a Catalogue Solution must meet. Each Catalogue Solution must meet all Standards relevant to the Capabilities it offers.</p>



                            <p class="nhsuk-u-margin-bottom-5">Therefore, if a Catalogue Solution is listed on the Buying Catalogue, a Buyer can be certain the standards have been met.</p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div id="work-off-plans" data-test-id="guide-section-work-off-plans" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Work-off Plans</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">





                        <div data-test-id="subsection-work-off-plans-describe">


                            <p class="nhsuk-u-margin-bottom-5">A Catalogue Solution close to meeting a required Capability or compliance with a Standard can be given a Work-off Plan. This means the Supplier has agreed to complete any outstanding work in an agreed timeframe.</p>



                            <p class="nhsuk-u-margin-bottom-5">Any such Catalogue Solution on the Buying Catalogue will have the details of its Work-off Plan included on its listing page. Buyers can take this in to consideration when browsing the Buying Catalogue.</p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div id="integrations" data-test-id="guide-section-integrations" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Integrations</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">



                        <h4 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" data-test-id="subsection-title-nhs-assured-integrations">NHS Assured Integrations</h4>



                        <div data-test-id="subsection-nhs-assured-integrations">


                            <p class="nhsuk-u-margin-bottom-5">NHS Assured Integrations are the interoperability integrations specified and assured by the NHS: GP Connect, which allows GP practices to share and view clinical information, and IM1, which helps Catalogue Solutions integrate with other clinical systems.</p>


                        </div>







                        <h4 class="nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" data-test-id="subsection-title-supplier-assured-integrations">Supplier Assured Integrations</h4>



                        <div data-test-id="subsection-supplier-assured-integrations">


                            <p class="nhsuk-u-margin-bottom-5">Supplier Assured Integrations are interoperability interfaces prepared by a Supplier and are not specified or assured by the NHS.</p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div id="learn-more" data-test-id="guide-section-learn-more" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Learn More</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">





                        <div data-test-id="subsection-learn-more">


                            <p class="nhsuk-u-margin-bottom-5">You can refer to this guidance at any time using the Buyer’s Guide link in the footer of every page.</p>



                            <p data-test-id="guide-section-description-with-link" class="nhsuk-u-margin-bottom-5">
                                <span>You can access</span>
                                <a data-test-id="guide-link" href="https://gpitbjss.atlassian.net/wiki/spaces/BG/overview?homepageId=1810497659">further Buyer Guidance</a>
                                <span> on Capabilities and Standards, contractual requirements, funding and procurement methods.</span>
                            </p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div id="contact-us" data-test-id="guide-section-contact-us" class="nhsuk-width-container">

                <div data-test-id="guide-section-title" class="bc-c-section-heading ">
                    <h3 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Contact us</h3>
                </div>

                <div class="nhsuk-grid-row nhsuk-u-padding-left-3 nhsuk-u-padding-right-3">
                    <div data-test-id="guide-section-subsection" class="nhsuk-grid-column-two-thirds">





                        <div data-test-id="subsection-contact-us-paragraph">


                            <p data-test-id="guide-section-description-with-link" class="nhsuk-u-margin-bottom-5">
                                <span>If you experience any technical issues when using this website, please contact NHS Digital’s Exeter Helpdesk at</span>
                                <a data-test-id="guide-link" href="mailto:exeter.helpdesk@nhs.net">exeter.helpdesk@nhs.net</a>
                                <span>or call 0300 303 4034.</span>
                            </p>


                        </div>





                    </div>
                </div>
            </div>
        </div>

    </div>
</div>