{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags wagtailcore_tags %}

{% block content %}

    {% include "base/include/header-releasenotes.html" %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="releasenotes__meta">
                    {% if page.authors %}
                        <div class="releasenotes__avatars">
                            {% for author in page.authors %}
                                <div class="releasenotes__author">{% image author.image fill-50x50-c100 class="releasenotes__avatar" %}
                                    {{ author.first_name }} {{ author.last_name }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if page.backstory %}
                    {{ page.backstory }}

                    <hr>
                {% endif %}

                {# Give a label to the recipe section for screen reader users. #}
                <div id="recipe-headline" class="sr-only">
                    Recipe{% if page.recipe_headline %}: {{ page.recipe_headline|richtext }}{% endif %}
                </div>

                <section aria-labelledby="recipe-headline">
                    {{ page.body }}
                </section>
            </div>
        </div>
    </div>
{% endblock content %}
