<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>

<body>

    <partial name="_AdminHeader" />

    @RenderSection("breadcrumbs", false)

    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <script src="~/govuk-frontend/assets/js/govuk-frontend-3.11.0.min.js"></script>
    <script src="~/nhsuk-frontend/assets/js/nhsuk.min.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
</body>
</html>
