@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Contracts.ImplementationPlans.CustomImplementationPlanModel

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="Bespoke implementation plan milestones"
                        caption="Order @Model.CallOffId"
                        advice="Document the implementation plan milestones you've agreed with the supplier."/>

        <p>
            As you've agreed bespoke implementation plan milestones with the supplier, you need to document your requirements. You can do this by downloading and completing
            <a href="https://gpitbjss.atlassian.net/wiki/spaces/BC/pages/12044632097/Order+form+templates"
               target="_blank">Appendix 1: Implementation plan milestones (opens in a new tab)</a>.
        </p>
        
        <p>
            This document must be included when you send your order to the supplier. You can download it now or after you’ve completed your order.
        </p>
        
        <form method="post">
            <nhs-submit-button/>
        </form>
    </div>
</div>
