@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.AboutSolution.ImplementationTimescalesModel;
@{
    ViewData["Title"] = "Catalogue Solution implementation timescales";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="_BackLink" model="Model"/>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>
        <partial name="_NhsPageTitle" model="@Model.PageTitle()"/>
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId"/>
            <input type="hidden" asp-for="@Model.BackLink"/>
            <nhs-validation-textarea asp-for="Description"
                                     label-text="Implementation timescales (optional)"
                                     label-hint="Detail the minimum, average and maximum number of working days required to implement your Catalogue Solution. Provide any information that could influence the timescales and any responsibilities expected of a buyer."
                                     number-of-rows="5"/>
            <div data-test-id="section-expandable-advice">
                <div data-test-id="" class="bc-c-expandable__text--border-left-blue">
                    <details class="nhsuk-details">
                        <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                                How do I describe implementation timescales?
                            </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <p>The following is an example of a good answer:</p>
                            <p>Implementations without transition from another Catalogue Solution typically take 3-5 working days, the average is 4. The extent of your configuration requirements will have the greatest impact on these timescales. Your main responsibility will be configuration planning and approval.</p>
                            <p>Implementations with transition from another Catalogue Solution typically take 6-10 working days, the average is 7. The data structures and format will have the greatest impact on these timescales, as will the extent of local configuration.</p>
                            <p>If we have previously completed a transition from your outgoing supplier for another service recipient, the timescales are more likely to be shorter. We will expect you to cleanse your data before migration and to participate in testing.</p>
                        </div>
                    </details>
                </div>
            </div>
            <nhs-submit-button/>
        </form>
    </div>
</div>
