@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.AboutSolution.IntegrationsModel;
@{
    ViewData["Title"] = "Catalogue Solution integrations";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <nhs-validation-summary />
        <nhs-page-title title="@ViewData["Title"]"
                        advice="Describe any systems your Catalogue Solution integrates with to exchange data." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <nhs-input asp-for="Link"
                       label-text="Link to supplier asserted integrations (optional)"
                       label-hint="Provide a URL to a page that gives information about your own integrations. They may only allow your Catalogue Solution to partially integrate with other systems." />
            <nhs-inset-text>
                <p class="nhsuk-u-font-size-14">If you are providing a URL, it must link to a page detailing all the supplier asserted integrations for your Catalogue Solution. It’s your responsibility to keep this page up-to-date.</p>
            </nhs-inset-text>
            <nhs-submit-button />
        </form>
    </div>
</div>
