<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ORDAPI" connectionString="Data Source=localhost;Initial Catalog=ORDAPI;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ISAPI" connectionString="Data Source=localhost;Initial Catalog=ISAPI;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GPITBuyingCatalogue" connectionString="Data Source=localhost;Initial Catalog=GPITBuyingCatalogue;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="TestUsers" value="'User A', 'User B', 'User C', 'User D', 'User E'"/>-->    
  </appSettings>
</configuration>
