@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsLoginLink.LoginLinkModel

<div class="nhsuk-account__login">
    @if (Model.IsLoggedIn)
    {
        <p class="nhsuk-account__login--link">
            @Model.Text
            <vc:nhs-login-icon />
        </p>
    }
    else
    {
        <a class="nhsuk-account__login--link" href="@Model.Url">
            @Model.LinkText
            <vc:nhs-login-icon/>
        </a>
    }
</div>
