@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsLoginLink.LoginLinkModel

@{
    var link = Model.IsLoggedIn ? Model.LoggedInUrl : Model.Url;
    var text = Model.IsLoggedIn ? Model.LoggedInText : Model.Text;
}

<div class="nhsuk-account__login">
    <a class="nhsuk-account__login--link" href="@link">
        @text
        <vc:nhs-login-icon/>
    </a>
</div>
