@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Supplier.NewContactModel;
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
}

<div>
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />

            <nhs-page-title title="@Model.Title" 
                            caption="Order @Model.CallOffId"
                            advice="Provide details for this contact for @(Model.SupplierName)." />

            <nhs-inset-text>
                <p>Any new contacts you add will only be available for this order.</p>
                <p>You must add either a contact name or department name.</p>
            </nhs-inset-text>

            <form method="post">
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="SupplierId" />
                <input type="hidden" asp-for="SupplierName" />
               
                <nhs-input asp-for="FirstName"
                           label-text="First name" />
                <nhs-input asp-for="LastName"
                           label-text="Last name" />
                <nhs-input asp-for="Department"
                           label-text="Department name" />
                <nhs-input asp-for="PhoneNumber"
                           label-text="Telephone number"
                           input-width="Ten" />
                <nhs-input asp-for="Email"
                           label-text="Email address" />
                
                <div class="nhsuk-u-margin-top-9">
                    <nhs-submit-button />
                </div>
            </form>
        </div>
    </div>
</div>
