@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Supplier.SelectSupplierModel;

<div data-test-id="supplier-search-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary/>

            <nhs-page-title title="Supplier information"
                            caption="Order @(Model.CallOffId)"
                            advice="Search for the supplier you want to order from. You’ll only be able to find suppliers with solutions published on the Buying Catalogue." />

            @if (Model.AssociatedServicesOnly)
            {
                <div id="associated-services-inset">
                    <nhs-inset-text>
                        <p>You’ll only be able to find suppliers that offer Associated Services with their solutions.</p>
                    </nhs-inset-text>
                </div>
            }

            <form method="post">
                <input type="hidden" asp-for="AssociatedServicesOnly"/>
                <nhs-auto-complete label-text="Enter supplier name"
                                   asp-for="SelectedSupplierId"
                                   asp-items="@Model.Suppliers" />
                <br/>
                <nhs-submit-button/>
            </form>
        </div>
    </div>
</div>
