@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.UserModels.ResetPasswordModel
@{
    ViewBag.Title = "Reset password";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />

        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model!.Email" />
                        
        <div class="nhsuk-u-margin-bottom-9">
            <p>Are you sure you want to send this user a password reset email?</p>
        </div>

        <form method="post">
            <input type="hidden" asp-for="Email"/>

            <nhs-submit-button text="Confirm and send password reset email"/>
        </form>
    </div>
</div>
