@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.UserModels.UserDetailsModel
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="SelectedAccountType,IsActive" />

        <nhs-page-title title="@ViewBag.Title"
                        advice="Provide the following information about this user."/>

        <form method="post">
            <div class="nhsuk-u-margin-bottom-9">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="Title" />

                <nhs-auto-complete asp-for="SelectedOrganisationId"
                                   asp-items="@Model.Organisations"
                                   label-text="Organisation"/>
                <nhs-input asp-for="FirstName"
                           label-text="First name"/>
                <nhs-input asp-for="LastName"
                           label-text="Last name"/>
                <nhs-input asp-for="Email"
                           label-text="Email address"/>

                <hr/>

                <div class="nhsuk-u-margin-bottom-6">
                    <nhs-fieldset-form-label asp-for="SelectedAccountType"
                                             label-text="Account type"
                                             label-hint="Select one option."
                                             size="Medium">
                        <nhs-radio-buttons asp-for="SelectedAccountType"
                                           values="Model.AccountTypeOptions.Cast<object>()"
                                           value-name="Value"
                                           display-name="Text"
                                           hint-name="Advice" />
                    </nhs-fieldset-form-label>
                </div>

                <nhs-fieldset-form-label asp-for="IsActive"
                                         label-text="Account status"
                                         label-hint="Select one option."
                                         size="Medium">
                    <nhs-radio-buttons asp-for="IsActive"
                                       values="@Model.StatusOptions.Cast<object>()"
                                       value-name="Value"
                                       display-name="Text" />
                </nhs-fieldset-form-label>
            </div>

            <nhs-submit-button/>
        </form>
    </div>
</div>
