@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions; 
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models;
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
    ViewData["PageTitle"] = "You've been sent a link";
    ViewData["PageDescription"] = "A link to set your password has been sent to the email address you provided.";
    var backLinkModel = new NavBaseModel
    { 
        BackLink = Url.Action(nameof(AccountController.Login), typeof(AccountController).ControllerName()),
        BackLinkText = "Back to log in"
    };
}

<div data-test-id="login-page">
    <partial name="Partials/_BackLink" model="@backLinkModel" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewData["PageTitle"]" advice="@ViewData["PageDescription"]" />
        </div>
    </div>
</div>
