@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models;
@{
    // TODO: Should set ViewData["Title"] or ViewBag.Title
    ViewData["PageTitle"] = "Password set";
    ViewData["PageDescription"] = "You can now use your new password to log in.";
    var backLinkModel = new NavBaseModel
    {
        BackLink = Url.Action(nameof(AccountController.Login), typeof(AccountController).ControllerName()),
        BackLinkText = "Back to log in"
    };
}
<div data-test-id="reset-password-confirmation-page">
    <partial name="Partials/_BackLink" model="@backLinkModel" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewData["PageTitle"]" advice="@ViewData["PageDescription"]" />
        </div>
    </div>
</div>
