@{
    ViewData["PageTitle"] = "Password set";
    ViewData["PageDescription"] = "You can now use your new password to log in.";
}

@using NHSD.GPIT.BuyingCatalogue.WebApp.Models;
@{
    var backLinkModel = new NavBaseModel{ BackLink = "/identity/account/login", BackLinkText = "Back to log in" };
}
<div data-test-id="reset-password-confirmation-page">
    <partial name="Partials/_BackLink" model="@backLinkModel" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewData["PageTitle"]" advice="@ViewData["PageDescription"]" />
        </div>
    </div>
</div>
