@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.ResetPasswordViewModel
@{
    ViewData["PageTitle"] = "Choose your password";
    ViewData["PageDescription"] = "Please read the password policy before proceeding.";
}

<div data-test-id="reset-password-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div data-test-id="error-summary" nhs-validation-summary title="There is a problem"></div>
            <nhs-page-title title="@ViewData["PageTitle"]" advice="@ViewData["PageDescription"]" />
            <div data-test-id="reset-password-page-information">
                <p>
                    Your password must be at least ten characters in length and match on confirmation.
                </p>
                <p>
                    It must contain at least 3 of the following 4 character types:
                </p>
                <ul>
                    <li>lower case letters (a-z)</li>
                    <li>upper case letters (A-Z)</li>
                    <li>numbers (0-9)</li>
                    <li>special characters (e.g. !@@#$%^&*)</li>
                </ul>
            </div>
            <form data-test-id="input-form" asp-controller="Account" asp-action="ResetPassword" novalidate method="post">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />
                <nhs-input
                    asp-for="Password"
                    label-text="Enter a password"
                />
                <nhs-input
                    asp-for="ConfirmPassword"
                    label-text="Confirm password"
                />
                <nhs-submit-button text="Save password" />
            </form>
        </div>
    </div>
</div>
