@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Choose your password";
    var advice = "Please read the password policy before proceeding.";
}

<div data-test-id="reset-password-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title" advice="@advice" />
            <div data-test-id="reset-password-page-information">
                <partial name="_PasswordPolicy" model="true" />
            </div>
            <form data-test-id="input-form" novalidate method="post"
                  asp-controller="@typeof(AccountController).ControllerName()" 
                  asp-action="@nameof(AccountController.ResetPassword)">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />

                <nhs-input asp-for="Password"
                           label-text="Enter a password"/>
                <nhs-input asp-for="ConfirmPassword"
                           label-text="Confirm password"/>

                <nhs-submit-button text="Save password" />
            </form>
        </div>
    </div>
</div>
