@{
    ViewBag.Title = "Password link expired";
}

<div data-test-id="reset-password-expired-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewBag.Title"
                            advice="This link is no longer valid. You must request a new one." />
            <form novalidate method="get" action="/identity/Account/ForgotPassword">
                <nhs-submit-button text="Request new link" />
            </form>
        </div>
    </div>
</div>
