@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Choose your password";
    var advice = "Please read the password policy before proceeding.";
}

<div data-test-id="reset-password-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title" advice="@advice" />
            <div data-test-id="reset-password-page-information">
                <p>
                    Your password must be at least ten characters in length and match on confirmation. It must also:
                </p>
                <ul>
                    <li>have at least 1 lower case letter (a-z)</li>
                    <li>have at least 1 upper case letter (A-Z)</li>
                    <li>have at least 1 number (0-9)</li>
                    <li>have at least 1 special character (for example, !@@#$%^&*)</li>
                    <li>not match any previous passwords you've used to access the Buying Catalogue</li>
                </ul>
            </div>
            <form data-test-id="input-form" novalidate method="post"
                  asp-controller="@typeof(AccountController).ControllerName()" 
                  asp-action="@nameof(AccountController.ResetPassword)">
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />

                <nhs-input asp-for="Password"
                           label-text="Enter a password"/>
                <nhs-input asp-for="ConfirmPassword"
                           label-text="Confirm password"/>

                <nhs-submit-button text="Save password" />
            </form>
        </div>
    </div>
</div>
