@{
    ViewData["Title"] = "Password link expired";
}

<div data-test-id="reset-password-expired-page">
    <div class="nhsuk-u-padding-top-5" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <h1 data-test-id="page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Password link expired</h1>
            <p data-test-id="page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">This link is no longer valid. You must request a new one.</p>
        </div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <form novalidate method="get" action="/identity/Account/ForgotPassword">
                <button class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="request-new-link-button">
                    Request new link
                </button>
            </form>
        </div>
    </div>
</div>
