@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.ImplementationTimescalesModel;
@{
    ViewData["Title"] = "Catalogue Solution implementation timescales";
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <div data-test-id="section-back-link">
            <div class="nhsuk-back-link">
                <a class="nhsuk-back-link__link" href="../">
                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                    </svg>
                    Return to all sections
                </a>
            </div>

        </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds">


        <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7">
            <h1 data-test-id="section-title" class="nhsuk-u-margin-bottom-3">Catalogue Solution implementation timescales</h1>
            <h2 data-test-id="section-main-advice" class="nhsuk-u-font-size-22">Describe the typical processes and timescales to implement your Catalogue Solution. Include typical timescales that maybe required to transition from an existing solution if applicable.</h2>
            <div data-test-id="section-additional-advice">

            </div>
        </div>

        <form method="post">



            <input type="hidden" asp-for="@Model.Id" />




            <div data-test-id="section-question-textarea-field" class="nhsuk-u-margin-bottom-6">














                <div data-test-id="question-description">

                    <div data-test-id="textarea-field">



                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1100">


                            <div class="govuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="govuk-label nhsuk-u-font-size-24 nhsuk-label nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="description">
                                    Implementation timescales (optional)
                                </label>



                                <div id="description-hint" class="govuk-hint nhsuk-hint nhsuk-u-margin-bottom-3">
                                    Detail the minimum, average and maximum number of working days required to implement your Catalogue Solution. Provide any information that could influence the timescales and any responsibilities expected of a buyer.
                                </div>


                                <textarea class="govuk-textarea govuk-js-character-count" id="description" name="description" rows="5" aria-describedby="description-info description-hint">@Model.Description</textarea>
                            </div>

                            <div id="description-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 1100 characters
                            </div>

                        </div>

                    </div>

                </div>












            </div>







            <div data-test-id="section-expandable-advice">

                <div data-test-id="" class="bc-c-expandable__text--border-left-blue">
                    <details class="nhsuk-details">
                        <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                                How do I describe implementation timescales?
                            </span>
                        </summary>
                        <div class="nhsuk-details__text">
                            <p>The following is an example of a good answer:</p><p>Implementations without transition from another Catalogue Solution typically take 3-5 working days, the average is 4. The extent of your configuration requirements will have the greatest impact on these timescales. Your main responsibility will be configuration planning and approval.</p><p>Implementations with transition from another Catalogue Solution typically take 6-10 working days, the average is 7. The data structures and format will have the greatest impact on these timescales, as will the extent of local configuration.</p><p>If we have previously completed a transition from your outgoing supplier for another service recipient, the timescales are more likely to be shorter. We will expect you to cleanse your data before migration and to participate in testing.</p>
                        </div>
                    </details>

                </div>

            </div>


            <div data-test-id="section-submit-button" class="nhsuk-u-margin-top-7">










                <button class="nhsuk-button" type="submit">
                    Save and return
                </button>



            </div>
        </form>

    </div>
</div>