@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.FeaturesModel;
@{
    ViewData["Title"] = "Native mobile or tablet application - connectivity";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <div data-test-id="section-back-link">
            <div class="nhsuk-back-link">
                <a class="nhsuk-back-link__link" href="~/marketing/supplier/solution/@Model.SolutionId/section/native-mobile">
                    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                    </svg>
                    Return to all sections
                </a>
            </div>

        </div>
    </div>
    <div class="nhsuk-grid-column-two-thirds">


        <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7">
            <h1 data-test-id="section-title" class="nhsuk-u-margin-bottom-3">Native mobile or tablet application – connectivity</h1>
            <h2 data-test-id="section-main-advice" class="nhsuk-u-font-size-22">Let buyers know about your Catalogue Solution’s connection requirements.</h2>
            <div data-test-id="section-additional-advice">

            </div>
        </div>

        <form method="post">








            <div data-test-id="section-question-combobox-options" class="nhsuk-u-margin-bottom-6">
























                <div data-test-id="question-minimum-connection-speed">

                    <div data-test-id="combobox-options">

                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="minimum-connection-speed">
                                Connection speed (optional)
                            </label>
                            <div class="nhsuk-hint nhsuk-u-margin-bottom-3" id="minimum-connection-speed-hint">
                                Select the minimum bandwidth required for your Catalogue Solution to function.
                            </div>
                            <select class="nhsuk-select" id="minimum-connection-speed" name="minimum-connection-speed" aria-describedby="minimum-connection-speed-hint">
                                <option value="">Please select</option>
                                <option value="0.5Mbps">0.5Mbps</option>
                                <option value="1Mbps">1Mbps</option>
                                <option value="1.5Mbps">1.5Mbps</option>
                                <option value="2Mbps">2Mbps</option>
                                <option value="3Mbps">3Mbps</option>
                                <option value="5Mbps">5Mbps</option>
                                <option value="8Mbps">8Mbps</option>
                                <option value="10Mbps">10Mbps</option>
                                <option value="15Mbps">15Mbps</option>
                                <option value="20Mbps">20Mbps</option>
                                <option value="30Mbps">30Mbps</option>
                                <option value="Higher than 30Mbps">Higher than 30Mbps</option>
                            </select>
                        </div>

                    </div>

                </div>


            </div>










            <div data-test-id="section-question-checkbox-options" class="nhsuk-u-margin-bottom-6">




















                <div id="connection-types" data-test-id="question-connection-types">

                    <div data-test-id="checkbox-options">



















                        <div class="nhsuk-form-group">

                            <fieldset class="nhsuk-fieldset" aria-describedby="connection-types-hint">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                    Connection types supported (optional)
                                </legend>

                                <div class="nhsuk-hint nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0" id="connection-types-hint">
                                    Select all of the connection types that will work with your Catalogue Solution.
                                </div>


                                <div class="nhsuk-checkboxes">






                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-1" name="connection-types" type="checkbox" value="GPRS">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-1">
                                            GPRS
                                        </label>
                                    </div>








                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-2" name="connection-types" type="checkbox" value="3G">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-2">
                                            3G
                                        </label>
                                    </div>








                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-3" name="connection-types" type="checkbox" value="LTE">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-3">
                                            LTE
                                        </label>
                                    </div>








                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-4" name="connection-types" type="checkbox" value="4G">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-4">
                                            4G
                                        </label>
                                    </div>








                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-5" name="connection-types" type="checkbox" value="5G">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-5">
                                            5G
                                        </label>
                                    </div>








                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-6" name="connection-types" type="checkbox" value="Bluetooth">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-6">
                                            Bluetooth
                                        </label>
                                    </div>








                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input" id="connection-types-7" name="connection-types" type="checkbox" value="Wifi">
                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="connection-types-7">
                                            Wifi
                                        </label>
                                    </div>



                                </div>
                            </fieldset>


                        </div>

                    </div>

                </div>






            </div>










            <div data-test-id="section-question-textarea-field" class="nhsuk-u-margin-bottom-6">














                <div data-test-id="question-connection-requirements-description">

                    <div data-test-id="textarea-field">



                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="300">


                            <div class="govuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="govuk-label nhsuk-u-font-size-24 nhsuk-label nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="connection-requirements-description">
                                    Connection requirements (optional)
                                </label>



                                <div id="connection-requirements-description-hint" class="govuk-hint nhsuk-hint nhsuk-u-margin-bottom-3">
                                    Provide information on any connection requirements for your Catalogue Solution.
                                </div>


                                <textarea class="govuk-textarea govuk-js-character-count" id="connection-requirements-description" name="connection-requirements-description" rows="5" aria-describedby="connection-requirements-description-info connection-requirements-description-hint"></textarea>
                            </div>

                            <div id="connection-requirements-description-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 300 characters
                            </div>

                        </div>

                    </div>

                </div>












            </div>








            <div data-test-id="section-submit-button" class="nhsuk-u-margin-top-7">










                <button class="nhsuk-button" type="submit">
                    Save and return
                </button>



            </div>
        </form>

    </div>
</div>