@{
    ViewData["Title"] = "Catalogue Solutions on the GP IT Futures framework - Capability selector";
}

<div class="nhsuk-width-container">
    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="~/Solutions/Futures">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

    </div>
    <h1 class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4" data-test-id="capabilities-selector-page-title">Catalogue Solutions on the GP IT Futures framework – Capability selector</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="hgUKHGUm-JEhG5TTmWrMpr-h-U9t-zXr4fZc" />
        <div class="nhsuk-grid-row">
            <fieldset class="nhsuk-fieldset" aria-describedby="capabilities-hint" data-test-id="capabilities-selector-fieldset">
                <legend class="nhsuk-heading-l nhsuk-u-font-size-22 nhsuk-grid-column-two-thirds" data-test-id="capabilities-selector-page-description">
                    Select the Capabilities that match the needs of your organisation. Any Catalogue Solutions found will have proven they can address these needs and, in some cases, will do even more.
                </legend>
                <div class="nhsuk-hint nhsuk-grid-column-two-thirds" id="capabilities-hint">
                    Select all options that are relevant to you.
                </div>

                <div id="capabilities-selector" data-test-id="capabilities-selector">
                    <div data-test-id="capabilities-checkbox-column-1" class="nhsuk-grid-column-one-half">



















































                        <div class="nhsuk-form-group">

                            <div class="nhsuk-checkboxes">






                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-1" name="capabilities" type="checkbox" value="C1">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-1">
                                        Appointments Management – Citizen
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-2" name="capabilities" type="checkbox" value="C46">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-2">
                                        Appointments Management – COVID-19 Vaccinations
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-3" name="capabilities" type="checkbox" value="C5">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-3">
                                        Appointments Management – GP
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-4" name="capabilities" type="checkbox" value="C21">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-4">
                                        Care Homes
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-5" name="capabilities" type="checkbox" value="C22">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-5">
                                        Caseload Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-6" name="capabilities" type="checkbox" value="C6">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-6">
                                        Clinical Decision Support
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-7" name="capabilities" type="checkbox" value="C45">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-7">
                                        Cohort Identification
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-8" name="capabilities" type="checkbox" value="C2">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-8">
                                        Communicate With Practice – Citizen
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-9" name="capabilities" type="checkbox" value="C7">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-9">
                                        Communication Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-10" name="capabilities" type="checkbox" value="C23">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-10">
                                        Cross-organisation Appointment Booking
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-11" name="capabilities" type="checkbox" value="C24">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-11">
                                        Cross-organisation Workflow Tools
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-12" name="capabilities" type="checkbox" value="C25">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-12">
                                        Cross-organisation Workforce Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-13" name="capabilities" type="checkbox" value="C26">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-13">
                                        Data Analytics for Integrated and Federated Care
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-14" name="capabilities" type="checkbox" value="C8">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-14">
                                        Digital Diagnostics
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-15" name="capabilities" type="checkbox" value="C42">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-15">
                                        Dispensing
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-16" name="capabilities" type="checkbox" value="C9">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-16">
                                        Document Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-17" name="capabilities" type="checkbox" value="C27">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-17">
                                        Domiciliary Care
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-18" name="capabilities" type="checkbox" value="C28">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-18">
                                        e-Consultations (Patient/Service User to Professional)
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-19" name="capabilities" type="checkbox" value="C29">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-19">
                                        e-Consultations (Professional to Professional)
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-20" name="capabilities" type="checkbox" value="C10">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-20">
                                        GP Extracts Verification
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-21" name="capabilities" type="checkbox" value="C30">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-21">
                                        Medicines Optimisation
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-22" name="capabilities" type="checkbox" value="C40">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-22">
                                        Medicines Verification
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-1-23" name="capabilities" type="checkbox" value="C43">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-1-23">
                                        Online Consultation
                                    </label>
                                </div>



                            </div>

                        </div>

                    </div>
                    <div data-test-id="capabilities-checkbox-column-2" class="nhsuk-grid-column-one-half">



















































                        <div class="nhsuk-form-group">

                            <div class="nhsuk-checkboxes">






                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-1" name="capabilities" type="checkbox" value="C13">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-1">
                                        Patient Information Maintenance
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-2" name="capabilities" type="checkbox" value="C32">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-2">
                                        Personal Health Budget
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-3" name="capabilities" type="checkbox" value="C33">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-3">
                                        Personal Health Record
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-4" name="capabilities" type="checkbox" value="C34">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-4">
                                        Population Health Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-5" name="capabilities" type="checkbox" value="C14">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-5">
                                        Prescribing
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-6" name="capabilities" type="checkbox" value="C3">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-6">
                                        Prescription Ordering – Citizen
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-7" name="capabilities" type="checkbox" value="C41">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-7">
                                        Productivity
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-8" name="capabilities" type="checkbox" value="C15">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-8">
                                        Recording Consultations
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-9" name="capabilities" type="checkbox" value="C11">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-9">
                                        Referral Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-10" name="capabilities" type="checkbox" value="C16">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-10">
                                        Reporting
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-11" name="capabilities" type="checkbox" value="C12">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-11">
                                        Resource Management
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-12" name="capabilities" type="checkbox" value="C35">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-12">
                                        Risk Stratification
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-13" name="capabilities" type="checkbox" value="C17">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-13">
                                        Scanning
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-14" name="capabilities" type="checkbox" value="C36">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-14">
                                        Shared Care Plans
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-15" name="capabilities" type="checkbox" value="C37">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-15">
                                        Social Prescribing
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-16" name="capabilities" type="checkbox" value="C38">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-16">
                                        Telecare
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-17" name="capabilities" type="checkbox" value="C18">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-17">
                                        Telehealth
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-18" name="capabilities" type="checkbox" value="C39">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-18">
                                        Unified Care Record
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-19" name="capabilities" type="checkbox" value="C19">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-19">
                                        Unstructured Data Extraction
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-20" name="capabilities" type="checkbox" value="C47">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-20">
                                        Vaccination and Adverse Reaction Recording
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-21" name="capabilities" type="checkbox" value="C44">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-21">
                                        Video Consultation
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-22" name="capabilities" type="checkbox" value="C4">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-22">
                                        View Record – Citizen
                                    </label>
                                </div>








                                <div class="nhsuk-checkboxes__item">
                                    <input class="nhsuk-checkboxes__input" id="column-2-23" name="capabilities" type="checkbox" value="C20">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="column-2-23">
                                        Workflow
                                    </label>
                                </div>



                            </div>

                        </div>

                    </div>
                </div>

            </fieldset>
        </div>
        <div data-test-id="capabilities-selector-continue-button">










            <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                Continue
            </button>



        </div>
    </form>
</div>




