@using NHSD.GPIT.BuyingCatalogue.WebApp.Models
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["Title"] = "Compare all Catalogue Solutions on the GP IT Futures framework";
    var backLinkModel = new NavBaseModel{ BackLink = "/solutions/futures", BackLinkText = "Go back" };
}

<partial name="Partials/_BackLink" model="@backLinkModel" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewData["Title"]" advice="Use our compare document to help find what you’re looking for. It gives an overview of all the Catalogue Solutions available on the GP IT Futures framework and lets you filter them by the Capabilities they offer." />
        <div data-test-id="compare-button">
            <vc:nhs-secondary-button url="/solutions/compare/document"  text="Compare Solutions (.xlsx)" use-primary-colour="false" />
        </div>
    </div>
</div>
