@{
    ViewData["Title"] = "GP IT Furtures framework";
}

<div class="nhsuk-width-container" data-test-id="browse-solutions">
    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="~/">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back to previous page
            </a>
        </div>

    </div>
    <div data-test-id="browse-solutions-heading">

        <div class="nhsuk-grid-row" data-test-id="general-description">
            <div class="nhsuk-grid-column-two-thirds">

                <h1 class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">GP IT Futures framework</h1>


                <p class="nhsuk-heading-l nhsuk-u-font-size-22">There are two types of Catalogue Solution on the GP IT Futures framework. You can choose to view all those available or only the ones which have all 6 Foundation Capabilities - the minimum requirement to enable a GP practice to operate.</p>

            </div>
        </div>

    </div>
    <ul class="nhsuk-grid-row nhsuk-card-group" data-test-id="browse-solutions-promo-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="all-solutions-promo">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        <a class="nhsuk-card__link" href="~/Solutions/Futures/CapabilitiesSelector">View all Catalogue Solutions</a>
                    </h3>
                    <p class="nhsuk-card__description">Find Catalogue Solutions with the Capabilities to meet your needs</p>
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="foundation-solutions-promo">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        <a class="nhsuk-card__link" href="~/Solutions/Futures/Foundation">View Foundation Solutions</a>
                    </h3>
                    <p class="nhsuk-card__description">Find Catalogue Solutions that meet all Foundation Capabilities</p>
                </div>
            </div>

        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="compare-promo">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        <a class="nhsuk-card__link" href="~/Solutions/Futures/Compare">Compare all Catalogue Solutions</a>
                    </h3>
                    <p class="nhsuk-card__description">Get an overview of all the Catalogue Solutions available and filter them by the Capabilities they offer</p>
                </div>
            </div>

        </li>
    </ul>
    <div class="nhsuk-u-padding-bottom-2" data-test-id="browse-solutions-buyers-guide-information">
        <p>Find more information in our <a data-test-id='buyers-guide-link' href="~/guide">Buyer's Guide</a>.</p>
    </div>
</div>






