@using NHSD.GPIT.BuyingCatalogue.WebApp.Models
@{
    Layout = "~/Views/Shared/Layouts/_AllBannersLayout.cshtml";
    ViewData["Title"] = "GP IT Futures framework";
    var backLinkModel = new NavBaseModel{ BackLink = "/", BackLinkText = "Go back to previous page" };
}

<div data-test-id="browse-solutions">
    <partial name="Partials/_BackLink" model="@backLinkModel" />
    <div class="nhsuk-grid-row" data-test-id="general-description">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@ViewData["Title"]" advice="There are two types of Catalogue Solution on the GP IT Futures framework. You can choose to view all those available or only the ones which have all 6 Foundation Capabilities - the minimum requirement to enable a GP practice to operate." />
        </div>
    </div>
    <ul class="nhsuk-grid-row nhsuk-card-group" data-test-id="browse-solutions-promo-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="all-solutions-promo">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        <a class="nhsuk-card__link" href="~/solutions/futures/capabilitiesselector">View all Catalogue Solutions</a>
                    </h3>
                    <p class="nhsuk-card__description">Find Catalogue Solutions with the Capabilities to meet your needs</p>
                </div>
            </div>
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="foundation-solutions-promo">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        <a class="nhsuk-card__link" href="~/solutions/futures/foundation">View Foundation Solutions</a>
                    </h3>
                    <p class="nhsuk-card__description">Find Catalogue Solutions that meet all Foundation Capabilities</p>
                </div>
            </div>
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="compare-promo">

            <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                    <h3 class="nhsuk-card__heading">
                        <a class="nhsuk-card__link" href="~/solutions/futures/compare">Compare all Catalogue Solutions</a>
                    </h3>
                    <p class="nhsuk-card__description">Get an overview of all the Catalogue Solutions available and filter them by the Capabilities they offer</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="nhsuk-u-padding-bottom-2" data-test-id="browse-solutions-buyers-guide-information">
        <p>Find more information in our <a data-test-id='buyers-guide-link' href="~/guide">Buyer's Guide</a>.</p>
    </div>
</div>
