@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.NominateOrganisation.NominateOrganisationDetailsModel
@{
    Layout = "Layouts/_AllBannersLayout";
    ViewBag.Title = "Nominate an organisation";
}

<partial name="Partials/_BackLink" model="@Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        advice="Provide the following details and the Buying Catalogue Team will respond to your request within 5 working days." />

        <form method="post">
            <div class="nhsuk-u-margin-bottom-9">
                <nhs-input asp-for="OrganisationName"
                           label-text="Name of the organisation you’re nominating"
						   label-hint="Provide the name of the organisation you want to nominate to create orders on your behalf." />
                <nhs-input asp-for="OdsCode"
                           label-text="ODS code for organisation you’re nominating (optional)"
                           label-hint="Provide the ODS code for your organisation if you know it." />
            </div>

            <div class="nhsuk-u-margin-bottom-9">
                <h2>Privacy policy agreement</h2>
                <p>
                    You must confirm you have read and understood our <a href='~/privacy-policy' target="_blank">privacy policy (opens in a new tab)</a> before sending.
                </p>
                <nhs-fieldset-form-label asp-for="@Model">
                    <nhs-checkbox-container>
                        <nhs-checkbox asp-for="HasReadPrivacyPolicy" 
                                      label-text="I have read and understood the privacy policy"/>
                    </nhs-checkbox-container>
                </nhs-fieldset-form-label>
            </div>

            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="BackLinkText" />

            <nhs-submit-button text="Submit nomination request" />
        </form>
    </div>
</div>
