@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.NominateOrganisation.NominateOrganisationDetailsModel
@{
    Layout = "Layouts/_AllBannersLayout";
    ViewBag.Title = "Nominate an organisation to create orders on your behalf";
}

<partial name="Partials/_BackLink" model="@Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        advice="Provide the following information to nominate an organisation. The Buying Catalogue Team will respond to your request within 5 working days." />

        <form method="post">
            <div class="nhsuk-u-margin-bottom-9">
                <nhs-input asp-for="OrganisationName"
                           label-text="Name of organisation you're nominating"
                           label-hint="We currently only support buyers from Integrated Care Boards (ICBs) and Commissioning Support Units (CSUs)." />
                <nhs-input asp-for="OdsCode"
                           label-text="ODS code for organisation you're nominating (optional)"
                           label-hint="Provide the ODS code for the organisation you're nominating if you know it." 
                           input-width="Five"/>
            </div>

            <input type="hidden" asp-for="BackLink"/>
            <input type="hidden" asp-for="BackLinkText" />

            <nhs-submit-button text="Submit nomination request" />
        </form>
    </div>
</div>
