@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models
@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@{
    ViewBag.Title = "Nominate an organisation to create orders on your behalf";
    var backLinkModel = new NavBaseModel { BackLink = "/" };
}

<partial name="Partials/_BackLink" model="@backLinkModel" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        advice="Get support procuring IT systems from the Buying Catalogue." />
        <p>
            You can nominate an organisation to create orders from the Buying Catalogue on your behalf using our online form. You'll need to provide the name of the organisation you're nominating and its ODS code if you know it.
        </p>
        <p>
            We’ll send you an email to confirm this has been set up and then registered users from that organisation will be able to create orders for you.
        </p>
        <p>
            The Buying Catalogue Team aims to respond to nomination requests within 5 working days.
        </p>
        <p>
            If you need advice about using the Buying Catalogue or procuring IT systems, contact the 
            <a id="procurement-hub-link" 
               href="@Url.Action(
                         nameof(ProcurementHubController.Index),
                         typeof(ProcurementHubController).ControllerName(),
                         new { returnUrl = Url.Action(
                             nameof(NominateOrganisationController.Index),
                             typeof(NominateOrganisationController).ControllerName()),
                         })">National Commercial and Procurement Hub</a>.
        </p>
        <p>
            If for any reason the button does not work, you can send your details to buying.catalogue@nhs.net with the subject line: Buying Catalogue nomination request.
        </p>
        <br />
        <vc:nhs-action-link url="@Url.Action(
                                     nameof(NominateOrganisationController.Details),
                                     typeof(NominateOrganisationController).ControllerName())" 
                            text="Nominate an organisation") />
    </div>
</div>
