@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.NavBaseModel
@{
    ViewBag.Title = "You cannot nominate an organisation";
}

<partial name="Partials/_BackLink" model="@Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        advice="As you are buying for a single practice, you cannot nominate an organisation to act on your behalf." />

        <vc:nhs-secondary-button text="Return to homepage"
                                 url="@Url.Action(
                                          nameof(HomeController.Index),
                                          typeof(HomeController).ControllerName())"
                                 type="Primary" />
    </div>

</div>
