<nhs-details label-text="How do I score solutions?">
    <b>How to score solutions:</b>
    <p>1 = Bad, no requirements met</p>
    <p>2 = Poor, few requirements met</p>
    <p>3 = Adequate, just meets requirements</p>
    <p>4 = Good, requirements covered well</p>
    <p>5 = Excellent, all requirements covered well</p>
    <p>You should keep a record of the rationale you used to score each solution.</p>
</nhs-details>
