@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.YourAccount.ManagePasswordModel;
@{
    Layout = "~/Views/Shared/Layouts/_SideNavigationLayout.cshtml";
}
<div class="nhsuk-width-container">
    <main id="maincontent" role="main">
        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <form method="post">
                        <input type="hidden" asp-for="@Model.Title" />
                        <input type="hidden" asp-for="@Model.Caption" />
                        <nhs-card title="Change password">
                            @if (Model.Saved)
                            {
                                <div class="filtering-card">
                                    <p class="info-text">
                                        You’ve successfully changed your password.
                                    </p>
                                </div>
                            }
                            <p>
                                To make changes you must first enter your current password.
                            </p>
                            <nhs-input asp-for="UpdatePasswordViewModel.CurrentPassword"
                                       label-text="Enter your current password" />

                            <nhs-input asp-for="UpdatePasswordViewModel.NewPassword"
                                       label-text="Enter your new password">
                                <label-hint>
                                    <partial name="_PasswordPolicy" model="false" />
                                </label-hint>
                            </nhs-input>

                            <nhs-input asp-for="UpdatePasswordViewModel.ConfirmPassword"
                                       label-text="Confirm your new password" />

                            <nhs-submit-button text="Save password" />
                        </nhs-card>
                    </form>
                </div>
            </div>
        </article>
    </main>
</div>
