@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.DeleteAdditionalServiceModel;
@{
    ViewData["Title"] = $"Delete Training Day at Practice information for C010005";
}

<div class="nhsuk-width-container" data-test-id="delete-catalogue-page">

    <div data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/order/organisation/03F/order/C010000-01/associated-services/10000-S-003">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <h1 data-test-id="delete-catalogue-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Delete Training Day at Practice from C010000-01?</h1>
            <p data-test-id="delete-catalogue-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">This Associated Service will be deleted from your order.</p>
            <h2 data-test-id="catalogue-description-title" class="nhsuk-u-margin-bottom-3">Order description</h2>
            <p data-test-id="catalogue-description" class="nhsuk-u-font-size-19">Blah</p>

            <form method="post">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <div class="bc-u-inline-block">
                            <div data-test-id="yes-button">
                                <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                                    Confirm delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-test-id="cancel-link">
                    <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="/order/organisation/03F/order/C010000-01/associated-services/10000-S-003">
                            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                            </svg>
                            Cancel delete
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
