@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AdditionalServices.DeleteContinueModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="delete-catalogue-confirmation-page">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" advice="This Additional Service has been deleted from your order." />
            <vc:nhs-secondary-button url="@Model.ContinueLink"
                                     text="Continue" />
        </div>
    </div>
</div>
