@{
    ViewData["Title"] = $"Associated Services for C010005";
}

<div class="nhsuk-width-container" data-test-id="additional-services-page">
    <div data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/order/organisation/03F/order/C010001-01">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div>
            <h1 data-test-id="additional-services-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Additional Service for C010001-01</h1>
            <p data-test-id="additional-services-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">Add the Additional Services you want to be part of this order.</p>

            <div data-test-id="additional-services-page-insetAdvice">
                <div class="nhsuk-inset-text">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    If you do not want to add any, or have finished adding Additional Services, continue to the next step.
                </div>
            </div>

            <h2 data-test-id="order-description-heading" class="nhsuk-u-margin-bottom-3">Order description</h2>
            <p data-test-id="order-description" class="nhsuk-u-font-size-19 nhsuk-u-font-weight-normal">Test2</p>

            <div data-test-id="add-orderItem-button">

                <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-9" href="/order/organisation/03F/order/C010001-01/additional-services/select/additional-service" draggable="false">
                    Add Additional Service
                </a>
            </div>

            <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3 bc-c-order-table__hr" />

            <div data-test-id="show-added-orderItems">

                <div data-test-id="added-orderItems">

                    <table data-test-id="table" class="" style="page-break-inside:auto">

                        <thead data-test-id="table-headings" style="display:table-header-group;">

                        <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 " style="width:">
                            <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Additional Service</div>
                        </th>

                        <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 " style="width:">
                            <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">Unit of order</div>
                        </th>

                        <th data-test-id="column-heading-2" class="nhsuk-u-padding-bottom-0 " style="width:">
                            <div data-test-id="column-heading-2-data" class="nhsuk-u-font-weight-bold">Service Recipient (ODS code)</div>
                        </th>
                        </thead>

                        <tbody>

                            <tr data-test-id="table-row-0" style="page-break-inside:avoid; page-break-after:auto">

                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <a data-test-id="10000-001A003-catalogueItemName" href="/order/organisation/03F/order/C010001-01/additional-services/10000-001A003">Automated Arrivals</a>
                                </td>

                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <div data-test-id="10000-001A003-unitoforder" class="bc-c-data-text ">per licence per month</div>
                                </td>

                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <div>

                                        <div data-test-id="10000-001A003-serviceRecipients" class="">
                                            <details class="nhsuk-details">
                                                <summary class="nhsuk-details__summary">
                                                    <span class="nhsuk-details__summary-text">
                                                        Service recipients (ODS code)
                                                    </span>
                                                </summary>
                                                <div class="nhsuk-details__text">
                                                    ASSURA ER LLP HULL DERMATOLOGY (Y03508)<br><br>BEVAN LIMITED (Y07021)
                                                </div>
                                            </details>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div data-test-id="continue-button">

                <a class="nhsuk-button nhsuk-u-margin-top-9" href="/order/organisation/03F/order/C010000-01" draggable="false">
                    Continue
                </a>
            </div>
        </div>
    </div>
</div>
