@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Orders.ReadyToStartModel
@{
    ViewBag.Title = "Before you start an order";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/FrameworkExpiry.min.js")" asp-append-version="true"></script>
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model!.OrganisationName" />
			<partial name="Partials/_FrameworkExpiredAlert" />
			<nhs-page-title advice="Before you start your order, you should know:" />
            <ul>
                <li>the approximate value of your order</li>
                <li>what solutions and services you want to order</li>
                <li>how you’re going to pay for your order</li>
                <li>the commencement date of your Call-off Agreement</li>
                <li>the initial period as agreed with the supplier</li>
                <li>the duration of the contract (maximum term)</li>
                <li>which practices will be receiving the Catalogue Solutions and services being ordered</li>
                <li>the quantity of Additional and Associated Services you want if you’re ordering any</li>
                <li>contact details for the supplier of the Catalogue Solution and any services you’re ordering</li>
                <li>if any price has been agreed with the supplier other than the list price</li>
            </ul>

            <form method="post">
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="BackLinkText" />
                <nhs-submit-button text="Start order" />
            </form>

            <h2>Need help?</h2>
            <p>
                For help using the Buying Catalogue, contact the National Commercial and Procurement Hub:
            </p>

            <vc:nhs-action-link url="@Url.Action(
                                         nameof(ProcurementHubController.Index),
                                         typeof(ProcurementHubController).ControllerName(),
                                         new { returnUrl = Url.Action(
                                             nameof(OrderController.ReadyToStart),
                                             typeof(OrderController).ControllerName(),
                                             new { Model!.InternalOrgId, orderType = Model.OrderType.Value }) })"
                                text="Get procurement support" />
        </div>
    </div>
</div>
