@model NHSD.GPIT.BuyingCatalogue.EntityFramework.Models.Ordering.Address
@{
    ViewData["Title"] = "Address";
}

<nhs-page-title title="Adress"
                caption="View Component"
                advice="This is an internal view component for turning the address model into a break row formated address"
                additional-advice="This page is rendered from address.cshtml using an NHSD.GPIT.BuyingCatalogue.EntityFramework.Models.Address Model.
                This model has been initialised in the controller." />


<nhs-fieldset-form-container asp-for="@Model"
                             label-text="The Output from The Adress View Component">

    <vc:nhs-address address="@Model" />
</nhs-fieldset-form-container>


<p>This view component is intended for when you wish to display the contents of the address object as an output</p>
<p>it does this by displaying the contents on the adress model in order, and ignoring any blank lines</p>
<p>Each line is then seperated by a &lt;br /&gt; tag</p>

<nhs-fieldset-form-container asp-for="@Model"
                             label-text="Example Code">
    <div class="app-tabs__container js-tabs__container bc-code-snippet">
        <span class="vs-light-theme-blue bracket">&lt;</span>
        <span class="vs-light-theme-purple">vc:nhs-address address</span>
        <span class="vs-light-theme-blue">="@@Model.Address"</span>
        <span class="vs-light-theme-blue bracket">/&gt;</span>
    </div>
</nhs-fieldset-form-container>

<nhs-fieldset-form-container asp-for="@Model"
                             label-text="Example Output of the Above Model">
    Our House&lt;br /&gt;<br/>
    In The Middle&lt;br /&gt;<br/>
    OfOurStreet&lt;br /&gt;<br/>
    In a Town&lt;br /&gt;<br/>
    P05T CD3&lt;br /&gt;<br/>
    In a Country&lt;br /&gt;<br/>
</nhs-fieldset-form-container>

<nhs-endnote>
    Page last Updated: 10 June 2021
</nhs-endnote>


