@model NHSD.GPIT.BuyingCatalogue.UI.Components.WebApp.Models.TextInputModel
@{
    ViewBag.Title = "Bookended inputs";
}

<nhs-page-title title="@ViewBag.Title"
                advice="Used for Allowing users to input data while providing extra information on the input information required."
                caption="Tag Helpers"
                additional-advice="This page is rendered from BookendedTextInput.cshtml using the TextInputModel." />

<p>Bookended inputs are simliar to normal Text Inputs, however they are usually for small number inputs and show a Prefix and Suffix for helping users know what information to provide.</p>

<vc:nhs-action-link url="text-input" text="Read about Text Inputs Here" />

<nhs-bookended-input asp-for="TextInput100Character"
                     label-text="Text Input for 100 Characters"
                     label-hint="And a Hint"
                     Prefix="£"
                     Suffix="Per Annum" />

<nhs-bookended-input asp-for="TextInputNoLength"
                     label-text="Defaults to 10 Characters Maximum"
                     Prefix="£"
                     Suffix="Per Annum" />

<nhs-bookended-input asp-for="TextInputNoLength"
                     label-text="Has no Prefix Set"
                     Suffix="Per Annum" />

<nhs-bookended-input asp-for="TextInputNoLength"
                     label-text="Has No Suffix Set"
                     Prefix="£" />

<nhs-fieldset-form-container asp-for="@Model"
                             label-text="Code Example for the first Bookended Input"
                             size="Medium">
    <div class="app-tabs__container bc-code-snippet">
        <span class="vs-light-theme-blue">&lt;</span><span class="vs-light-theme-purple">nhs-bookended-input</span><br />
        <span class="vs-light-theme-purple first-layer">asp-for</span><span class="vs-light-theme-blue">="TextInput100Character"&nbsp;</span><br />
        <span class="vs-light-theme-purple first-layer">Label-text</span><span class="vs-light-theme-blue">="Text Input for 100 Characters"</span><br />
        <span class="vs-light-theme-purple first-layer">label-hint</span><span class="vs-light-theme-blue">="And a Hint"</span><br />
        <span class="vs-light-theme-purple first-layer">Prefix</span><span class="vs-light-theme-blue">="£"</span><br />
        <span class="vs-light-theme-purple first-layer">Suffix</span><span class="vs-light-theme-blue">="Per Annum"</span><br />
        <span class="vs-light-theme-blue">/&gt;</span>
    </div>
</nhs-fieldset-form-container>

<nhs-table label-text="Attributes">
    <nhs-table-column>Attribute</nhs-table-column>
    <nhs-table-column>Functionality</nhs-table-column>
    <nhs-table-column>Required</nhs-table-column>

    <nhs-table-row-container>
        <nhs-table-cell>asp-for</nhs-table-cell>
        <nhs-table-cell>
            <p>This is a reference to the field that the input will load and save its value too/from.</p>
            <p>This Property on the model can also store other validation attributes.</p>
            <ul>
                <li>[StringLength(10)] Will force the inputs max-length to be set to 100. If missing it will default to 10.</li>
            </ul>
            <p>Due to the small nature of this input, it is suggest to only take in 10 characters maximum.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="Yes" colour="Red" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>label-text</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this attribute will set the title of the input.</p>
            <p>If not set, no label will be displayed.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>label-hint</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this attribute will add a hint under the title on the input.</p>
            <p>If not set, no hint will be displayed.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>Prefix</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this to true will display this text before the input </p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>Suffix</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this to true will display this text after the input </p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
</nhs-table>

<nhs-endnote>
    Page last Updated 14 June 2021
</nhs-endnote>
