@model NHSD.GPIT.BuyingCatalogue.UI.Components.WebApp.Models.BreadcrumbsModel
@{
    ViewData["Title"] = "Breadcrumbs";
}

@section Breadcrumbs {
    <vc:nhs-breadcrumbs items="@Model.Breadcrumbs" />
}

<nhs-page-title title="Breadcrumbs"
                caption="View Components"
                advice="Use breadcrumbs to help users understand where they are in the website."
                additional-advice="This page is rendered from Breadcrumbs.cshtml using the BreadcrumbsModel.
                This model has been initialised in the controller." />

<p>The breadcrumbs have been rendered at the top of this page.</p>
<p>They have been rendered from the _Layout.cshtml using the Breadcrumbs section</p>
<p>to put focus on this (but without the correct width, since this page is in a container) it looks like this.</p>

<vc:nhs-breadcrumbs items="@Model.Breadcrumbs" />

<p style="margin-bottom:30px;"></p>

<nhs-fieldset-form-container asp-for="@Model"
                             size="Medium"
                             label-text="Example Code of using the Breadcrumbs">

    <div class="app-tabs__container js-tabs__container bc-code-snippet">
        <span class="vs-light-theme-blue bracket">&lt;</span><span class="vs-light-theme-purple">vc:nhs-breadcrumbs items</span><span class="vs-light-theme-blue">="@@Model.Breadcrumbs"</span>
        <span class="vs-light-theme-blue bracket">/&gt;</span>
    </div>

</nhs-fieldset-form-container>

<nhs-table label-text="Attributes">
    <nhs-table-column>Attribute</nhs-table-column>
    <nhs-table-column>Functionality</nhs-table-column>
    <nhs-table-column>Required</nhs-table-column>

    <nhs-table-row-container>
        <nhs-table-cell>&commat;Url.Action</nhs-table-cell>
        <nhs-table-cell>
            <p>Directly implements <a href="https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.urlhelper.action?view=aspnet-mvc-5.2#System_Web_Mvc_UrlHelper_Action_System_String_System_String_System_Object_">UrlHelper.Action</a></p>
            <p>public virtual string Action (string actionName, string controllerName, object routeValues);</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="Yes" colour="Red" />
        </nhs-table-cell>
    </nhs-table-row-container>
</nhs-table>
<p style="margin-bottom:30px;"></p>
<nhs-fieldset-form-container asp-for="@Model"
                             size="Medium"
                             label-text="Example of the Model">
<pre>
    model.Breadcrumbs = new List<NhsBreadcrumbModel>()
    {
        new NhsBreadcrumbModel {
            Action = "Action",
            Controller = "Controller",
            Text = "Text",
            Values = new { ParamOne = "hello", ParamTwo = "world" },
        },
    };
</pre>
</nhs-fieldset-form-container>

<nhs-endnote>
    Page last Updated: 10 June 2021
</nhs-endnote>


