
@{
    ViewData["Title"] = "Buying Catalogue UI Components";
}

@section Banner {
    <div class="nhsuk-hero">
        <div class="nhsuk-hero__wrapper">
            <div class="nhsuk-width-container nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds nhsuk-u-padding-0">
                    <h1 class="nhsuk-u-margin-bottom-3">Buying Catalogue UI Component Handbook</h1>
                    <p class="nhsuk-heading-l nhsuk-u-font-size-22 nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-normal">Guide how to use the new UI Components for Buying Catalogue</p>
                </div>
            </div>
        </div>
    </div>
}

<nhs-page-title title="Buying Catalogue UI Components" />

<p>This WebApp contains the instructions on how to use the new UI Components in the Buying Catalogue UI.</p>
<p>The pages have been set up so that they use the Components themselves to create the pages.</p>
<p>reading the pages will tell you how to use them, while looking at their .cshtml files shows how they've been used to create these pages.</p>
<p>to find the components to use, use the menu on the left</p>

<nhs-endnote>
    Last Updated: 10 June 2021
</nhs-endnote>
