@model NHSD.GPIT.BuyingCatalogue.UI.Components.WebApp.Models.BlankModel
@{
    ViewData["Title"] = "Inset Text";
}

<nhs-page-title title="Inset Text"
                caption="Tag Helper"
                advice="Use inset text to help users identify and understand important content on the page, even if they do not read the whole page."
                additional-advice="This page is rendered from InsetText.cshtml using the BlankModel." />

<nhs-inset-text>
    This is some Text inside of an Inset
</nhs-inset-text>

<p>Inset Text are a type of "wrapper tag".
    This means that this tag can wrap around any arbitrary mixture of raw Html and Components to generate the content it encapsulates.</p>

<nhs-inset-text>
    <p>This is a Paragraph inside of an Inset Text</p>
    <vc:nhs-action-link url="inset-text" text="Go here to read about Inset Text" />
</nhs-inset-text>

<nhs-fieldset-form-container asp-for="@Model"
                             label-text=" Code Example of the Above Inset Text"
                             size="Medium">
    <div class="app-tabs__container  bc-code-snippet">
        <span class="vs-light-theme-blue">&lt;</span><span class="vs-light-theme-purple">nhs-inset-text</span>
        <span class="vs-light-theme-blue">&gt;</span><br /><span class="vs-light-theme-blue first-layer">&lt;</span><span class="vs-light-theme-purple">p</span><span class="vs-light-theme-blue">&gt;This is a Paragraph inside of an Inset Text&lt;</span><span class="vs-light-theme-purple">/p</span><span class="vs-light-theme-blue">&gt;</span><br />
        <span class="vs-light-theme-blue first-layer">&lt;</span><span class="vs-light-theme-purple">vc:nhs-action-link url</span><span class="vs-light-theme-blue">="inset-text"</span><br />
        <span class="vs-light-theme-purple second-layer">text</span><span class="vs-light-theme-blue">="Go here to read about Inset Text" /&gt;</span><br /><span class="vs-light-theme-blue">&lt;</span><span class="vs-light-theme-purple">/nhs-inset-text</span>
        <span class="vs-light-theme-blue">&gt;</span><br />
    </div>
</nhs-fieldset-form-container>

<nhs-warning-callout label-text="Inset Text Attributes">
    Inset text has no Attributes. It is a pure wrapper tag.
</nhs-warning-callout>

<p>The Inset is used inside of the PageTitle Tag Helper to render the Additional Advice Section</p>
<vc:nhs-action-link url="page-title" text="Click here to read about page titles" />

<nhs-endnote>
    Page last Updated 14 June 2021
</nhs-endnote>
