@model NHSD.GPIT.BuyingCatalogue.UI.Components.WebApp.Models.BlankModel
@{
    ViewData["Title"] = "Page Titles";
}

<nhs-page-title title="Page Titles"
                caption="Tag Helper"
                advice="Help users understand which page they're on"
                additional-advice="This page is rendered from PageTitle.cshtml using the BlankModel." />

<p>As shown at the top of this page, a page title tag helper shows the user which page they're on.</p>

<nhs-fieldset-form-container asp-for="@Model"
                             label-text="Code Example for the above Page Title"
                             size="Medium">
    <div class="app-tabs__container bc-code-snippet">
        <span class="vs-light-theme-blue">&lt;</span><span class="vs-light-theme-purple">nhs-page-title</span><br />
        <span class="vs-light-theme-purple first-layer">title</span><span class="vs-light-theme-blue">="Page Titles"&nbsp;</span><br />
        <span class="vs-light-theme-purple first-layer">caption</span><span class="vs-light-theme-blue">="Tag Helper"</span><br />
        <span class="vs-light-theme-purple first-layer">advice</span><span class="vs-light-theme-blue">="Help users understand which page they're on"</span><br />
        <span class="vs-light-theme-purple first-layer">additional-advice</span><span class="vs-light-theme-blue">="This page is rendered from PageTitle.cshtml using the BlankModel."</span><br />
        <span class="vs-light-theme-blue">/&gt;</span>
    </div>
</nhs-fieldset-form-container>

<p style="margin-bottom:30px;"></p>

<nhs-table label-text="Attributes">
    <nhs-table-column>Attribute</nhs-table-column>
    <nhs-table-column>Functionality</nhs-table-column>
    <nhs-table-column>Required</nhs-table-column>

    <nhs-table-row-container>
        <nhs-table-cell>title</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this attribute will set the page title.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>caption</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this attribute will add a caption for the title just below the title.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>advice</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this attribute will add page advice for the user.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
    <nhs-table-row-container>
        <nhs-table-cell>additional-advice</nhs-table-cell>
        <nhs-table-cell>
            <p>Setting this attribute will add an inset text below the title. can be used for adding more advice that needs to be prominent.</p>
        </nhs-table-cell>
        <nhs-table-cell>
            <nhs-tag text="No" colour="Green" />
        </nhs-table-cell>
    </nhs-table-row-container>
</nhs-table>

<p style="margin-top:30px;">Note: The Additional Advice section is generated from the inset text tag helper</p>
<vc:nhs-action-link url="inset-text" text="Click here to read more about Inset Text" />

<nhs-warning-callout label-text="Changes for .Net 6">
    <p>
        Due to the fact that View Components do not allow optional attributes, this tag uses a tag helper for handing the optional inputs<br />
        while a View Component does the rendering.
    </p>
    <p>This has been fixed for .Net 6.</p>
    <p>
        So in .Net 6, the Tag Helper version will be deleted and all tags will be changed to gain the &lt;vc:nhs-page-title /&gt; tag.<br />
        This shouldn't will not break any other functionality.
    </p>
</nhs-warning-callout>

<nhs-endnote>
    Page last Updated: 11 June 2021
</nhs-endnote>
