<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>
<body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    <partial name="_Header" />

    @await RenderSectionAsync("Banner", false)
    @await RenderSectionAsync("Breadcrumbs", false)

    <div class="nhsuk-width-container app-width-containter">
        <main role="main" class="nhsuk-main-wrapper app-main-wrapper" id="maincontent">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full app-component-reading-width">
                    <div class="app-pane">
                        <div class="app-pane__side-bar">
                            <nav class="app-side-nav">
                                <h2 class="app-side-nav__heading">View Components</h2>
                                <ul class="nhsuk-list app-side-nav__list">
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="action-link">Action Link</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="address">Address</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="breadcrumbs">Breadcrumbs</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="care-card">Care Card</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="buttons">Buttons</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="do-and-dont-list">Do and Don't Lists</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="images">Images</a></li>
                                </ul>
                                <h2 class="app-side-nav__heading">Tag Helpers</h2>
                                <ul class="nhsuk-list app-side-nav__list">
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="checkboxes">CheckBoxes</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="page-title">Page Titles</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="date-input">Date Input</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="time-input">Time Input</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="details-and-expanders">Details and Expanders</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="end-note">End Note</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="fieldsets">Field Sets</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="text-input">Text Input</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="bookended-text-input">Bookended Text Input</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="text-area">Text Area</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="inset-text">Inset Text</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="radio-lists">Radio Lists</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="yes-no-radios">Yes No Radios</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="select-list">Select List</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="summary-list">Summary List</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="table">Table</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="tags">Tags</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="validation-summary">Validation Summary</a></li>
                                    <li class="app-side-nav__item"><a class="app-side-nav__link" href="warning-callout">Warning Callout</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="app-pane__main-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div data-test-id="footer" class="bc-bg--grey-4">
        <div data-test-id="footer-component">
            <footer role="contentinfo">
                <div class="nhsuk-footer" id="nhsuk-footer">
                    <div class="nhsuk-width-container">
                        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                        <ul class="nhsuk-footer__list">
                            <li class="nhsuk-footer__list-item">
                                <a class="nhsuk-footer__list-item-link" href="~/guide">Buyer&#39;s Guide</a>
                            </li>
                            <li class="nhsuk-footer__list-item">
                                <a class="nhsuk-footer__list-item-link" href="~/guide#contact-us">NHS Helpdesk</a>
                            </li>
                            <li class="nhsuk-footer__list-item">
                                <a class="nhsuk-footer__list-item-link" href="https://digital.nhs.uk/">NHS</a>
                            </li>
                            <li class="nhsuk-footer__list-item">
                                <a class="nhsuk-footer__list-item-link" href="https://digital.nhs.uk/services/future-gp-it-systems-and-services">About GP IT Futures</a>
                            </li>
                            <li class="nhsuk-footer__list-item">
                                <a class="nhsuk-footer__list-item-link" href="https://gpitbjss.atlassian.net/wiki/spaces/GPITF/overview">Capabilities and Standards Model</a>
                            </li>
                        </ul>
                        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
                    </div>
                </div>
            </footer>
        </div>
        <ul data-test-id="legal-panel" class="bc-lh-r bc-body-r bc-list-none nhsuk-u-padding-0 nhsuk-u-padding-bottom-3 nhsuk-width-container">
            <li class='bc-u-display-inline nhsuk-u-margin-0 nhsuk-u-margin-right-2'>Legal</li>
            <li class='bc-u-display-inline nhsuk-u-margin-0 nhsuk-u-margin-right-2'>
                <a href='~/privacy-policy'>Privacy policy and Cookies</a>
            </li>
            <li class='bc-u-display-inline nhsuk-u-margin-0 nhsuk-u-margin-right-2'>
                <a href='~/document/terms-of-use.pdf'>Terms and Conditions</a>
            </li>
        </ul>
    </div>

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <script src="~/govuk-frontend/assets/js/govuk-frontend-3.11.0.min.js"></script>
    <script src="~/nhsuk-frontend/assets/js/nhsuk.min.js"></script>
    <script>
        window.GOVUKFrontend.initAll()
    </script>
</body>
</html>
