@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.AssociatedServices.EditAssociatedServiceModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="nhsuk-width-container" data-test-id="order-item-page">
    <partial name="Partials/_BackLink" model="Model" />

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-page-title title="@Model.Title" advice="Provide the price you&#39;ve agreed with the supplier and the quantity you want to order." />
        </div>

        <form method="post">
            <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-u-margin-bottom-5">
                    <div class="">

                        <div data-test-id="question-quantity">

                            <div data-test-id="text-field-input">

                                <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">
                                    <label class="nhsuk-label nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="quantity">
                                        How many do you think you&#39;ll need?
                                    </label>
                                    <input class="nhsuk-input nhsuk-input--width-10" id="quantity" name="quantity" type="text" value="5">
                                </div>
                            </div>

                            <div data-test-id="text-field-footer">
                                <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                                </span>
                            </div>
                        </div>

                        <div data-test-id="view-section-quantity-id" class="">
                            <details class="nhsuk-details">
                                <summary class="nhsuk-details__summary">
                                    <span class="nhsuk-details__summary-text">
                                        What quantity should I enter?
                                    </span>
                                </summary>
                                <div class="nhsuk-details__text">
                                    This figure should relate to the entire duration of the order and not be an annual or monthly estimate. For example, if you want to order training to cover a three year period, with 10 training days per year, you would enter 30 days as the quantity.
                                </div>
                            </details>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nhsuk-grid-column-full">
                <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-3 bc-c-order-table__hr" />
                <div data-test-id="price-table" class="nhsuk-u-margin-left-5 nhsuk-u-margin-top-0">

                    <table data-test-id="table" class="" style="page-break-inside:auto">

                        <thead data-test-id="table-headings" style="display:table-header-group;">

                        <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:50%">
                            <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">What price have you agreed? (£)</div>
                        </th>

                        <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 nhsuk-u-font-size-16" style="width:50%">
                            <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">Unit of order</div>
                        </th>
                        </thead>

                        <tbody>

                            <tr data-test-id="table-row-0" style="page-break-inside:avoid; page-break-after:auto">

                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <div data-test-id="">

                                        <div data-test-id="question-price">

                                            <div data-test-id="text-field-input">

                                                <div class="nhsuk-form-group nhsuk-u-margin-bottom-2">

                                                    <input class="nhsuk-input nhsuk-input--width-10" id="price" name="price" type="text" value="1,680">
                                                </div>
                                            </div>

                                            <div data-test-id="text-field-footer">
                                                <span class="nhsuk-label bc-t-font-color--grey-1 nhsuk-u-font-size-16">
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div>

                                        <div data-test-id="view-section-input-id" class="">
                                            <details class="nhsuk-details">
                                                <summary class="nhsuk-details__summary">
                                                    <span class="nhsuk-details__summary-text">
                                                        What price should I enter?
                                                    </span>
                                                </summary>
                                                <div class="nhsuk-details__text">
                                                    You can change the list price if you’ve agreed a different rate with the supplier.
                                                </div>
                                            </details>
                                        </div>
                                    </div>
                                </td>

                                <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">

                                    <div data-test-id="unit-of-order" class="bc-c-data-text ">per item </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="nhsuk-grid-column-full">
                <div class="bc-u-float-right">
                    <div class="bc-u-inline-block">

                        <div data-test-id="delete-button">

                            <a class="nhsuk-button nhsuk-u-margin-top-9 nhsuk-button--secondary nhsuk-u-margin-right-5" href="/order/organisation/03F/order/C010001-01/associated-services/delete/10000-S-009/confirmation/Anywhere Consult – Integrated Device" draggable="false">
                                Delete
                            </a>
                        </div>
                    </div>

                    <div class="bc-u-inline-block">

                        <div data-test-id="save-button">

                            <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
