@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.SelectAssociatedServiceModel;
@{
    ViewData["Title"] = $"Add Associated Service for C010005";
}



<div class="nhsuk-width-container" data-test-id="associated-service-select-page">
    <div data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/order/organisation/03F/order/C010000-01/associated-services">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">


            <h1 data-test-id="associated-service-select-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Add Associated Service for C010000-01</h1>
            <p data-test-id="associated-service-select-page-description" class="nhsuk-heading-l nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">These are the Associated Services provided by this supplier. Select the one you want to purchase from the list.</p>

            <form method="post">
                <input type="hidden" name="_csrf" value="hz8LAQGb-fuSNoh0sCEnqH_8PC30rtmFejxo" />









                <div id="selectAssociatedService" data-test-id="question-selectAssociatedService">

                    <div data-test-id="radiobutton-options">







































                        <div class="nhsuk-form-group">

                            <fieldset class="nhsuk-fieldset">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                    Select Associated Service
                                </legend>

                                <div class="nhsuk-radios">

                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-1" name="selectAssociatedService" type="radio" value="10000-S-009">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-1">
                                            Anywhere Consult – Integrated Device
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-2" name="selectAssociatedService" type="radio" value="10000-S-004">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-2">
                                            Automated Arrivals – Engineering Half Day
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-3" name="selectAssociatedService" type="radio" value="10000-S-006">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-3">
                                            Automated Arrivals – Installation of wall mounted kiosk, excludes cabling
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-4" name="selectAssociatedService" type="radio" value="10000-S-007">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-4">
                                            Automated Arrivals – Specialist Cabling
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-5" name="selectAssociatedService" type="radio" value="10000-S-008">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-5">
                                            Automated Arrivals – Wall Mount Bracket
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-6" name="selectAssociatedService" type="radio" value="10000-S-069">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-6">
                                            Doc Management – Migration
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-7" name="selectAssociatedService" type="radio" value="10000-S-036">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-7">
                                            Engineering
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-8" name="selectAssociatedService" type="radio" value="10000-S-005">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-8">
                                            Enterprise Search and Reports – Installation
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-9" name="selectAssociatedService" type="radio" value="10000-S-002">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-9">
                                            Installation
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-10" name="selectAssociatedService" type="radio" value="10000-S-037">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-10">
                                            Lloyd George digitisation
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-11" name="selectAssociatedService" type="radio" value="10000-S-038">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-11">
                                            Lloyd George Digitisation (upload only)
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-12" name="selectAssociatedService" type="radio" value="10000-S-039">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-12">
                                            Migration
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-13" name="selectAssociatedService" type="radio" value="10000-S-141">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-13">
                                            Online and Video Consult – Implementation
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-14" name="selectAssociatedService" type="radio" value="10000-S-040">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-14">
                                            Practice Reorganisation
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-15" name="selectAssociatedService" type="radio" value="10000-S-041">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-15">
                                            Project Management
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-16" name="selectAssociatedService" type="radio" value="10000-S-003">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-16">
                                            Training Day at Practice
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="selectAssociatedService-17" name="selectAssociatedService" type="radio" value="10000-S-001">
                                        <label class="nhsuk-label nhsuk-radios__label" for="selectAssociatedService-17">
                                            Video Consult, Online and Video Consult – Additional Minute Package (3000 minutes)
                                        </label>
                                    </div>

                                </div>
                            </fieldset>

                        </div>

                    </div>

                </div>










                <div data-test-id="continue-button">










                    <button class="nhsuk-button nhsuk-u-margin-top-9" type="submit">
                        Continue
                    </button>



                </div>

            </form>
        </div>
    </div>
