@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers.Contracts
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.ContractBilling.ContractBillingItemModel
@{
    ViewBag.Title = "Bespoke Associated Service milestone";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="@Model.Advice"/>

        <form method="post">
            <div class="nhsuk-u-margin-top-9">

                <input type="hidden" asp-for="BackLink"/>
                <input type="hidden" asp-for="CallOffId"/>
                <input type="hidden" asp-for="InternalOrgId"/>

                <nhs-select asp-for="SelectedOrderItemId"
                            asp-items="@Model.OrderItemOptions"
                            label-text="Associated Service name"
                            label-hint="Select the Associated Service this milestone will apply to." />
                
                <nhs-input asp-for="Name"
                           label-text="Milestone name"
                           label-hint="Provide a name for the milestone you want to add to this order."/>

                <nhs-textarea asp-for="PaymentTrigger"
                              label-text="Milestone payment trigger"
                              label-hint="Provide a description of how this milestone will trigger payments as part of this order."/>
                
                <nhs-input asp-for="Quantity" input-width="Five"
                              label-text="Number of units to be billed on milestone achievement"
                              label-hint="Enter the number of Associated Service units that will be billable once this milestone is achieved." />

                <nhs-button-group>
                    <nhs-submit-button text="Save and continue"/>
                </nhs-button-group>

            </div>
        </form>
    </div>
</div>
