@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.ContractBilling.DeleteContractBillingItemModel

@{
    ViewBag.Title = "Delete this milestone?";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.ItemName"
                        advice="The bespoke milestone will be deleted from this order." />

        <form method="post">
            <div class="nhsuk-u-margin-top-9">

                <input type="hidden" asp-for="CallOffId" />
                <input type="hidden" asp-for="InternalOrgId" />
                <input type="hidden" asp-for="BackLink" />
                <input type="hidden" asp-for="ItemId" />

                <div>
                    <nhs-submit-button text="Delete milestone"/>
                </div>
                <div>
                    <a href="@Model.BackLink">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
