@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderTriage.GenericOrderTriageModel
@{
    ViewBag.Title = "Orders with a value less than £40k";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model!.OrganisationName" />

            <p>For orders under £40k, you can execute a Direct Award procedure. This means you’re free to choose to procure any Catalogue Solution or service on the Buying Catalogue.</p>
            <p>Your contract value should include everything you intend to spend.</p>
            <p>It would not, for example, be acceptable to execute a number of Direct Awards to the same supplier to avoid carrying out a competition.</p>
            <p>You’ll not be ready to place an order of this value until you’ve browsed the Buying Catalogue and identified what you want.</p>

            <vc:nhs-secondary-button text="Return to orders dashboard"
                                     type="Primary"
                                     url="@Model.OrdersDashboardLink" />

            <h2>Need help?</h2>

            <p>
                For help using the Buying Catalogue, contact the National Commercial and Procurement Hub:
            </p>

            <vc:nhs-action-link url="@Url.Action(
                                         nameof(ProcurementHubController.Index),
                                         typeof(ProcurementHubController).ControllerName(),
                                         new { returnUrl = Url.Action(
                                             nameof(OrderTriageController.StepsNotCompleted),
                                             typeof(OrderTriageController).ControllerName(),
                                             new { Model.InternalOrgId, option = OrderTriageValue.Under40K, orderType = OrderTypeEnum.Solution }) })"
                                text="Get procurement support" />
        </div>
    </div>
</div>
