@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.ActionLink
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderTriage.GenericOrderTriageModel
@{
    ViewBag.Title = "Orders with a value between £40k and £250k";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model!.OrganisationName" />

            <p>For orders between £40k and £250k, you must execute an On-Catalogue Competition procedure. This means you must carry out a competition of similar Catalogue Solutions using information available on the Buying Catalogue.</p>

            <p>Score Catalogue Solutions based on how they perform against certain criteria, for example, price, implementation timescales or service levels. You’ll need to keep evidence of how you ended up selecting a particular solution.</p>

            <p>You’ll not be ready to place an order of this value until this procedure has been carried out.</p>

            <vc:nhs-secondary-button text="Return to orders dashboard"
                                     type="Primary"
                                     url="@Model.OrdersDashboardLink" />

            <h2>Need help?</h2>

            <p>
                For help using the Buying Catalogue, contact the National Commercial and Procurement Hub:
            </p>

            <vc:nhs-action-link url="@Url.Action(
                                         nameof(ProcurementHubController.Index),
                                         typeof(ProcurementHubController).ControllerName(),
                                         new { returnUrl = Url.Action(
                                             nameof(OrderTriageController.StepsNotCompleted),
                                             typeof(OrderTriageController).ControllerName(),
                                             new { Model.InternalOrgId, option = OrderTriageValue.Between40KTo250K, orderType = OrderTypeEnum.Solution }) })"
                                text="Get procurement support" />
        </div>
    </div>
</div>
