@using NHSD.GPIT.BuyingCatalogue.EntityFramework.Ordering.Models;
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderTriage.GenericOrderTriageModel
@{
    ViewBag.Title = "What is the approximate value of the order you want to place?";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-full">
            <nhs-page-title title="You’re not ready to start an order"
                            advice="You need to know the approximate value of your contract so you can follow the correct procurement procedure."
                            caption="@Model!.OrganisationName"/>

            <h2>For orders worth under £40k (excluding VAT)</h2>
            <p>You can browse the Buying Catalogue and select any solution you want to order.</p>
            <p>Your contract value should include everything you intend to spend.</p>
            <p>It would not, for example, be acceptable to execute a number of Direct Awards to the same supplier to avoid carrying out a competition.</p>
            <p>
                <a href ="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/1846870055/Direct+Award"
                   target="_blank">More information about executing a Direct Award procedure</a>
                (opens in a new tab).
            </p>

            <h2>For orders between £40k and £250k (excluding VAT)</h2>
            <p>You must carry out a competition of similar solutions using information available on the Buying Catalogue. Score solutions based on how they perform against certain criteria, for example, price, implementation timescales or service levels.</p>
            <p>When executing a competition, you cannot create requirements that result in a shortlist of one Catalogue Solution.</p>
            <p>
                <a href ="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/1846968344/Further+Competition+-+On+Catalogue"
                   target="_blank">More information about executing an On-Catalogue Competition procedure</a>
                (opens in a new tab).
            </p>

            <h2>For orders over £250k</h2>
            <p>You must invite shortlisted suppliers to provide written tenders. You can select the solution you want to order based on this information.</p>
            <p>
                <a href ="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/1846902822/Further+Competition+-+Off+Catalogue"
                   target="_blank">More information about executing an Off-Catalogue Competition procedure</a>
                (opens in a new tab).
            </p>

            <p>Once you have carried out one of these procurement processes and identified the most appropriate solution, you’ll be ready to place your order.</p>

            <vc:nhs-secondary-button text="Return to orders dashboard"
                                     type="Primary"
                                     url="@Model.OrdersDashboardLink" />

            <h2>Need help?</h2>
            <p>
                For help using the Buying Catalogue, contact the National Commercial and Procurement Hub:
            </p>

            <vc:nhs-action-link url="@Url.Action(
                                         nameof(ProcurementHubController.Index),
                                         typeof(ProcurementHubController).ControllerName(),
                                         new { returnUrl = Url.Action(
                                             nameof(OrderTriageController.NotSure),
                                             typeof(OrderTriageController).ControllerName(),
                                             new { Model.InternalOrgId, orderType = OrderTypeEnum.Solution }) })"
                                text="Get procurement support" />
        </div>
    </div>
</div>
