@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderTriage.OrderItemTypeModel
@{
    ViewBag.Title = "What do you want to order?";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="@nameof(Model.SelectedOrderItemType)" />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.OrganisationName" />

            <form method="post">
                <input type="hidden" asp-for="OrganisationName" />
                <nhs-fieldset-form-label asp-for="SelectedOrderItemType">
                    <nhs-radio-buttons asp-for="SelectedOrderItemType"
                                       values="Model.AvailableOrderItemTypes.Cast<object>()"
                                       display-name="Text"
                                       value-name="Value"
                                       hint-name="Advice" />
                </nhs-fieldset-form-label>

                <nhs-submit-button />
            </form>
        </div>
    </div>
</div>
