@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.OrderTriage.SelectFrameworkModel
@{
    ViewBag.Title = "Which framework are you buying from?";
}

<div>
    <partial name="Partials/_BackLink" model="Model" />
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary RadioId="@nameof(Model.SelectedFrameworkId)" />
            <nhs-page-title title="@ViewBag.Title"
                            caption="@Model.OrganisationName"
                            advice="Select the procurement framework that the solution you want to order is available on." />
            <form method="post">
                <input type="hidden" asp-for="OrganisationName" />
                <input type="hidden" asp-for="BackLink" />
                <nhs-fieldset-form-label asp-for="SelectedFrameworkId">
                    @for (int i = 0; i < Model.Frameworks.Count; i++)
                    {
                        <input type="hidden" asp-for="Frameworks[i].Text" />
                        <input type="hidden" asp-for="Frameworks[i].Value" />
                    }
                    <nhs-radio-buttons asp-for="SelectedFrameworkId"
                                       values="@Model.Frameworks.Cast<object>()"
                                       display-name="Text"
                                       value-name="Value" />
                </nhs-fieldset-form-label>
                <nhs-submit-button class="nhsuk-u-margin-top-4" />
            </form>
        </div>
    </div>
</div>
