@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSideNavigationSection.NhsSideNavigationSectionModel

@if (Model.Selected)
{
    <li class="side-nav__list--selected" aria-current="page">
        <span class="side-nav__link nhsuk-link--no-visited-state">@Model.Name</span>
    </li>
}
else
{
    <li class="side-nav__list">
        <a href ="@Url.Action(
                      Model.Action,
                      Model.Controller,
                      Model.RouteData)"
           class="side-nav__link nhsuk-link--no-visited-state">
            @Model.Name
        </a>
    </li>
}

