@{
    ViewData["Title"] = "Catalogue Solutions to help reduce visits to GP practices";
}

<div class="nhsuk-grid-row nhsuk-width-container" data-test-id="solutions-list-body">

    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="~/">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back to previous page
            </a>
        </div>

    </div>


    <div class="nhsuk-grid-row" data-test-id="general-description">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">Catalogue Solutions to help reduce visits to GP practices</h1>


            <p class="nhsuk-heading-l nhsuk-u-font-size-22">In response to the coronavirus emergency, the Catalogue Solutions listed below have been through accelerated assurance from NHS Digital, which covers key characteristics such as Information Governance and Clinical Safety.</p>

        </div>
    </div>


    <div data-test-id="covid19-inset-text" class="nhsuk-inset-text nhsuk-u-padding-2 nhsuk-u-padding-right-4 nhsuk-u-padding-left-4 nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
        <span class="nhsuk-u-visually-hidden">Information: </span>

        <p class="nhsuk-u-font-size-14">Full assurance is in progress and we’ll advise when this is complete, however you should feel confident in seeking to deploy these Catalogue Solutions immediately.</p>

        <p class="nhsuk-u-font-size-14">We’ve carried out an assessment of the Catalogue Solutions or their Additional Services to ensure they meet either an NHS defined eConsultation Capability or a Productivity Capability defined by the supplier.</p>

        <p class="nhsuk-u-font-size-14">The Solutions are under constant development, so we’ll continue to assess their functionality.</p>

    </div>

    <div data-test-id="solution-cards-covid19" class="nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-7">


        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10042-001">
                            Engage Consult
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Engage Health Systems
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Engage Consult allows patients to communicate securely and safely online with their practice about non-emergency medical conditions or admin questions. The solution offers 24/7 access to self-help information, other local NHS and self-care services.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10042-001">View this solution<span class="nhsuk-u-visually-hidden"> for Engage Consult</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports triage via video
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows secure collaboration between healthcare professionals
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met two eConsultation Capabilities
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10035-001">
                            Evergreen Life
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Evergreen Life
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Evergreen Life is facilitating remote digital consultations including video appointments for GPs in the UK, with patient record access to clinicians with or without access to the practice system in England. The app lets patients access GP online services &amp; curate a personal health record.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10035-001">View this solution<span class="nhsuk-u-visually-hidden"> for Evergreen Life</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution provides an Additional Service that has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows scheduling of video consultations
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports sharing of medical records
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Secure remote working for healthcare professionals
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution’s Additional Service has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10000-054">
                            Online and Video Consult
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        EMIS Health
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Our online triaging system allows patients to easily access self-help advice, and fill out forms containing their requests and queries that go into their practice&#39;s workflow. Helping to improve access to services, Online Consult is configurable, and integrates with all leading GP Clinical Systems.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10000-054">View this solution<span class="nhsuk-u-visually-hidden"> for Online and Video Consult</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports triage via video
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Provides access to self-help advice
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has partially met an eConsultations Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10000-062">
                            Video Consult
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        EMIS Health
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Offer patients an effective appointment alternative with Video Consult. Available on multiple platforms, including desktop, and native iOS and Android apps, Video Consult can be used alongside any GP clinical system and offers additional integration with EMIS Web and Patient Access.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10000-062">View this solution<span class="nhsuk-u-visually-hidden"> for Video Consult</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Works alongside a wide range of clinical systems
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10000-002">
                            Anywhere Consult
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        EMIS Health
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        EMIS&#39; mobile working solution designed to provide full access to EMIS Web &amp; other essential NHS digital services via a portable 2-in-1 device. Connectivity via WAN, Wi-Fi or 4G helps maintain real-time access to vital patient information at the point of care, supporting informed decision making.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10000-002">View this solution<span class="nhsuk-u-visually-hidden"> for Anywhere Consult</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows clinicians remote access to essential NHS digital services
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Provides real-time access to patient records
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports more informed decision making
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10000-051">
                            Keystone
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        EMIS Health
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Keystone is a middleware solution that facilitates the movement of clinical data &amp; messaging (to international standards) between Secondary &amp; Primary Care providers and other organisations (e.g. NHS/PHE Laboratories), using nationally defined transport mechanisms.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10000-051">View this solution<span class="nhsuk-u-visually-hidden"> for Keystone</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports integration between primary care and laboratory information management systems
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Provides secure messaging to NHS mandated standards
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows GPs to send and receive clinical data, such as test results
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows sending of clinical correspondence, such as discharge letters
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met a productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10047-001">
                            askmyGP
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Salvie Ltd
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        askmyGP provides online consultation and workflow tools to maintain doctor-patient relationships and keeps patients in touch with their registered practice. Clinicians use askmyGP to prioritise and deliver care by secure message, telephone, video or face-to-face appointment.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10047-001">View this solution<span class="nhsuk-u-visually-hidden"> for askmyGP</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports triage via video
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has met an eConsultations Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10020-001">
                            Q doctor
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        MyMed Ltd
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Q doctor is a secure video consultation platform used around the NHS nationwide, allowing remote consultations by clinicians and patients.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10020-001">View this solution<span class="nhsuk-u-visually-hidden"> for Q doctor</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Works alongside a wide range of clinical systems
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Works across PCNs allowing different types of healthcare professionals to consult
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows secure remote working for healthcare professionals and the use of digital locum GPs
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has met an eConsultations Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10062-001">
                            FootFall
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Silicon Practice Limited
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        FootFall is a complete digital practice that enables patients to engage with all areas of the practice online. With the option to operate in Digital Triage mode, FootFall can transform the way your patients access care and how you manage demands on the practice.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10062-001">View this solution<span class="nhsuk-u-visually-hidden"> for FootFall</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Video consultations available via appointment or on-demand if the clinician deems it necessary
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has met an eConsultations Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10033-001">
                            healthya Online and Video Consultation
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        ADDVantage Technologies
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        healthya Online and Video Consultation allows patients to consult with a GP by a secure video consultation. Connection can be either via a web browser and mobile app. Outcome of the consultation is fed back. The app also has the ability for the patient to enter a query or other information and can be securely transmitted.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10033-001">View this solution<span class="nhsuk-u-visually-hidden"> for healthya Online and Video Consultation</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A cloud-based platform that supports digital patient engagement, video consultations,  appointment booking, prescription ordering, health tracking and care navigation via patient-facing apps
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Customisable Patient Management System for use by clinicians
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution has met an eConsultations Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10030-001">
                            AccuRx
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        AccuRx Limited
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        AccuRx is a communication platform built around patients and healthcare professionals. Whether you’re a Doctor, Nurse, or Administrator, you can video call or message patients &amp; other healthcare professionals simply &amp; quickly. AccuRx also allows you to send patient questionnaires &amp; documents.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10030-001">View this solution<span class="nhsuk-u-visually-hidden"> for AccuRx</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution provides an Additional Service that has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows patient messaging
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution’s Additional Service has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10073-009">
                            myGP Remote Consultation
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        iPLATO
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        myGP Remote Consultation is a solution integrated into the iPLATO platform and myGP app that helps GP practices avoid unnecessary appointments and supports remote consultation via chat, video and voice. It allows practices to communicate with patients via video, audio and asynchronous messaging.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10073-009">View this solution<span class="nhsuk-u-visually-hidden"> for myGP Remote Consultation</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows appointment triage based on what a patient needs from a consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports online appointment booking and prescription ordering
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Provides health tracking and access to medical records
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            An assessment against required Standards is ongoing, but at present this Catalogue Solution has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10052-002">
                            SystmOne GP
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        TPP – The Phoenix Partnership (Leeds) Ltd
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        SystmOne GP has been evolving for over 20 years, with continuous clinical input. It is one of the most advanced clinical systems in the world and is used by more than 2,700 GP practices nationwide. SystmOne GP is the ideal solution to meet the ever-changing needs of modern General Practice.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10052-002">View this solution<span class="nhsuk-u-visually-hidden"> for SystmOne GP</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution provides an Additional Service that has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows access to a patient’s medical record
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Key outcomes of consultations can be added to patient’s medical record
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            We&#39;ve executed a central contract for provision with this supplier, so you may access this service without charge (all costs are covered centrally). You do not need to execute a separate contract to access this service
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            A Capability Assessment is ongoing, but at present this Catalogue Solution’s Additional Service has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10072-003">
                            Push Consult
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Push Dr Ltd
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Push Consult is our interop video consultation platform. Leveraging NHS integrations, we are able to offer a range of health &amp; social care workers the ability to work remotely or from a tablet device with access to the full patient record and the ability to update the record electronically.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10072-003">View this solution<span class="nhsuk-u-visually-hidden"> for Push Consult</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows scheduling of video consultations
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows read/write back to patient medical records
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports online appointment booking
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met a Productivity Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10072-006">
                            Push Access
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Push Dr Ltd
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Push Access allows a patient to request and receive support relating to their healthcare concerns online. Allowing the Healthcare professional dealing with the request to triage requests effectively and invite the patient for a phone, video or face-2-face consultation if appropriate.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10072-006">View this solution<span class="nhsuk-u-visually-hidden"> for Push Access</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has been assessed for video consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Lets patients request support online
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows appointment triage based on what a patient needs from a consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met an eConsultation Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10063-002">
                            forms4health
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Aire Logic
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        forms4health™ is an intuitive, easily integrated, electronic smart forms platform, facilitating paperless working across health and social care. forms4health is a responsive, versatile and interoperable platform that delivers digital transformation.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10063-002">View this solution<span class="nhsuk-u-visually-hidden"> for forms4health</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows the design of bespoke eConsultations
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Quick and easy implementation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met a Productivity Capability and partially met two eConsultation Capabilities
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10046-006">
                            PATCHS
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Advanced Health and Care Limited
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        PATCHS is a complete online consultation and triage solution designed by GPs and academics to help manage patient workload. It enables practices to implement a Total Triage model, and set up Virtual Hubs/eHubs for federated working.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10046-006">View this solution<span class="nhsuk-u-visually-hidden"> for PATCHS</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Provides two-way messaging between healthcare professionals and patients in real-time
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows appointment triage based on what a patient needs from a consultation
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            An Additional Service allows video consultations
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            An assessment against required Standards is ongoing, but at present this Catalogue Solution has met an eConsultation Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10022-001">
                            Dermicus Telehealth Platform
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Gnosco
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        The Dermicus® digital telehealth platform is a CE Class I medical device and provides a secure link for collaboration from primary care clinicians to specialist consultants and experts capable of remotely diagnosing and triaging skin cancer, general skin lesions and wounds.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10022-001">View this solution<span class="nhsuk-u-visually-hidden"> for Dermicus Telehealth Platform</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Allows secure collaboration between healthcare professionals
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports remote diagnosis and wound management
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Integrates with patient records systems
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution has met an eConsultation Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">


                    <div data-test-id="solution-card-covid19-tag" class="bc-c-tag nhsuk-u-font-weight-bold bc-c-tag-foundation nhsuk-u-margin-bottom-4">Coronavirus</div>


                    <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
                        <a href="/solutions/covid19/10064-003">
                            Medloop Patient Management Optimiser
                        </a>
                    </h3>

                    <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
                        Medloop Limited
                    </h4>

                    <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
                        Medloop PMO is a population management tool that gives primary care clinicians an overview of their entire patient population, tools to cluster patients according to disease categories and co-morbidities and the ability to use eConsult features to communicate with and notify patients in real-time.
                    </p>

                    <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                        <a href="/solutions/covid19/10064-003">View this solution<span class="nhsuk-u-visually-hidden"> for Medloop Patient Management Optimiser</span></a>
                    </div>
                </div>

                <div class="nhsuk-grid-column-one-half">
                    <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
                        How this Catalogue Solution can help with coronavirus
                    </h5>
                    <ul data-test-id="solution-card-covid19-list">

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Provides two-way messaging between healthcare professionals and patients in real-time
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Supports online appointment booking and prescription ordering
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            Helps avoid unnecessary visits to GP practices
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            This Catalogue Solution is not covered by a central contract and would therefore need to be purchased directly in the usual way
                        </li>

                        <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
                            An assessment against required Standards is ongoing, but at present this Catalogue Solution has met an eConsultation Capability
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="bc-t-border-top--blue" />
    </div>
</div>





