@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home.AccountOverviewModel

@{
    var title = Model.Title + " <span class=\"nhsuk-caption-m nhsuk-caption--bottom\">" + Model.Text + "</span>";
}

<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <nhs-card-v2>
        <nhs-card-content size="Large" title="@title">
            <p class="nhsuk-body">
            <a href="@Model.Url" aria-label="View @Model.Text">View @Model.Text</a>
        </p>
        </nhs-card-content>
    </nhs-card-v2>
</li>
