@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Home.ActionCardModel

<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    <nhs-card title="@Model.Title" url="@Model.Url" horizontal-align="true">
        <p class="nhsuk-body">@Model.Text</p>
    </nhs-card>
</li>
