@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers

Competitions allow you to compare available <a asp-action="@nameof(SolutionsController.Index)"
              asp-controller="@typeof(SolutionsController).ControllerName()"
              asp-area="@typeof(SolutionsController).AreaName()">Catalogue Solutions</a>.

