@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers

Browse the <a asp-action="@nameof(SolutionsController.Index)"
              asp-controller="@typeof(SolutionsController).ControllerName()"
              asp-area="@typeof(SolutionsController).AreaName()">Catalogue Solutions</a> and create a shortlist.
