@model ContactUsConfirmationModel

@{
    ViewBag.Title = "Your message has been sent";
}

<partial name="Partials/_BackLink" model="@Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title" />
        <p data-test-id="contact-method-text">The Buying Catalogue Team will reply to you as soon as possible.</p>
        <p>Remember to check your ‘Junk’ or ‘Spam’ folder.</p>
    </div>
</div>
