@model NavBaseModel
@{
    ViewBag.Title = "Tech Innovation framework";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        advice="A new framework for early adopters of cloud-based, innovative solutions in the GP marketplace."/>

        <p>
            The Tech Innovation framework (TIF) was launched in November 2022 and introduces the next generation of standards for
            GP core clinical systems, known as Foundation Solutions. These new innovative, cloud-based solutions will sit alongside
            the current GP IT Futures Foundation Solutions on the Buying Catalogue, providing greater choice and different user experiences. 
        </p>

        <p>
            TIF is focused on the 6 Foundation Capabilities:
        </p>

        <ul>
            <li>Appointments Management - GP</li>
            <li>Patient Information Maintenance - GP</li>
            <li>Prescribing</li>
            <li>Recording Consultations - GP</li>
            <li>Referral Management - GP</li>
            <li>Resource Management - GP</li>
        </ul>

        <p>
            Extra Capabilities may be offered by new suppliers, but only as part of a new Foundation Solution Set.
        </p>

        <p>
            The framework will operate for a maximum of 4 years, however, once they’ve been made available on the Buying Catalogue,
            new solutions may be procured via a Call-off Order for an initial term of 12 months and a maximum term of 60 months.
        </p>

        <p>
            We’re encouraging all interested organisations to visit our
            <a href="https://digital.nhs.uk/services/digital-care-services-catalogue/tech-innovation-framework/early-adopter-support?key=M8YF5v2AEzEpwT4uqostm3UDoWp6idjLJRdnj9s4HIkFbQdhnodlYPLJtKUgJ4j3"
               target="_blank">Early Adopter website (opens in a new tab)</a> first.
            You’ll find help for early adopters of TIF solutions around the business and technical aspects of a change of
            Foundation Solution. This includes the discovery of new solutions with no obligation to proceed to a Call-off Order.
        </p>

        <p>
            We’ll be updating the content on a regular basis and will link to new solutions as they become available to procure,
            so make sure you check the page regularly to see what’s new.
        </p>

        <p>
            You can find a
            <a href="https://digital.nhs.uk/services/digital-care-services-catalogue/tech-innovation-framework/early-adopter-support?key=M8YF5v2AEzEpwT4uqostm3UDoWp6idjLJRdnj9s4HIkFbQdhnodlYPLJtKUgJ4j3"
               target="_blank">general overview of TIF on our website (opens in a new tab)</a>.
        </p>
        
        <vc:nhs-secondary-button text="Back to homepage"
                                 type="Primary"
                                 url="@Url.Action(
                                          nameof(HomeController.Index),
                                          typeof(HomeController).ControllerName())"/>
    </div>
</div>
