@{
    ViewData["Title"] = "Test Links";
}

<div class="nhsuk-u-padding-top-5">
    <h3>Testing. Direct Links</h3>

    <ul>
        <li>
            <a href="~/identity/account/resetpassword?email=test@test.com&token=123">ResetPassword</a>
        </li>

        <li>
            <a href="~/identity/account/resetpasswordconfirmation">ResetPasswordConfirmation</a>
        </li>

        <li>
            <a href="~/identity/account/resetpasswordexpired">ResetPasswordExpired</a>
        </li>

        <li>
            <a href="~/this/is/a/badlink">404 Page</a>
        </li>

        <li>
            <a href="~/marketing/supplier/solution/100000-001">Marketing</a>
        </li>

        <li>
            <a href="http://localhost:1080/">MailKit</a>
        </li>
        
    </ul>
</div>


