@{
    ViewData["Title"] = "About the Buying Catalogue";
}

<div class="nhsuk-u-padding-top-5">
    <h3>Testing. Direct Links</h3>

    <ul>
        <li>
            <a href="~/Identity/Account/ResetPassword?email=test@test.com&token=123">ResetPassword</a>
        </li>

        <li>
            <a href="~/Identity/Account/ResetPasswordConfirmation">ResetPasswordConfirmation</a>
        </li>

        <li>
            <a href="~/Identity/Account/ResetPasswordExpired">ResetPasswordExpired</a>
        </li>

        <li>
            <a href="~/This/Is/A/BadLink">404 Page</a>
        </li>

        <li>
            <a href="~/Marketing/Supplier/Solution/10000-001">Marketing</a>
        </li>
    </ul>
</div>


