@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.Contracts.DataProcessing.DataProcessingPlanModel
@{
    ViewBag.Title = "Personal data processing information";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row nhsuk-u-margin-bottom-6">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary RadioId="@nameof(Model.UseDefaultDataProcessing)"/>
        <nhs-page-title title="@ViewBag.Title"
                        advice="Make sure you've contacted the supplier and reviewed how they process personal data."
                        caption="Order @Model.CallOffId" />
        <form method="post">
            <input type="hidden" asp-for="BackLink" />
            <nhs-fieldset-form-label
                label-text="Do you want to proceed using the supplier's default data processing information?"
                size="Medium"
                asp-for="UseDefaultDataProcessing">
                <nhs-radio-buttons asp-for="UseDefaultDataProcessing"
                                   values="Model.AvailableDataProcessingOptions.Cast<object>()"
                                   display-name="Text"
                                   value-name="Value">
                </nhs-radio-buttons>
            </nhs-fieldset-form-label>

            <nhs-submit-button/>
        </form>
    </div>
</div>
