@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.BrowserBased.PlugInsOrExtensionsModel;
@{
    ViewData["Title"] = "Browser-based application - plug-ins or extensions required";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">


        <div class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-7">
            <h1 data-test-id="section-title" class="nhsuk-u-margin-bottom-3">Browser-based application – plug-ins or extensions required</h1>
            <h2 data-test-id="section-main-advice" class="nhsuk-u-font-size-22">Let buyers know if any plug-ins or extensions are needed to use your Catalogue Solution.</h2>
            <div data-test-id="section-additional-advice">

            </div>
        </div>

        <form method="post">








            <div data-test-id="section-question-radiobutton-options" class="nhsuk-u-margin-bottom-6">






















                <div id="plugins-required" data-test-id="question-plugins-required">

                    <div data-test-id="radiobutton-options">









                        <div class="nhsuk-form-group">

                            <fieldset class="nhsuk-fieldset" aria-describedby="plugins-required-hint">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-font-size-24 nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2">
                                    Plug-ins or extensions required
                                </legend>

                                <div class="nhsuk-hint nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0" id="plugins-required-hint">
                                    Does a device using your Catalogue Solution require plug-ins or extensions that customise its browsers or software to function?
                                </div>

                                <div class="nhsuk-radios">

                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="plugins-required-1" name="plugins-required" type="radio" value="Yes">
                                        <label class="nhsuk-label nhsuk-radios__label" for="plugins-required-1">
                                            Yes
                                        </label>
                                    </div>


                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="plugins-required-2" name="plugins-required" type="radio" value="No">
                                        <label class="nhsuk-label nhsuk-radios__label" for="plugins-required-2">
                                            No
                                        </label>
                                    </div>

                                </div>
                            </fieldset>

                        </div>

                    </div>

                </div>




            </div>










            <div data-test-id="section-question-textarea-field" class="nhsuk-u-margin-bottom-6">














                <div data-test-id="question-plugins-detail">

                    <div data-test-id="textarea-field">



                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">


                            <div class="govuk-form-group nhsuk-u-margin-bottom-2">
                                <label class="govuk-label nhsuk-u-font-size-24 nhsuk-label nhsuk-u-font-weight-bold nhsuk-u-margin-bottom-2" for="plugins-detail">
                                    Additional information (optional)
                                </label>



                                <div id="plugins-detail-hint" class="govuk-hint nhsuk-hint nhsuk-u-margin-bottom-3">
                                    If your Catalogue Solution uses plug-ins or extensions, provide more information about them for buyers.
                                </div>


                                <textarea class="govuk-textarea govuk-js-character-count" id="plugins-detail" name="plugins-detail" rows="5" aria-describedby="plugins-detail-info plugins-detail-hint"></textarea>
                            </div>

                            <div id="plugins-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to 500 characters
                            </div>

                        </div>

                    </div>

                </div>












            </div>








            <div data-test-id="section-submit-button" class="nhsuk-u-margin-top-7">










                <button class="nhsuk-button" type="submit">
                    Save and return
                </button>



            </div>
        </form>

    </div>
</div>
