@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Marketing.Models.BrowserBased.PlugInsOrExtensionsModel;
@{
    ViewData["Title"] = "Browser-based application - plug-ins or extensions required";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
        <partial name="Partials/_BackLink" model="Model" />
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="Browser-based application – plug-ins or extensions required"
                        title-advice="Let buyers know if any plug-ins or extensions are needed to use your Catalogue Solution." />
        <form method="post">
            <input type="hidden" asp-for="@Model.SolutionId" />
            <input type="hidden" asp-for="@Model.BackLink" />
            <nhs-fieldset-form asp-for="@Model"
                               label-text="Plug-ins or extensions required"
                               label-hint="Does a device using your Catalogue Solution require plug-ins or extensions that customise its browsers or software to function?">
                <nhs-radio-buttons asp-for="@Model.PlugInsRequired" is-yes-no="true" />
            </nhs-fieldset-form>
            <nhs-validation-textarea asp-for="AdditionalInformation"
                                     label-text="Additional information (optional)"
                                     label-hint="If your Catalogue Solution uses plug-ins or extensions, provide more information about them for buyers."
                                     number-of-rows="5" />
            <nhs-submit-button />
        </form>
    </div>
</div>
