<p>For flat volume pricing, the price will be the quantity purchased multiplied by the list price.</p>

<h2 class="nhsuk-heading-m">Example 1</h2>

<p>If the list price is £1 per item and you buy 100 items, the cost will be £100 (£1 x 100)</p>

<h2 class="nhsuk-heading-m">Example 2</h2>

<p>If the list price is £1 per item and you buy 50 items, the cost will be £50 (£1 x 50)</p>
