<p>For flat single fixed pricing, the quantity is not used as part of the price calculation. The price will remain the same no matter how many items you order.</p>

<h2 class="nhsuk-heading-m">Example</h2>

<p>If the list price is £1000 and you buy 1 item, 100 items or 1 million items, the cost will always be the list price, in this case £1000.</p>
