@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.PriceCalculationDetailsModel

<p>@Model.DetailsHeading</p>
<nhs-details label-text="@Model.DetailsTitle">
    <partial name="PriceDetails/@Model.PartialName" />
</nhs-details>
