<p>The total price for this Catalogue Solution will be calculated as a tiered price based on volume.</p>
<nhs-details label-text="What is a tiered volume price?">
    <p> You’ll pay one price depending on the quantity you order and the tier the quantity falls into. For example:</p>
    <p>
        <h4>Quantity</h4>
        Service Recipient 1 needs 5 licences<br>Service Recipient 2 needs 5 licences<br>Service Recipient 3 needs 15 licences<br>Total quantity: 25
    </p>
    <p>
        <h4>Tiers</h4>
        Tier 1: 1-9 licences cost £5<br>10-19 licences cost £2.50<br>20+ licences cost £1
    </p>
    <p>
        <h4>Price</h4>
        Tier 1: 0 licences cost £0<br>Tier 2: 0 licences cost £0<br>Tier 3: 25 licences cost £25<br>Total cost: £25
    </p>
</nhs-details>
