<p>The total price for this Catalogue Solution is calculated cumulatively.</p>
<nhs-details label-text="What is a tiered cumulative price?">
    <p> You’ll pay a price determined by the tiers and the number of items you buy. For example:</p>
    <p>
        <h4>Quantity</h4>
        Service Recipient 1 needs 5 licences<br>Service Recipient 2 needs 5 licences<br>Service Recipient 3 needs 15 licences<br>Total quantity: 25
    </p>
    <p>
        <h4>Tiers</h4>
        Tier 1: 1-9 licences cost £5<br>Tier 2: 10-19 licences cost £2.50<br>Tier 3: 20+ licences cost £1
    </p>
    <p>
        <h4>Price</h4>
        Tier 1: 9 licences cost £45<br>Tier 2: 9 licences cost £22.50<br>Tier 3: 7 licences cost £7<br>Total cost: £74.50
    </p>
</nhs-details>
