<p>The total price for this Catalogue Solution will be calculated as a tiered single fixed price.</p>
<nhs-details label-text="What is a tiered single fixed price?">
    <p>You’ll pay a fixed price depending on the quantity you order. For example, if you buy 25 licences, you’ll fall into tier 3 and pay £15 in total.</p>
    <p>
        <h4>Quantity</h4>
        Service Recipient 1 needs 5 licences<br>Service Recipient 2 needs 5 licences<br>Service Recipient 3 needs 15 licences<br>Total quantity: 25
    </p>
    <p>
        <h4>Tiers</h4>
        Tier 1: 1-9 licences cost £5<br>Tier 2: 10-19 licences cost £10<br>Tier 3: 20+ licences cost £15<br>Total cost: £15
    </p>
</nhs-details>
