<p>For tiered single fixed pricing, the quantity will be used to find which tier the price falls into, but the cost will be the list price for that tier.</p>

<h2 class="nhsuk-heading-m">Example 1</h2>

<h3 class="nhsuk-heading-s">Quantity</h3>
<p>Service Recipient 1 needs 5 licences</p>
<p>Service Recipient 2 needs 5 licences</p>
<p>Service Recipient 3 needs 15 licences</p>
<p>Total quantity: 25</p>

<h3 class="nhsuk-heading-s">Tiers</h3>
<p>Tier 1: 1-9 licences cost £5</p>
<p>Tier 2: 10-19 licences cost £10</p>
<p>Tier 3: 20+ licences cost £15</p>

<p>If you buy 25 licences, you’ll fall into tier 3 and pay £15 in total.</p>

<p><strong>Total cost:</strong> £15</p>

<h2 class="nhsuk-heading-m">Example 2</h2>

<h3 class="nhsuk-heading-s">Quantity</h3>
<p>Service Recipient 1 needs 5 licences</p>
<p>Service Recipient 2 needs 5 licences</p>
<p>Service Recipient 3 needs 8 licences</p>
<p>Total quantity: 18</p>

<h3 class="nhsuk-heading-s">Tiers</h3>
<p>Tier 1: 1-9 licences cost £5</p>
<p>Tier 2: 10-19 licences cost £10</p>
<p>Tier 3: 20+ licences cost £15</p>

<p>If you buy 18 licences, you’ll fall into tier 2 and pay £10 in total.</p>

<p><strong>Total cost:</strong> £10</p>
