<p>For tiered cumulative pricing, you pay a price per item depending which tier that item falls into. So the price is calculated based on the total quantity, not the quantity of Service Recipients.</p>

<h2 class="nhsuk-heading-m">Example 1</h2>

<h3 class="nhsuk-heading-s">Quantity</h3>
<p>Service Recipient 1 needs 5 licences</p>
<p>Service Recipient 2 needs 5 licences</p>
<p>Service Recipient 3 needs 15 licences</p>
<p>Total quantity: 25</p>

<h3 class="nhsuk-heading-s">Tiers</h3>
<p>Tier 1: 1-9 licences cost £5</p>
<p>Tier 2: 10-19 licences cost £2.50</p>
<p>Tier 3: 20+ licences cost £1</p>

<h3 class="nhsuk-heading-s">Price</h3>
<p>Tier 1: 9 licences cost £45 (£5 x 9)</p>
<p>Tier 2: 9 licences cost £22.50 (£2.50 x 9)</p>
<p>Tier 3: 7 licences cost £7 (£1 x 7)</p>

<p><strong>Total Cost:</strong> £74.50</p>

<h2 class="nhsuk-heading-m">Example 2</h2>

<h3 class="nhsuk-heading-s">Quantity</h3>
<p>Service Recipient 1 needs 5 licences</p>
<p>Service Recipient 2 needs 5 licences</p>
<p>Service Recipient 3 needs 8 licences</p>
<p>Total quantity: 18</p>

<h3 class="nhsuk-heading-s">Tiers</h3>
<p>Tier 1: 1-9 licences cost £5</p>
<p>Tier 2: 10-19 licences cost £2.50</p>
<p>Tier 3: 20+ licences cost £1</p>

<h3 class="nhsuk-heading-s">Price</h3>
<p>Tier 1: 9 licences cost £45 (£5 x 9)</p>
<p>Tier 2: 9 licences cost £22.50 (£2.50 x 9)</p>
<p>Tier 3: 0 licences cost £0</p>

<p><strong>Total cost:</strong> £67.50</p>
