@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Models.Registration.RegistrationDetailsModel
@{
    Layout = "Layouts/_AllBannersLayout";
    ViewBag.Title = "Request an account";
}

<div data-test-id="registration-details-page">
    <partial name="Partials/_BackLink" model="@Model" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <nhs-validation-summary />
            <nhs-page-title title="@ViewBag.Title"
                            advice="Provide the following details and the Buying Catalogue Team will respond to your request within 5 working days." />

            <form method="post">
                <div class="nhsuk-u-margin-bottom-9">
                    <nhs-input asp-for="FullName"
                               label-text="Full name"
                               label-hint="We'll use the name you provide in any replies to your message. It will also be assigned to your user account."/>
                    <nhs-input asp-for="EmailAddress"
                               label-text="Email address"
                               label-hint="You must provide a valid NHS email address. It’ll be used to contact you if necessary and to log in to your account." />
                    <nhs-input asp-for="OrganisationName"
                               label-text="Your organisation's name"
                               label-hint="We currently only support accounts for staff from Integrated Care Boards, Commissioning Support Units or GP practices that are involved in procurement." />
                    <nhs-input asp-for="OdsCode"
                               label-text="Your organisation's ODS code (optional)"
                               label-hint="Provide the ODS code for your organisation if you know it."/>
                </div>

                <div class="nhsuk-u-margin-bottom-9">
                    <h2>Privacy policy agreement</h2>
                    <p>
                        You must confirm you have read and understood our <a href='~/privacy-policy' target="_blank">privacy policy (opens in a new tab)</a> before sending.
                    </p>
                    <nhs-fieldset-form-label asp-for="@Model">
                        <nhs-checkbox-container>
                            <nhs-checkbox asp-for="HasReadPrivacyPolicy"
                                          label-text="I have read and understood the privacy policy"/>
                        </nhs-checkbox-container>
                    </nhs-fieldset-form-label>
                    <nhs-checkbox-container>
                        <nhs-checkbox asp-for="HasGivenUserResearchConsent"
                                      label-text="I am happy to be contacted to take part in user research"/>
                    </nhs-checkbox-container>
                </div>

                <input type="hidden" asp-for="BackLink"/>
                <input type="hidden" asp-for="BackLinkText"/>

                <nhs-submit-button text="Submit Request"/>
            </form>
        </div>
    </div>
</div>
