@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListOrganisationsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Manage Buyer Organisations and Users";
}

<div class="nhsuk-width-container" data-test-id="organisations">
    <nhs-page-title title="Manage buyer organisations and users"
                    advice="Manage existing account information or add new users to an organisation." />

    <div data-test-id="add-org-button">
        <vc:nhs-action-link url="@Url.Action(
        nameof(OrganisationsController.Find),
        typeof(OrganisationsController).ControllerName())"
                            text="Add an organisation"/>
    </div>

    <nhs-table data-test-id="org-table">
        <nhs-table-column>Organisation name</nhs-table-column>
        <nhs-table-column class="nhsuk-u-nowrap">ODS code</nhs-table-column>
        <nhs-table-column>
        </nhs-table-column>

        @foreach (var organisationModel in Model.Organisations)
        {
            <nhs-table-row-container>
                <nhs-table-cell>
                    <span data-test-id="org-name">
                        @organisationModel.Name
                    </span>
                </nhs-table-cell>
                <nhs-table-cell>
                    <span data-test-id="org-ods-code">
                        @organisationModel.OdsCode
                    </span>
                </nhs-table-cell>
                <nhs-table-cell>
                    <a data-test-id="org-link" data-org-id="@organisationModel.Id" href="/admin/organisations/@organisationModel.Id">Manage</a>
                </nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>
</div>
