@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListOrganisationsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Manage Buyer Organisations and Users";
}

@section Breadcrumbs {
    <vc:nhs-breadcrumbs items="@Model.BreadCrumb()" />
}

<div class="nhsuk-width-container" data-test-id="organisations">
    <h1 data-test-id="org-dashboard-title">Manage organisations and users</h1>
    <p data-test-id="org-dashboard-description" class="nhsuk-lede-text">Edit existing account information or add new users to an organisation.</p>
    <div class="nhsuk-action-link" data-test-id="add-org-button">
        <a class="nhsuk-action-link__link" href="/admin/organisations/find">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Add an organisation</span>
        </a>
    </div>

    <nhs-table data-test-id="org-table">
        <nhs-table-column>Organisation name</nhs-table-column>
        <nhs-table-column class="nhsuk-u-nowrap">ODS code</nhs-table-column>
        <nhs-table-column>
        </nhs-table-column>

        @foreach (var organisationModel in Model.Organisations)
        {
            <nhs-table-row-container>
                <nhs-table-cell>
                    <span data-test-id="org-name">
                        @organisationModel.Name
                    </span>
                </nhs-table-cell>
                <nhs-table-cell>
                    <span data-test-id="org-ods-code">
                        @organisationModel.OdsCode
                    </span>
                </nhs-table-cell>
                <nhs-table-cell>
                    <a data-test-id="org-link" data-org-id="@organisationModel.Id" href="/admin/organisations/@organisationModel.Id">Manage</a>
                </nhs-table-cell>
            </nhs-table-row-container>
        }
    </nhs-table>
</div>
