@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin landing page";
}

<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1>Buying Catalogue admin</h1>
                <p class="nhsuk-lede-text">
                    Manage organisations, user accounts and solutions on the Buying Catalogue.
                </p>
                <hr>
                <p>
                    As an administrator for the Buying Catalogue, you can add organisations and users and edit the details of existing accounts. You can also add new solutions and edit ones that are already published.
                </p>
                <vc:nhs-action-link url="@Url.Action(
                                        nameof(HomeController.BuyerOrganisations),
                                        typeof(HomeController).ControllerName())"
                                    text="Manage buyer organisations and users" />
                <vc:nhs-action-link url="@Url.Action(
                                        nameof(HomeController.BuyerOrganisations),
                                        typeof(HomeController).ControllerName())"
                                    text="Manage suppliers organisations" />
                <vc:nhs-action-link url="@Url.Action(
                                        nameof(HomeController.BuyerOrganisations),
                                        typeof(HomeController).ControllerName())"
                                    text="Manage Catalogue Solutions" />
            </div>
        </div>
        <br><br>

    </main>
</div>
