@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Controllers.Contracts;
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions;

@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Order.Models.Contracts.AssociatedServicesBilling.BasicBillingModel
@{
    ViewBag.Title = "Bespoke Associated Services requirements";
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <nhs-page-title title="@ViewBag.Title"
                        caption="Order @Model.CallOffId"
                        advice="Document any specific requirements for your Associated Services."/>

        <p>As you’ve agreed some specific requirements for your Associated Services with the supplier, you need to document them.
            You can do this by downloading and completing <a href="https://gpitbjss.atlassian.net/wiki/spaces/BG/pages/12057968779/Order+form+templates" target="_blank">section 2 of Appendix 2: Associated Services billing and requirements (opens in a new tab)</a></p>
        <p>This document must be included when you send your order to the supplier. You can download it now or after you’ve completed your order. </p>

        <vc:nhs-secondary-button url="@Url.Action(nameof(OrderController.Order),
                                                  typeof(OrderController).ControllerName(),
                                                  new { Model.InternalOrgId, Model.CallOffId})"
                                 use-primary-colour="true"
                                 text = "Continue" />                                            

    </div>
</div>
