@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton.NhsSecondaryButtonModel

@{ 
    ViewBag.SecondaryClass = !Model.UsePrimaryColour ? "nhsuk-button--secondary" : string.Empty;
}

    <a class="nhsuk-button @ViewBag.SecondaryClass" href="@Model.Url" draggable="false">
        @Model.Text
    </a>
