@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton.NhsSecondaryButtonModel

    <a class="nhsuk-button @Model.ButtonClass href="@Model.Url" draggable="false">
        @Model.Text
    </a>
