@model NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsSecondaryButton.NhsSecondaryButtonModel

    <a class="nhsuk-button nhsuk-button--secondary" href="@Model.Href" draggable="false">
        @Model.Text
    </a>
