@model ResultsOrderingInformation

<div class="nhsuk-grid-column-three-quarters">
    <h2>Download your results</h2>

    @if(!Model.IsDirectAward)
    {
        <p>Download the results of your competition as evidence of how you arrived at your winning solution.</p>
    }
    else
    {
        <p>Download the results of your competition as evidence of how you arrived at one solution.</p>
    }

    <vc:nhs-secondary-button text="Download results (PDF)"
                                url="@Model.PdfUrl"
                                type="Secondary" />

    @if (Model.IsDirectAward)
    {
        <h2>Ordering information</h2>
        <p>As you only have one result, you can procure this solution using a direct award.</p>
    }

</div>
