@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ConfirmationModel
@{
    ViewBag.Title = $"{Model.Name} created";
}

<div data-test-id="create-org-confirmation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="@ViewBag.Title"
                    advice="This organisation has been created on the Buying Catalogue." />
</div>
