@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.EditConfirmationModel
@{
    ViewData["Title"] = $"{Model.Name} created";
}

<div class="nhsuk-width-container" data-test-id="create-org-confirmation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <h1 data-test-id="create-org-confirmation-page-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">@Model.Name created</h1>
    <h2 data-test-id="create-org-confirmation-page-description" class="nhsuk-u-font-size-24 nhsuk-u-margin-bottom-6">This organisation has been created on the Buying Catalogue.</h2>
</div>
