@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.EditConfirmationModel
@{
    ViewData["Title"] = $"{Model.Name} updated";
}

<div data-test-id="edit-organisation-confirmation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="@Model.Name updated" advice="This organisation's details have been updated." />
</div>
