@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.AddAnOrganisationErrorModel
@{
    ViewData["Title"] = "Error";
}

<div data-test-id="create-org-error-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="@ViewData["Title"]" advice="@Model.Error" />
</div>
