@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.ListOrganisationsModel
@{
    ViewData["Title"] = "Manage organisations and users";
}

<div class="nhsuk-width-container" data-test-id="organisations">    
    <partial name="_BackLink" model="Model" />    
    <h1 data-test-id="org-dashboard-title" class="nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-3">Manage organisations and users</h1>
    <h2 data-test-id="org-dashboard-description" class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-9">Edit existing account information or add new users to an organisation.</h2>

    <div data-test-id="add-org-button">
        <a class="nhsuk-button nhsuk-u-margin-bottom-9" href="/admin/organisations/find" draggable="false">
            Add an organisation
        </a>
    </div>

    <div data-test-id="org-table" class="nhsuk-u-font-size-19">
        <table data-test-id="table" class="" style="page-break-inside:auto">
            <thead data-test-id="table-headings" style="display:table-header-group;">
            <th data-test-id="column-heading-0" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-0-data" class="nhsuk-u-font-weight-bold">Organisation name</div>
            </th>
            <th data-test-id="column-heading-1" class="nhsuk-u-padding-bottom-0 " style="width:">
                <div data-test-id="column-heading-1-data" class="nhsuk-u-font-weight-bold">ODS code</div>
            </th>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Organisations.Count(); i++)
                {
                    <tr data-test-id="table-row-@i.ToString()" style="page-break-inside:avoid; page-break-after:auto">
                        <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                            <a data-test-id="org-name-@Model.Organisations[i].OrganisationId" href="/admin/organisations/@Model.Organisations[i].OrganisationId">@Model.Organisations[i].Name</a>
                        </td>
                        <td class="nhsuk-u-padding-bottom-0" style="border-bottom-style: solid">
                            <div data-test-id="ods-code-@Model.Organisations[i].OrganisationId" class="bc-c-data-text ">@Model.Organisations[i].OdsCode</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>






