@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.UserEnablingModel
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@{
    ViewData["Title"] = $"{Model.User.GetDisplayName()} account disabled";
}

<div data-test-id="disable-user-confirmation-page">
    <partial name="Partials/_BackLink" model="Model" />
    <nhs-page-title title="@ViewData["Title"]" advice="This user account is no longer active." />
</div>
