@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.CapabilitiesViewModel;

<article>
    <p>
        <strong>
            This Catalogue Solution has demonstrated that it can help meet the following business needs:
        </strong>
    </p>

    <partial name="_CapabilitiesList" model="Model"/>
</article>
