@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.ListPriceModel;
@{
    Layout = "_Layout";
}

<div class="nhsuk-width-container ">
    <main id="maincontent" role="main">
        <article>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                    <p><b>This Catalogue Solution is available at the following price:</b></p>

                    @if (Model.HasFlatListPrices())
                    {
                        <table>
                            <caption>Flat list price</caption>
                            <thead role="rowgroup">
                                <tr role="row">
                                    <th>Price</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FlatListPrices)
                                {
                                    <tr role="row">
                                        <td>@item.CurrencyCode@item.Price</td>
                                        <td>@item.Unit</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </article>
    </main>
</div>
