<header data-test-id="header-banner" class="bc-c-header nhsuk-header nhsuk-header--organisation nhsuk-header--white nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-2" role="banner">
    <div class="nhsuk-width-container">
        <partial name="Headers/_HeaderContent" />
    </div>
</header>
