@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Identity.Controllers
@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.Views.Shared.Components.NhsLoginIcon

@{
    var navMenuModel = new NavigationMenuModel(User, Url, Context.Request.RouteValues);
}
<header class="nhsuk-header" role="banner">
    <div class="nhsuk-width-container nhsuk-header__container">
        <partial name="Headers/_HeaderContent"/>
        <div class="nhsuk-header__content" id="content-header">
            <div class="nhsuk-account__login">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="nhsuk-account__login--link" href="@Url.Action(nameof(YourAccountController.Index), typeof(YourAccountController).ControllerName(), new { area = typeof(YourAccountController).AreaName() })">
                        <b>My account</b>
                        <vc:nhs-login-icon/>
                    </a>
                }
                else
                {
                    <a class="nhsuk-account__login--link" href="@Url.Action(nameof(AccountController.Login), typeof(AccountController).ControllerName(), new { area = typeof(AccountController).AreaName() })">
                        Log in
                        <vc:nhs-login-icon/>
                    </a>
                }
            </div>
        </div>
    </div>
    <vc:nhs-navigation-panel title="Menu" items="@(navMenuModel.Links.ToList())"/>
</header>
