<div class="nhsuk-header__logo">
    <a class="nhsuk-header__link" href="~/" aria-label="Buying Catalogue Homepage">
        <vc:nhs-logo/>
    </a>
</div>

<div class="nhsuk-header__transactional-service-name">
    <a class="nhsuk-header__transactional-service-name--link" href="/admin">Buying Catalogue</a>
</div>
