@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Orders.Models.SolutionSelection.Quantity.ViewOrderItemQuantityModel
@{
    ViewBag.Title = Model.Title;
}

<partial name="Partials/_BackLink" model="Model" />

<div class="nhsuk-grid-row" data-test-id="perSolution">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary/>
        <nhs-page-title model="Model" />
        
        <div id="order-item-quantity">
            <nhs-summary-list>
                <nhs-summary-list-row label-text="Quantity">
                    @Model.Quantity @Model.QuantityDescription
                </nhs-summary-list-row>
            </nhs-summary-list>
        </div>
        
        <div class="nhsuk-u-margin-top-9">
            <vc:nhs-secondary-button text="Save and continue"
                                     type="Primary"
                                     url="@Model.BackLink"/>
        </div>
    </div>
</div>
