<details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details0">
    <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
        <span class="nhsuk-details__summary-text">
            Filter Catalogue Solutions
        </span>
    </summary>
    <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
        <p class="nhsuk-hint">
            Lorem ipsum dolor sit amet.
        </p>

        <div class="nhsuk-form-group">

            <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="frameworks-1" name="frameworks" type="radio" value="framework1">
                    <label class="nhsuk-label nhsuk-radios__label" for="frameworks-1">
                        Published
                    </label>
                </div>


                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="frameworks-2" name="frameworks" type="radio" value="framework1">
                    <label class="nhsuk-label nhsuk-radios__label" for="frameworks-2">
                        Unpublished
                    </label>
                </div>


                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="frameworks-3" name="frameworks" type="radio" value="framework2">
                    <label class="nhsuk-label nhsuk-radios__label" for="frameworks-3">
                        Suspended
                    </label>
                </div>


                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="frameworks-4" name="frameworks" type="radio" value="framework2">
                    <label class="nhsuk-label nhsuk-radios__label" for="frameworks-4">
                        Delete
                    </label>
                </div>

            </div>
        </div>

    </div>
</details>
