@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.DescriptionModel;
@{
    ViewBag.Title = "Description";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.SolutionName"
                        advice="Give buyers as much detail as possible about your Catalogue Solution." />

        <form method="post">
            <input type="hidden" asp-for="SolutionId" />
            <input type="hidden" asp-for="BackLink" />
            <input type="hidden" asp-for="SolutionName" />
            <nhs-textarea asp-for="Summary"
                          label-text="Summary"
                          label-hint="Provide a brief overview of your Catalogue Solution."
                          number-of-rows="5" />
            <nhs-textarea asp-for="Description"
                          label-text="Full description (optional)"
                          label-hint="Provide a more detailed description of your Catalogue Solution, for example how it can be used and how it benefits users." />
            <nhs-input asp-for="Link"
                       label-text="Link to more information (optional)"
                       label-hint="Provide a URL to a page that gives buyers further information about your Catalogue Solution." />
            <br/>
            <nhs-submit-button text="Save and continue" />
        </form>
    </div>
</div>
