@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.CatalogueSolutionsModels.FeaturesModel
@{
    ViewBag.Title = "Features";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<nhs-page-title title="@ViewBag.Title"
                caption="@Model.SolutionName"
                advice="Highlight to buyers the key features of your Catalogue Solution."/>

        <h2>Features list (optional)</h2>

        <div class="nhsuk-hint">
            List up to 10 key features of your Catalogue Solution that help meet needs in health and social care. For example, how it can support the management of information and resources.
        </div>

        <form method="post">

            <nhs-input asp-for="Feature01" label-text="Feature 1 (optional)" />
            <nhs-input asp-for="Feature02" label-text="Feature 2 (optional)" />
            <nhs-input asp-for="Feature03" label-text="Feature 3 (optional)" />
            <nhs-input asp-for="Feature04" label-text="Feature 4 (optional)" />
            <nhs-input asp-for="Feature05" label-text="Feature 5 (optional)" />
            <nhs-input asp-for="Feature06" label-text="Feature 6 (optional)" />
            <nhs-input asp-for="Feature07" label-text="Feature 7 (optional)" />
            <nhs-input asp-for="Feature08" label-text="Feature 8 (optional)" />
            <nhs-input asp-for="Feature09" label-text="Feature 9 (optional)" />
            <nhs-input asp-for="Feature10" label-text="Feature 10 (optional)" />
            <br/>
            <nhs-submit-button />

        </form>
    </div>
</div>
