
@{
    ViewData["Title"] = "Manage Catalogue Solutions";
}

<div class="nhsuk-width-container" data-test-id="organisations">

    <div class="nhsuk-grid-column-full">
        <h1>Manage Catalogue Solutions</h1>

        <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Unpublished solutions</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Solution ID
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Solution name
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Supplier
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Last updated by
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Last updated
                    </th>
                    <th role="columnheader" class="" scope="col">

                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10000-001
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Caltech Web
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Caltech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10000-001
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Caltech Web
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Caltech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>

        <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Published solutions</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Solution ID
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Solution name
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Supplier
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Last updated by
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Last updated
                    </th>
                    <th role="columnheader" class="" scope="col">

                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>10002-002
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Solution </span>Initech TPS Reports
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Supplier </span>Initech
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated by </span>Jane Doe
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Last updated </span>20/02/2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Action </span><a href="admin-solution" style="white-space: nowrap;">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
