@using NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.Dashboard
@model CompetitionDashboardModel

@{
    ViewBag.Title = "Your organisation's competitions";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.OrganisationName"/>

        <partial name="Dashboard/_CompetitionsCardPartial" model="@(new DashboardCardBaseModel<CompetitionDashboardItem>(Model.InternalOrgId, Model.Competitions, Model.Competitions.Count))" />
    </div>
</div>
