@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSD.GPIT.BuyingCatalogue.UI.Components.TagHelpers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Models.Shared.ReviewFilterModel

@{
    ViewBag.Title = "Review your filter";
}

<partial name="Partials/_BackLink" model="@Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-page-title title="@ViewBag.Title"
                        caption=@Model.FilterDetails.Name
                        advice="These are the details for this filter."/>

        <partial name="Partials/_FilterDetailsPartial" model="Model" />

        <form method="post">
            <nhs-submit-button text="Continue"/>

            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
        </form>
    </div>
</div>
