@model Dictionary<string,string>

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                @foreach (var item in @Model)
                {
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="@item.Value">@item.Key</a></li>
                }
            </ol>           
        </div>
    </nav>
