@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.AdditionalFiltersModel
<form method="post">
    @{
        var clientAppTypeIndex = 0;
    }
    <nhs-expander label-text="Framework"
                  open="true"
                  data-test-id="filter-framework-expander">

        <nhs-fieldset-form-label asp-for="SelectedFrameworkId">
            <nhs-radio-buttons asp-for="SelectedFrameworkId"
                               values="Model.FrameworkOptions.Cast<object>()"
                               value-name="Value"
                               display-name="Text"/>
        </nhs-fieldset-form-label>
    </nhs-expander>
     <nhs-expander label-text="Client application Type" open="true">
        <nhs-table>
            @foreach (var value in Model.ClientApplicaitontypeOptions)
            {
                <nhs-table-row-container>
                    <nhs-table-cell>
                        <nhs-checkbox-container>
                            <nhs-checkbox asp-for="@Model.ClientApplicaitontypeOptions[clientAppTypeIndex].Selected"
                                      hidden-input="@Model.ClientApplicaitontypeOptions[clientAppTypeIndex].Value"
                                      label-text="@Model.ClientApplicaitontypeOptions[clientAppTypeIndex].Text" 
                                      />
                        </nhs-checkbox-container>
                    </nhs-table-cell>
                </nhs-table-row-container>
                clientAppTypeIndex++;
            }
        </nhs-table>
    </nhs-expander>


    <nhs-submit-button style="width:100%" text="Apply additional filters" class="nhsuk-button--secondary"/>

</form>
