@using NHSD.GPIT.BuyingCatalogue.WebApp.Controllers
@using NHSD.GPIT.BuyingCatalogue.Framework.Extensions
@using NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Controllers
@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Solutions.Models.Filters.IncludeAdditionalfiltersModel

<form method="post">
    <nhs-expander label-text="Framework"
                              open="true">
        <nhs-radio-button-container>
            @foreach (var options in Model.FrameworkOptions)
            {
                <nhs-radio-button asp-for="SelectedFrameworkId"
                              display-name="Text"
                              value="options"
                              value-name="Value"/>

                <br />
            }
        </nhs-radio-button-container>
        <input type="hidden" asp-for="SelectedFrameworkId" />
    </nhs-expander>
    <nhs-submit-button style= "width:100%" text="Apply additional filters" class="nhsuk-button--secondary" />
    
</form>

