@model CompetitionShortlistedSolutionsModel

@{
    ViewBag.Title = "Shortlisted Catalogue Solutions";
}

<partial name="Partials/_BackLink" model="Model"/>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <nhs-page-title title="@ViewBag.Title"
                        caption="@Model.CompetitionName"
                        advice="These are the solutions you added to your shortlist for this competition."/>

            <nhs-card-v2>
                <nhs-card-content>
                        
                    <nhs-fieldset-form-label asp-for="Solutions"
                                             label-text="Your shortlisted solutions">
                        <p><b>All links open in a new tab.</b></p>
                    </nhs-fieldset-form-label>

                        @foreach (var solution in Model.Solutions)
                        {
                            <partial name="_ShortlistedSolution" model="solution" />
                        }
                 
                </nhs-card-content>
            </nhs-card-v2>

            <vc:nhs-secondary-button text="Save and continue"
                                     type="Primary"
                                     url="@Model.BackLink"/>

        
    </div>
</div>
