@model NHSD.GPIT.BuyingCatalogue.WebApp.Areas.Admin.Models.FrameworkModels.AddFrameworkModel

@{
    ViewBag.Title = "Add a framework";
}

<partial name="Partials/_BackLink" model="Model" />
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <nhs-validation-summary />

        <nhs-page-title title="@ViewBag.Title" advice="Provide the following information about this framework."/>

        <form method="post">
            <input type="hidden" asp-for="BackLink"/>

            <nhs-input label-text="Name"
                       label-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
                       asp-for="Name"/>

            <nhs-fieldset-form-label asp-for="@Model"
                                     label-text="Supports local funding only"
                                     label-hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                                     size="Medium">
                    <nhs-checkbox-container>
                        <nhs-checkbox asp-for="IsLocalFundingOnly"
                                      label-text="Is local funding only"/>
                    </nhs-checkbox-container>
            </nhs-fieldset-form-label>

            <div>
                <nhs-submit-button/>
            </div>
            <div>
                <a href="@Model.BackLink">Cancel</a>
            </div>
        </form>
    </div>
</div>
